h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

.full-width-input {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-form-field,
mat-select,
mat-option {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.correspondence-description-attribution {
  opacity: 0.8;
  font-style: italic;
  font-family: titillium web, sans-serif;
}
