<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-account-plus" *ngIf="(title == 'Add Assessor')" style="color: #2471A3;"></i>
  <i class="mdi mdi-24px mdi-account-edit" *ngIf="(title == 'Edit Assessor')" style="color: #2471A3;"></i> 
  <span *ngIf="title == 'Add Assessor'">&nbsp;&nbsp;
    {{ 'crMgt.addCorrespondence' | translate }}
  </span>
  <span *ngIf="title == 'Edit Assessor'">&nbsp;&nbsp;{{ 'crMgt.editCorrespondence' | translate }}</span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="assessorForm">
    <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
        <div fxFlex>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.externalAssessor.title.label' | translate }}</mat-label>
                <mat-select formControlName="title">
                    <mat-option *ngFor="let title of titles" [value]="title.value">
                        {{ title.value }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="assessorForm.get('title').hasError('required')">
                    {{ 'crMgt.externalAssessor.title.error' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.author.firstName.label' | translate }}</mat-label>
                <input matInput placeholder="{{ 'crMgt.author.firstName.label' | translate }}" formControlName="firstName" required>
                <mat-error *ngIf="assessorForm.get('firstName').hasError('required')">
                    {{ 'crMgt.author.firstName.error' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.author.fatherName.label' | translate }}</mat-label>
                <input matInput placeholder="{{ 'crMgt.author.fatherName.label' | translate }}" formControlName="lastName" required>
                <mat-error *ngIf="assessorForm.get('lastName').hasError('required')">
                    {{ 'crMgt.author.fatherName.error' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.author.gFatherName.label' | translate }}</mat-label>
                <input matInput placeholder="{{ 'crMgt.author.gFatherName.label' | translate }}" formControlName="dFatherName"
                    required>
                <mat-error *ngIf="assessorForm.get('dFatherName').hasError('required')">
                    {{ 'crMgt.author.gFatherName.error' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.author.email.label' | translate }}</mat-label>
                <input matInput placeholder="{{ 'crMgt.author.email.label' | translate }}" formControlName="email" required
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <mat-error *ngIf="assessorForm.get('email').hasError('required')">
                    {{ 'crMgt.author.email.error.required' | translate }}
                </mat-error>
                <mat-error *ngIf="assessorForm.get('email').hasError('pattern')">
                    {{ 'crMgt.author.email.error.format' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.author.telephone.label' | translate }}</mat-label>
                <input matInput placeholder="{{ 'crMgt.author.telephone.label' | translate }}" formControlName="telephone" required>
                <mat-error *ngIf="assessorForm.get('telephone').hasError('required')">
                    {{ 'crMgt.author.telephone.error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex fxLayout="column">
            <div fxFlex>
                <mat-form-field class="full-width-input">
                    <mat-label>{{ 'crMgt.externalAssessor.areaOfExpertise.label' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'crMgt.externalAssessor.areaOfExpertise.label' | translate }}"
                        formControlName="areaOfExpertise" required>
                    <mat-error *ngIf="assessorForm.get('areaOfExpertise').hasError('required')">
                        {{ 'crMgt.externalAssessor.areaOfExpertise.error' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <mat-label>{{ 'crMgt.externalAssessor.institution.label' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'crMgt.externalAssessor.institution.label' | translate }}"
                        formControlName="institutions">
                    <mat-error *ngIf="assessorForm.get('institutions').hasError('required')">
                        {{ 'crMgt.externalAssessor.institution.error' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <fieldset style="display: inline-block; padding: 10px;">
                    <legend>
                        <span class="correspondence-description-attribution">
                            {{ 'crMgt.author.paymentDetails' | translate }}
                        </span>
                    </legend>
                    <mat-form-field class="full-width-input">
                        <mat-label>{{ 'crMgt.author.bName.label' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'crMgt.author.bName.label' | translate }}" formControlName="bName" required>
                        <mat-error *ngIf="assessorForm.get('bName').hasError('required')">
                            {{ 'crMgt.author.bName.error' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <mat-label>{{ 'crMgt.author.bAcc.label' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'crMgt.author.bAcc.label' | translate }}" formControlName="bAcc" required>
                        <mat-error *ngIf="assessorForm.get('bAcc').hasError('required')">
                            {{ 'crMgt.author.bAcc.error' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <mat-label>{{ 'crMgt.author.tin.label' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'crMgt.author.tin.label' | translate }}" formControlName="tin" required>
                        <mat-error *ngIf="assessorForm.get('tin').hasError('required')">
                            {{ 'crMgt.author.tin.error' | translate }}
                        </mat-error>
                    </mat-form-field>
                </fieldset>                
            </div>
        </div>
    </div>    
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #C0392B;"></i>
  </button>
  <button class="mat-raised-button mat-primary" [disabled]="loading" (click)="save()">
    {{ 'crMgt.correspondeForm.save' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-content-save-outline"></i>
  </button>
  <img *ngIf="loading" class="loading-img"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</mat-dialog-actions>