.container {
  width: 99%;
  min-height: 74vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  text-transform: uppercase;
}

:lang(am) .dash-title {
  font-size: 250%;
}

.divider {
  width: 20%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.add-correspondence-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

send-btn {
  border: 1px solid #28b463;
  color: #28b463;
}

.mat-form-field {
  font-family: titillium web, sans-serif;
  width: 70%;
}

table {
  width: 100%;
}

.loaded {
  display: inline-table;
}

.not_loaded {
  display: none;
}

th {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

th.operations-header {
  text-align: center;
  font-size: 1.2em;
}

td {
  font-family: titillium web, sans-serif;
}

td.operations {
  width: 30%;
  font-family: titillium web, sans-serif;
  text-align: center;
}

tr.correspondence-detail-row {
  height: 0;
}

tr.correspondence-row:not(.correspondence-expanded-row):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.correspondence-row:not(.correspondence-expanded-row):active {
  background: #efefef;
}

.correspondence-row td {
  border-bottom-width: 0;
}

.correspondence-detail {
  overflow: hidden;
  display: flex;
}

.correspondence-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 115px;
}

.correspondence-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.correspondence-description {
  padding: 16px;
}

.correspondence-description-attribution {
  opacity: 0.8;
  font-style: italic;
  font-family: titillium web, sans-serif;
}

.calendar {
  font-size: x-small;
}

:lang(am) .calendar {
  font-size: small;
}

.destination_dept_1 {
  border: 1px solid #229954;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.destination_dept_2 {
  border: 2px solid #229954;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.spinner-container {
  height: 360px;
  width: 500px;
  position: fixed;
  margin-left: 100px;
}

.table-container {
  min-height: 130px;
  max-height: 330px;
  overflow: auto;
}

.correspondence-table {
  min-height: 130px;
}

.spinner-container mat-spinner {
  margin: 90px auto 0 auto;
}
