<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px">
          <div style="margin-bottom: -10px">
            <i class="mdi mdi-24px mdi-arrow-top-left-thin-circle-outline" style="color: #e74c3c"></i>
          </div>
          
          <div style="margin-top: 5px">
            <i class="mdi mdi-48px  mdi-clipboard-arrow-right" style="margin: 0px; color: #4a235a"></i>
          </div>
        </div>
        <h1 class="dash-title">
          {{ 'crMgt.internalOutgoing' | translate }}
        </h1>
      </div>
    </div>
    <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'">
      <hr class="divider"  [ngClass.xs]="'divider_xs'" />
    </div>
    <div fxFlex *ngIf="canAdd">
      <button mat-raised-button color="primary" class="add-correspondence-btn" (click)="addCorrespondence($event)">
        <i class="mdi mdi-24px mdi-file-plus-outline"></i>
        &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
      </button>
    </div>
    <div fxFlex>
      <div>
        <i class="mdi mdi-24px mdi-database-search-outline"></i>&nbsp;
      
        <mat-form-field>
          <input matInput placeholder="{{ 'crMgt.filter' | translate }}" #input>
        </mat-form-field>
      </div>
      
      <div class="spinner-container" *ngIf="outgoingInternalDataSource.loading$ | async">
      
        <mat-spinner></mat-spinner>
      
      </div>

      <div class="table-container">        
        <table mat-table matSort [dataSource]="outgoingInternalDataSource" multiTemplateDataRows class="mat-elevation-z8 correspondence-table">
          <ng-container matColumnDef="referenceNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.referenceNo.label' | translate }}
            </th>
            <td mat-cell *matCellDef="let correspondence"
              [style.color]="correspondence.status == 'Archived' ? '#0B5345' : 
                                correspondence.status == 'Rejected' ? '#922B21' : 'black'"
              [style.font-weight]="correspondence.status == 'Archived' ? 'bold' : 'normal'"
              [style.font-style]="correspondence.status == 'Rejected' ? 'italic' : 'normal'">
              {{ correspondence.referenceNo }}
            </td>
          </ng-container>
      
          <ng-container matColumnDef="letterDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.letterDate.label' | translate }}
            </th>
            <td mat-cell *matCellDef="let correspondence"
              [style.color]="correspondence.status == 'Archived' ? '#0B5345' : 
                                correspondence.status == 'Rejected' ? '#922B21' : 'black'"
              [style.font-weight]="correspondence.status == 'Archived' ? 'bold' : 'normal'"
              [style.font-style]="correspondence.status == 'Rejected' ? 'italic' : 'normal'">
              {{ correspondence.letterDateEC }}
            </td>
          </ng-container>
      
          <ng-container matColumnDef="destination">
            <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.destination' | translate }}
            </th>
            <td fxHide.xs mat-cell *matCellDef="let correspondence"
              [style.color]="correspondence.status == 'Archived' ? '#0B5345' : 
                                correspondence.status == 'Rejected' ? '#922B21' : 'black'"
              [style.font-weight]="correspondence.status == 'Archived' ? 'bold' : 'normal'"
              [style.font-style]="correspondence.status == 'Rejected' ? 'italic' : 'normal'">
              {{ correspondence.destination.description | truncateString }}
              <span *ngIf="correspondence.destination.description.length > 40">&hellip;</span>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="subject">
            <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.subject.label' | translate }}
            </th>
            <td fxHide.xs mat-cell *matCellDef="let correspondence"
              [style.color]="correspondence.status == 'Archived' ? '#0B5345' : 
                                correspondence.status == 'Rejected' ? '#922B21' : 'black'"
              [style.font-weight]="correspondence.status == 'Archived' ? 'bold' : 'normal'"
              [style.font-style]="correspondence.status == 'Rejected' ? 'italic' : 'normal'">
              {{ correspondence.subject | truncateString }}
              <span *ngIf="correspondence.subject.length > 40">&hellip;</span>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef class="operations-header">
              {{ 'crMgt.correspondence.actions' | translate }}
            </th>
            <td mat-cell *matCellDef="let correspondence" (click)="$event.stopPropagation()" class="operations">
              <button *ngIf="!correspondence.hasCc" fxHide.xs mat-button color="primary"></button>
              <button *ngIf="correspondence.hasCc" fxHide.xs mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.cc' | translate }}" [disabled]="(correspondence.status != 'New')"
                (click)="addCorrespondenceCC(correspondence)">
                <i class="mdi mdi-24px mdi-closed-caption-outline"
                  [ngStyle]="{color: correspondence.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canEdit" mat-button color="primary" 
                  matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                  [disabled]="(correspondence.status != 'New')"
                  (click)="editCorrespondence(correspondence)">
                <i class="mdi mdi-24px mdi-file-document-edit-outline" 
                    [ngStyle]="{color: correspondence.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canUpload" mat-button color="primary" 
                  matTooltip="{{ 'crMgt.menuActions.upload' | translate }}" 
                  [disabled]="(correspondence.status != 'New')"
                  (click)="uploadDocument(correspondence)">
                <i class="mdi mdi-24px mdi-progress-upload" 
                    [ngStyle]="{color: correspondence.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>              
              <button fxHide.xs *ngIf="canRoute" mat-button color="primary" 
                matTooltip="{{ 'crMgt.menuActions.route' | translate }}"
                [disabled]="(correspondence.status == 'New')"
                (click)="assignCorrespondence(correspondence)">
                <i class="mdi mdi-24px mdi-file-swap-outline" 
                    [ngStyle]="{color: correspondence.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canRoute" mat-button color="primary"
                matTooltip="{{ 'crMgt.assignment.previewAssignment' | translate }}" 
                [disabled]="(correspondence.status == 'New')"
                (click)="previewCorrespondenceAssignmentHistory(correspondence)">
                <i class="mdi mdi-18px mdi-magnify-plus-cursor"
                  [ngStyle]="{color: correspondence.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canComment" mat-button color="primary" 
                  matTooltip="{{ 'crMgt.menuActions.comment' | translate }}" 
                  [disabled]="(correspondence.status == 'New')"
                  (click)="commentCorrespondence(correspondence)">
                <i class="mdi mdi-24px mdi-comment-multiple-outline"
                    [ngStyle]="{color: correspondence.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button> 
              <button fxHide.xs *ngIf="canPreview" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.preview' | translate }}" (click)="previewCorrespondence(correspondence)">
                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471a3"></i>
              </button>
              <button fxHide.xs *ngIf="canDelete" mat-button color="primary" 
                  matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" 
                  [disabled]="(correspondence.status != 'New')"
                  (click)="deleteCorrespondence(correspondence)">
                <i class="mdi mdi-24px mdi-file-remove-outline"                   
                  [ngStyle]="{color: correspondence.status == 'New' ? '#c0392b' : '#BDC3C7'}"></i>
              </button>

              <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
                <span>
                  <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
                </span>
              </button>
              <mat-menu #moreOption="matMenu">
                <button *ngIf="correspondence.hasCc" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.cc' | translate }}"
                  [disabled]="(correspondence.status != 'New')" (click)="addCorrespondenceCC(correspondence)">
                  <i class="mdi mdi-24px mdi-closed-caption-outline"
                    [ngStyle]="{color: correspondence.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canEdit" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                  [disabled]="(correspondence.status != 'New')" (click)="editCorrespondence(correspondence)">
                  <i class="mdi mdi-24px mdi-file-document-edit-outline"
                    [ngStyle]="{color: correspondence.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canUpload" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.upload' | translate }}"
                  [disabled]="(correspondence.status != 'New')" (click)="uploadDocument(correspondence)">
                  <i class="mdi mdi-24px mdi-progress-upload"
                    [ngStyle]="{color: correspondence.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>                
                <button *ngIf="canRoute" mat-button color="primary" 
                  matTooltip="{{ 'crMgt.menuActions.route' | translate }}"
                  [disabled]="(correspondence.status == 'New')"
                  (click)="assignCorrespondence(correspondence)">
                  <i class="mdi mdi-24px mdi-file-swap-outline" 
                      [ngStyle]="{color: correspondence.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canRoute" mat-button color="primary"
                  matTooltip="{{ 'crMgt.assignment.previewAssignment' | translate }}" [disabled]="(correspondence.status == 'New')"
                  (click)="previewCorrespondenceAssignmentHistory(correspondence)">
                  <i class="mdi mdi-18px mdi-magnify-plus-cursor"
                    [ngStyle]="{color: correspondence.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canComment" mat-button color="primary" 
                  matTooltip="{{ 'crMgt.menuActions.comment' | translate }}"
                  [disabled]="(correspondence.status == 'New')"
                  (click)="commentCorrespondence(correspondence)">
                  <i class="mdi mdi-24px mdi-comment-multiple-outline" 
                      [ngStyle]="{color: correspondence.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button> 
                <button *ngIf="canPreview" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                  (click)="previewCorrespondence(correspondence)">
                  <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471a3"></i>
                </button>
                <button *ngIf="canDelete" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                  [disabled]="(correspondence.status != 'New')" (click)="deleteCorrespondence(correspondence)">
                  <i class="mdi mdi-24px mdi-file-remove-outline"
                    [ngStyle]="{color: correspondence.status == 'New' ? '#c0392b' : '#BDC3C7'}"></i>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="expandedInternalCorrespondenceDetail">
            <td mat-cell *matCellDef="let correspondence" [attr.colspan]="displayedColumns.length">
              <div fxLayout="column" class="correspondence-detail" [@detailExpand]="
                            correspondence == expandedInternalCorrespondence
                              ? 'expanded'
                              : 'collapsed'
                        ">
                <div fxFlex>
                  <div fxFlex fxLayout>
                    <div fxFlex="15" fxFlex.xs=50 fxLayoutAlign="start">
                      <div class="correspondence-diagram">
                        <div class="correspondence-position">
                          {{ correspondence.id }}
                        </div>
                        <div class="correspondence-symbol">
                          {{ correspondence.referenceNo.substring(0, 2) }}
                        </div>
                        <div class="correspondence-name">
                          {{ correspondence.referenceNo }}
                        </div>
                        <div class="correspondence-weight">
                          {{ correspondence.destination.code }}
                        </div>
                      </div>
                    </div>
                    <div fxFlex fxLayout="column" fxHide.xs class="correspondence-description">
                      <div fxFlex fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="none">
                          <fieldset style="display: inline-block; padding: 10px;">
                            <legend>
                              <span class="correspondence-description-attribution">
                                {{ 'crMgt.correspondence.letterDate.label' | translate }}
                              </span>
                            </legend>
                            {{ correspondence.letterDate | date:"dd-MM-yyyy" }}
                            <span class="calendar">
                              {{ 'crMgt.calendar-en' | translate }}
                            </span><br />                            
                            {{ correspondence.letterDateEC }}
                            <span class="calendar">
                              {{ 'crMgt.calendar-et' | translate }}
                            </span>
                          </fieldset>
                        </div>
                        <div fxFlex="none">
                          <fieldset style="display: inline-block; padding: 10px;">
                            <legend>
                              <span class="correspondence-description-attribution">
                                {{ 'crMgt.correspondence.sentDate' | translate }}
                              </span>
                            </legend>
                            {{ correspondence.sentDate | date:"dd-MM-yyyy" }}
                            <span class="calendar">
                              {{ 'crMgt.calendar-en' | translate }}
                            </span> <br />                            
                            {{ correspondence.sentDate | convertDate }}
                            <span class="calendar">
                              {{ 'crMgt.calendar-et' | translate }}
                            </span>
                          </fieldset>
                        </div>
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px; line-height: 200%;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.destination' | translate }}
                        </span>:-
                        <span class="destination_dept_1" style="font-size: 0.7rem;" *ngIf="!loadingDeptTree">
                          {{ (returnDepartmentTree(correspondence.destination.id)).split(" / ")[0] }}
                        </span>
                        <img *ngIf="loadingDeptTree"
                          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        &nbsp;
                        <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                        <span class="destination_dept_1" style="font-size: 0.8rem;" *ngIf="!loadingDeptTree">
                          {{ (returnDepartmentTree(correspondence.destination.id)).split(" / ")[1] }}
                        </span>
                        <img *ngIf="loadingDeptTree"
                          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        &nbsp;
                        <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                        <span class="destination_dept_2" style="font-size: 0.9rem;" *ngIf="!loadingDeptTree">
                          {{ (returnDepartmentTree(correspondence.destination.id)).split(" / ")[2] }}
                        </span>
                        <img *ngIf="loadingDeptTree"
                          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.subject.label' | translate }}
                        </span>:- {{ correspondence.subject }}
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.searchKeywords.label' | translate }}
                        </span>:- {{ correspondence.keyWord }}
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.createdBy' | translate }}
                        </span>:- {{ correspondence.keyInBy.first_name }} {{ correspondence.keyInBy.last_name }}
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.status' | translate }}
                        </span>:- {{ correspondence.status }}
                      </div>
                    </div>
                    <div fxFlex=35 *ngIf="correspondence.hasCc" fxHide.xs>
                      <div fxLayout="column">
                        <div fxFlex style="margin-bottom: 10px;">
                          <span style="font-size: large;">{{ 'crMgt.menuActions.cc' | translate }}</span>
                        </div>
                        <div fxFlex style="margin-bottom: 10px; margin-left: 10px;"
                          *ngFor="let cc of correspondence.correspondenceCarbonCopies">
                          <i class="mdi mdi-18px mdi-link-variant"></i>
                          <span>{{ cc.destination.description }}</span>
                        </div>
                        <div fxFlex fxLayoutAlign="center" *ngIf="correspondence.correspondenceCarbonCopies.length == 0"
                          style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
                          <mat-card class="no-data-card">
                            <h1 style="text-align: center;">
                              {{ 'crMgt.noData' | translate }}
                            </h1>
                          </mat-card>
                        </div>
                      </div>
                    </div>
                    <div fxFlex=15 *ngIf="correspondence.status == 'New'" fxFlex.xs=25 fxLayout="column" fxLayout.xs
                      fxLayoutGap="10px" fxLayoutAlign="center center" fxLayoutAlign.xs="center start">
                      <div *ngIf="correspondence.status == 'New'" fxFlex fxLayoutAlign="center end" fxLayoutAlign.xs="end">
                        <button *ngIf="canAdd" mat-raised-button fxHide.xs class="add-correspondence-btn send-btn"
                          (click)="sendCorrespondence(correspondence)">
                          <i class="mdi mdi-24px mdi-send" style="color: #28B463;"></i>&nbsp;&nbsp;&nbsp;
                          <span>{{ 'crMgt.menuActions.send' | translate }}</span>
                        </button>
                        <button *ngIf="canAdd" mat-mini-fab style="background-color: #28B463;" fxHide.gt-xs
                          (click)="sendCorrespondence(correspondence)">
                          <i class="mdi mdi-24px mdi-send" title="{{ 'crMgt.menuActions.send' | translate }}"></i>
                        </button>
                      </div>
                      <div *ngIf="correspondence.status == 'New'" fxFlex fxLayoutAlign="center start" fxLayoutAlign.xs="start">
                        <button *ngIf="canReject" mat-stroked-button fxHide.xs class="add-correspondence-btn reject-btn"
                          (click)="rejectCorrespondence(correspondence)">
                          <i class="mdi mdi-24px mdi-cancel" style="color: #c0392b;"></i>&nbsp;&nbsp;&nbsp;
                          <span>{{ 'crMgt.menuActions.reject' | translate }}</span>
                        </button>
                        <button *ngIf="canReject" mat-mini-fab style="background-color: #c0392b;" fxHide.gt-xs
                          (click)="rejectCorrespondence(correspondence)">
                          <i class="mdi mdi-24px mdi-cancel" title="{{ 'crMgt.menuActions.reject' | translate }}"></i>
                        </button>
                      </div>
                    </div>
                    <div fxFlex="none" fxHide.xs *ngIf="correspondence.status == 'Archived'">
                      <fieldset style="display: inline-block; padding: 10px;">
                        <legend>
                          <span class="correspondence-description-attribution">
                            {{ 'crMgt.archive.archiveDetails' | translate }}
                          </span>
                        </legend>
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.docReferenceNo.label' | translate }}
                        </span> :-
                        {{ correspondence.docReferenceNo ? correspondence.docReferenceNo : "***" }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.amount.label' | translate }}
                        </span> :-
                        {{ correspondence.amount ? (correspondence.amount | number:'1.2-2') : "***" }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.actionsTaken.label' | translate }}
                        </span> :- {{ correspondence.remark }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.numberOfDocuments.label' | translate }}
                        </span> :- {{ correspondence.noDocuments }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 2px;">
                          {{ 'crMgt.archive.archivedDate' | translate }}
                        </span> :- {{ correspondence.archivedDate | date:"dd-MM-yyyy" }}
                        <span class="calendar">
                          {{ 'crMgt.calendar-en' | translate }}
                        </span><br />
                        <span style="margin-left: 100px;">                          
                          {{ correspondence.archivedDate | convertDate }}
                        </span>
                        <span class="calendar">
                          {{ 'crMgt.calendar-et' | translate }}
                        </span>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div fxFlex fxHide.gt-xs>
                  <div fxFlex fxLayout="column" class="correspondence-description">
                    <div fxFlex fxLayout="row" fxLayoutGap="20px">
                      <div fxFlex="none">
                        <fieldset style="display: inline-block; padding: 10px;">
                          <legend>
                            <span class="correspondence-description-attribution">
                              {{ 'crMgt.correspondence.letterDate.label' | translate }}
                            </span>
                          </legend>
                          {{ correspondence.letterDate | date:"dd-MM-yyyy" }}
                          <span class="calendar">
                            {{ 'crMgt.calendar-en' | translate }}
                          </span><br />
                          {{ correspondence.letterDateEC }}
                          <span class="calendar">
                            {{ 'crMgt.calendar-et' | translate }}
                          </span>
                        </fieldset>
                      </div>
                      <div fxFlex="none">
                        <fieldset style="display: inline-block; padding: 10px;">
                          <legend>
                            <span class="correspondence-description-attribution">
                              {{ 'crMgt.correspondence.sentDate' | translate }}
                            </span>
                          </legend>
                          {{ correspondence.sentDate | date:"dd-MM-yyyy" }}
                          <span class="calendar">
                            {{ 'crMgt.calendar-en' | translate }}
                          </span> <br />
                          {{ correspondence.sentDate | convertDate }}
                          <span class="calendar">
                            {{ 'crMgt.calendar-et' | translate }}
                          </span>
                        </fieldset>
                      </div>
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px; line-height: 200%;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.destination' | translate }}
                      </span>:-
                      <span class="destination_dept_1" style="font-size: 0.7rem;" *ngIf="!loadingDeptTree">
                        {{ (returnDepartmentTree(correspondence.destination.id)).split(" / ")[0] }}
                      </span>
                      <img *ngIf="loadingDeptTree"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      &nbsp;
                      <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                      <span class="destination_dept_1" style="font-size: 0.8rem;" *ngIf="!loadingDeptTree">
                        {{ (returnDepartmentTree(correspondence.destination.id)).split(" / ")[1] }}
                      </span>
                      <img *ngIf="loadingDeptTree"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      &nbsp;
                      <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                      <span class="destination_dept_2" style="font-size: 0.9rem;" *ngIf="!loadingDeptTree">
                        {{ (returnDepartmentTree(correspondence.destination.id)).split(" / ")[2] }}
                      </span>
                      <img *ngIf="loadingDeptTree"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.subject.label' | translate }}
                      </span>:- {{ correspondence.subject }}
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.searchKeywords.label' | translate }}
                      </span>:- {{ correspondence.keyWord }}
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.createdBy' | translate }}
                      </span>:- {{ correspondence.keyInBy.first_name }} {{ correspondence.keyInBy.last_name }}
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.status' | translate }}
                      </span>:- {{ correspondence.status }}
                    </div>
                    <div fxFlex style="margin-top: 10px;" *ngIf="correspondence.hasCc">
                      <div fxLayout="column">
                        <div fxFlex style="margin-bottom: 10px;">
                          <span style="font-size: large;">{{ 'crMgt.menuActions.cc' | translate }}</span>
                        </div>
                        <div fxFlex style="margin-bottom: 10px; margin-left: 10px;"
                          *ngFor="let cc of correspondence.correspondenceCarbonCopies">
                          <i class="mdi mdi-18px mdi-link-variant"></i>
                          <span>{{ cc.destination.description }}</span>
                        </div>
                        <div fxFlex fxLayoutAlign="center" *ngIf="correspondence.correspondenceCarbonCopies.length == 0"
                          style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
                          <mat-card class="no-data-card">
                            <h1 style="text-align: center;">
                              {{ 'crMgt.noData' | translate }}
                            </h1>
                          </mat-card>
                        </div>
                      </div>
                    </div>
                    <div fxFlex="none" *ngIf="correspondence.status == 'Archived'">
                      <fieldset style="display: inline-block; padding: 10px;">
                        <legend>
                          <span class="correspondence-description-attribution">
                            {{ 'crMgt.archive.archiveDetails' | translate }}
                          </span>
                        </legend>
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.docReferenceNo.label' | translate }}
                        </span> :-
                        {{ correspondence.docReferenceNo ? correspondence.docReferenceNo : "***" }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.amount.label' | translate }}
                        </span> :-
                        {{ correspondence.amount ? (correspondence.amount | number:'1.2-2') : "***" }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.actionsTaken.label' | translate }}
                        </span> :- {{ correspondence.remark }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 3px;">
                          {{ 'crMgt.correspondence.numberOfDocuments.label' | translate }}
                        </span> :- {{ correspondence.noDocuments }}
                        <br />
                        <span class="correspondence-description-attribution" style="display: inline-block; margin-bottom: 2px;">
                          {{ 'crMgt.archive.archivedDate' | translate }}
                        </span> :- {{ correspondence.archivedDate | date:"dd-MM-yyyy" }}
                        <span class="calendar">
                          {{ 'crMgt.calendar-en' | translate }}
                        </span><br />
                        <span style="margin-left: 100px;">
                          {{ correspondence.archivedDate | convertDate }}
                        </span>
                        <span class="calendar">
                          {{ 'crMgt.calendar-et' | translate }}
                        </span>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let correspondence; columns: displayedColumns" class="correspondence-row"
            [class.correspondence-expanded-row]="
                        expandedInternalCorrespondence === correspondence
                      " (click)="
                        expandedInternalCorrespondence =
                          expandedInternalCorrespondence === correspondence
                            ? null
                            : correspondence
                      "></tr>
          <tr mat-row *matRowDef="
                        let row;
                        columns: ['expandedInternalCorrespondenceDetail']
                      " class="correspondence-detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5" *ngIf="!(outgoingInternalDataSource.loading$ | async)"
              style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
              <mat-card class="no-data-card" style="margin-left: auto; margin-right: auto;">
                <h1 style="text-align: center;">
                  {{ 'crMgt.noData' | translate }}
                </h1>
              </mat-card>
            </td>
          </tr>
        </table>
      </div>    
      <mat-paginator #paginator [length]="outgoingInternalDataSource.resultsLength$ | async" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>