h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
}

.dash-title {
  font-weight: normal;
  font-size: 120%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.add-cc-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

table {
  width: 100%;
}

th {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

th.operations-header {
  text-align: center;
  font-size: 1.2em;
}

td {
  font-family: titillium web, sans-serif;
}

td.operations {
  width: 30%;
  text-align: center;
}

.doc-cc-row td {
  border-bottom-width: 1;
}
