<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-closed-caption-outline" style="color: #2471a3"></i>
  <span>&nbsp;&nbsp;
    {{ 'crMgt.cc.form-title' | translate }}
  </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px">
          <i class="mdi mdi-24px mdi-file-document-outline" style="margin: 10px; color: #4a235a"></i>
        </div>
        <h3 class="dash-title">
          {{ correspondence.referenceNo }}
        </h3>
      </div>
    </div>
    <div fxFlex [style.margin-bottom]="canAddCc ? '0px' : '20px'">
      <hr class="divider" [ngClass.xs]="'divider_xs'" />
    </div>
    <div fxFlex *ngIf="canAddCc">
      <button mat-raised-button color="primary" class="add-cc-btn" 
        (click)="addCc()">
        <i class="mdi mdi-24px mdi-link-plus"></i>
        &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
      </button>      
    </div>
    <div fxFlex *ngIf="loading" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-spinner style="margin: auto" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </div>
    <div fxFlex fxLayoutAlign="center" *ngIf="docCcDataSource.data.length == 0"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h1 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h1>
      </mat-card>
    </div>
    <div fxFlex *ngIf="docCcDataSource.data.length > 0">
      <table mat-table matSort [dataSource]="docCcDataSource" multiTemplateDataRows class="mat-elevation-z8">        
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.comments.order' | translate }}
          </th>
          <td mat-cell *matCellDef="let correspondenceCc; let i = dataIndex;">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="centerCollege">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.correspondence.internalOutgoing.label2' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let correspondenceCc">
            {{ departmentsLevel1(correspondenceCc.destination.id) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="presidentDepartments">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.correspondence.internalOutgoingDept.label2' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let correspondenceCc">
            {{ departmentsLevel2(correspondenceCc.destination.id) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="offices">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.correspondence.department.label2' | translate }}
          </th>
          <td mat-cell *matCellDef="let correspondenceCc">
            {{ correspondenceCc.destination.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef class="operations-header">
            {{ 'crMgt.correspondence.actions' | translate }}
          </th>
          <td mat-cell *matCellDef="let correspondenceCc" (click)="$event.stopPropagation()" class="operations">
            <button fxHide.xs *ngIf="canEditCc" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
              (click)="editCc(correspondenceCc)">
              <i class="mdi mdi-24px mdi-pencil-outline" style="color: #2471A3;"></i>              
            </button>
            <button *ngIf="canDeleteCc" fxHide.xs mat-button color="primary"
              matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" (click)="deleteCc(correspondenceCc)">
              <i class="mdi mdi-24px mdi-link-variant-remove" style="color: #C0392B;"></i>
            </button>
          
            <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
              <span>
                <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
              </span>
            </button>
            <mat-menu #moreOption="matMenu">
              <button *ngIf="canEditCc" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                (click)="editCc(correspondenceCc)">
                <i class="mdi mdi-24px mdi-pencil-outline" style="color: #2471A3;"></i>
              </button>
              <button mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                (click)="previewCc(correspondenceCc)">
                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471A3;"></i>
              </button>
              <button *ngIf="canDeleteCc" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                (click)="deleteCc(correspondenceCc)">
                <i class="mdi mdi-24px mdi-link-variant-remove" style="color: #C0392B;"></i>
              </button>
          
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let correspondenceCc; columns: displayedColumns;" class="doc-cc-row">
        </tr>
      </table>
      <mat-paginator #paginator [style.display]="loading === false ? 'block' : 'none'" 
        [length]="resultsLength" [pageSize]="3"
        [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>