h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

.dash-title {
  font-weight: normal;
  font-size: 120%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

.divider {
  width: 40%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.full-width-input {
  width: 90%;
}

mat-form-field {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}
