h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
}

.dash-title {
  font-weight: normal;
  font-size: 120%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.add-image-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

.mat-tooltip {
  font-family: titillium web, sans-serif;
}

.image-option-icon {
  position: absolute;
  bottom: 0.5rem;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.3;
  cursor: pointer;
}

.edit-icon {
  left: 2rem;
  color: #2471a3;
  border: 1px solid #2471a3;
}

.edit-icon-xs {
  left: 7rem;
}

.delete-icon {
  left: 5rem;
  color: #c0392b;
  border: 1px solid #c0392b;
}

.delete-icon-xs {
  left: 10rem;
}

.image-option-icon:hover {
  opacity: 1;
}

.thumb-preview {
  cursor: pointer;
}

.thumb-preview:hover {
  cursor: url("../../../../../../assets/icons/zoom-in-18-18.png"), auto;
}

.add-upload-btn {
  font-family: titillium web, sans-serif;
  font-size: 100%;
}
