<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-account-plus" *ngIf="(title == 'Add Author')" style="color: #2471A3;"></i>
  <i class="mdi mdi-24px mdi-account-edit" *ngIf="(title == 'Edit Author')" style="color: #2471A3;"></i> 
  <i class="mdi mdi-24px mdi-contacts" *ngIf="(title == 'Contact Details')" style="color: #2471A3;"></i>
  <i class="mdi mdi-24px mdi-currency-usd" *ngIf="(title == 'Payment Detail')" style="color: #2471A3;"></i>
  <span *ngIf="title == 'Add Author'">&nbsp;&nbsp;
    {{ 'crMgt.addCorrespondence' | translate }}
  </span>
  <span *ngIf="title == 'Edit Author'">&nbsp;&nbsp;{{ 'crMgt.editCorrespondence' | translate }}</span>
  <span *ngIf="title == 'Contact Details'">&nbsp;&nbsp;{{ 'crMgt.author.contact.form' | translate }}</span>
  <span *ngIf="title == 'Payment Detail'">&nbsp;&nbsp;{{ 'crMgt.author.paymentDetails' | translate }}</span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="authorForm">

  <mat-form-field class="full-width-input" *ngIf="(title == 'Add Author' || title == 'Edit Author')">
    <mat-label>{{ 'crMgt.author.firstName.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.firstName.label' | translate }}" formControlName="firstName" required>
    <mat-error *ngIf="authorForm.get('firstName').hasError('required')">
      {{ 'crMgt.author.firstName.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Add Author' || title == 'Edit Author')">
    <mat-label>{{ 'crMgt.author.fatherName.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.fatherName.label' | translate }}" formControlName="lastName" required>
    <mat-error *ngIf="authorForm.get('lastName').hasError('required')">
      {{ 'crMgt.author.fatherName.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Add Author' || title == 'Edit Author')">
    <mat-label>{{ 'crMgt.author.gFatherName.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.gFatherName.label' | translate }}" formControlName="dFatherName" required>
    <mat-error *ngIf="authorForm.get('dFatherName').hasError('required')">
      {{ 'crMgt.author.gFatherName.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Add Author' || title == 'Edit Author')">
    <mat-label>{{ 'crMgt.author.email.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.email.label' | translate }}" formControlName="email" required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <mat-error *ngIf="authorForm.get('email').hasError('required')">
      {{ 'crMgt.author.email.error.required' | translate }}
    </mat-error>
    <mat-error *ngIf="authorForm.get('email').hasError('pattern')">
      {{ 'crMgt.author.email.error.format' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Add Author' || title == 'Edit Author')">
    <mat-label>{{ 'crMgt.author.telephone.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.telephone.label' | translate }}" formControlName="telephone" required>
    <mat-error *ngIf="authorForm.get('telephone').hasError('required')">
      {{ 'crMgt.author.telephone.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-checkbox class="full-width-input" formControlName="hasContact" *ngIf="(title == 'Add Author' || title == 'Edit Author')">
    {{ 'crMgt.author.contact.form-title' | translate }}
  </mat-checkbox>
  <!-- Payment Detail Form -->
  <mat-form-field class="full-width-input" *ngIf="title == 'Payment Detail'">
    <mat-label>{{ 'crMgt.author.bName.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.bName.label' | translate }}" formControlName="bName">
    <mat-error *ngIf="authorForm.get('bName').hasError('required')">
      {{ 'crMgt.author.bName.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="title == 'Payment Detail'">
    <mat-label>{{ 'crMgt.author.bAcc.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.bAcc.label' | translate }}" formControlName="bAcc">
    <mat-error *ngIf="authorForm.get('bAcc').hasError('required')">
      {{ 'crMgt.author.bAcc.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="title == 'Payment Detail'">
    <mat-label>{{ 'crMgt.author.tin.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.tin.label' | translate }}" formControlName="tin">
    <mat-error *ngIf="authorForm.get('tin').hasError('required')">
      {{ 'crMgt.author.tin.error' | translate }}
    </mat-error>
  </mat-form-field>
  <!-- Contact Detail Form -->
  <mat-form-field class="full-width-input" *ngIf="(title == 'Contact Details')">
    <mat-label>{{ 'crMgt.author.firstName.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.firstName.label' | translate }}" 
      formControlName="firstName" required>
    <mat-error *ngIf="authorForm.get('firstName').hasError('required')">
      {{ 'crMgt.author.firstName.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Contact Details')">
    <mat-label>{{ 'crMgt.author.fatherName.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.fatherName.label' | translate }}" 
      formControlName="lastName" required>
    <mat-error *ngIf="authorForm.get('lastName').hasError('required')">
      {{ 'crMgt.author.fatherName.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Contact Details')">
    <mat-label>{{ 'crMgt.author.email.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.email.label' | translate }}" 
      formControlName="email" required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <mat-error *ngIf="authorForm.get('email').hasError('required')">
      {{ 'crMgt.author.email.error.required' | translate }}
    </mat-error>
    <mat-error *ngIf="authorForm.get('email').hasError('pattern')">
      {{ 'crMgt.author.email.error.format' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="(title == 'Contact Details')">
    <mat-label>{{ 'crMgt.author.telephone.label' | translate }}</mat-label>
    <input matInput placeholder="{{ 'crMgt.author.telephone.label' | translate }}" 
      formControlName="telephone" required>
    <mat-error *ngIf="authorForm.get('telephone').hasError('required')">
      {{ 'crMgt.author.telephone.error' | translate }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #C0392B;"></i>
  </button>
  <button class="mat-raised-button mat-primary" [disabled]="loading" (click)="save()">
    {{ 'crMgt.correspondeForm.save' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-content-save-outline"></i>
  </button>
  <img *ngIf="loading" class="loading-img"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</mat-dialog-actions>