h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

.full-width-input {
  width: 100%;
}

mat-form-field {
  font-family: titillium web, sans-serif;
}

div {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.calendar {
  font-size: x-small;
}

:lang(am) .calendar {
  font-size: small;
}
