<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-cash-multiple" style="color: #2471a3"></i>
  <span>&nbsp;&nbsp;{{ 'crMgt.author.royalty.title' | translate }}</span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div style="padding-top: 20px; padding-right: 5px; padding-bottom: 10px;">
          <i class="mdi mdi-24px mdi-head-lightbulb" style="margin: 10px; color: #4a235a;"></i>
        </div>
        <h3 class="dash-title">
          {{ author.fullName }}
        </h3>
      </div>
    </div>
    <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'">
      <hr class="divider" [ngClass.xs]="'divider_xs'" />
    </div>
    <div fxFlex>
      <button *ngIf="canAdd" mat-raised-button color="primary" class="add-royalty-payment-btn" 
          (click)="addRoyalty()">
        <i class="mdi mdi-24px mdi-cash-plus"></i>
        &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
      </button>
    </div>
    <div fxFlex *ngIf="loading" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-spinner style="margin: auto" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </div>
    <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && royaltyDataSource.data.length == 0"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h1 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h1>
      </mat-card>
    </div>
    <div fxFlex *ngIf="royaltyDataSource.data.length > 0">
      <table mat-table matSort [dataSource]="royaltyDataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="manuscript">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.correspondence.manuscriptRefNo.label' | translate }}
          </th>
          <td mat-cell *matCellDef="let royalty">{{ royalty.manuscript.reference_no }}</td>
        </ng-container>
        <ng-container matColumnDef="referenceNo">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.author.royalty.referenceNo.label' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let royalty">
            {{ royalty.referenceNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.author.royalty.amount.label' | translate }}
          </th>
          <td mat-cell *matCellDef="let royalty">
            {{ royalty.amount ? (royalty.amount | number:'1.2-2') : "***" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="paymentDate">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.author.royalty.paymentDate.label' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let royalty"> 
            {{ royalty.paymentDate | date:"dd-MM-yyyy" }} 
          </td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef class="operations-header">
            {{ 'crMgt.correspondence.actions' | translate }}
          </th>
          <td mat-cell *matCellDef="let royalty" (click)="$event.stopPropagation()" class="operations">
            <button fxHide.xs *ngIf="canEdit" mat-button color="primary"
              matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
              [disabled]="(royalty.keyInBy.id != currentUser.id)" (click)="editRoyalty(royalty)">
              <i class="mdi mdi-24px mdi-cash-check"
                [ngStyle]="{color: (royalty.keyInBy.id == currentUser.id) ? '#2471a3' : '#BDC3C7'}"></i>
            </button>
            <button fxHide.xs *ngIf="canDelete" mat-button color="primary"
              matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" (click)="deleteRoyalty(royalty)">
              <i class="mdi mdi-24px mdi-cash-remove" style="color: #C0392B;"></i>
            </button>
    
            <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
              <span>
                <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
              </span>
            </button>
            <mat-menu #moreOption="matMenu">
              <button *ngIf="canEdit" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                (click)="editRoyalty(royalty)">
                <i class="mdi mdi-24px mdi-cash-check" style="color: #2471A3;"></i>
              </button>
              <button mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                (click)="previewRoyalty(royalty)">
                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471A3;"></i>
              </button>
              <button *ngIf="canDelete" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                (click)="deleteRoyalty(royalty)">
                <i class="mdi mdi-24px mdi-cash-remove" style="color: #C0392B;"></i>
              </button>
    
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedAuthorRoyaltyDetail">
          <td mat-cell *matCellDef="let royalty" [attr.colspan]="displayedColumns.length">
            <div fxLayout="column" fxLayoutGap=10px class="royalty-detail" 
                [@detailExpand]="royalty == expandedRoyalty
                      ? 'expanded'
                      : 'collapsed'" style="padding-left: 20px; padding-bottom: 10px;">
              <div fxFlex fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="none">
                  <fieldset style="display: inline-block; padding: 10px;">
                    <legend>
                      <span class="royalty-description-attribution">
                        {{ 'crMgt.author.royalty.paymentDate.label' | translate }}
                      </span>
                    </legend>
                    {{ royalty.paymentDate | date:"dd-MM-yyyy" }}
                    <span class="calendar">
                      {{ 'crMgt.calendar-en' | translate }}
                    </span><br />
                    {{ royalty.paymentDate | convertDate }}
                    <span class="calendar">
                      {{ 'crMgt.calendar-et' | translate }}
                    </span>
                  </fieldset>
                </div>
              </div>
              <div fxFlex style="padding: 5px 0px 5px 0px;">
                <span class="royalty-description-attribution">
                  {{ 'crMgt.correspondence.title.label' | translate }}
                </span>:- {{ royalty.manuscript.title }}
              </div>
              <div fxFlex fxHide.gt-xs style="padding: 5px 0px 5px 0px;">
                <span class="royalty-description-attribution">
                  {{ 'crMgt.author.royalty.referenceNo.label' | translate }}
                </span>:- {{ royalty.referenceNo }}
              </div>
              <div fxFlex style="padding: 5px 0px 5px 0px;">
                <span class="royalty-description-attribution">
                  {{ 'crMgt.author.royalty.remark.label' | translate }}
                </span>:- {{ royalty.remark }}
              </div> 
              <div fxFlex style="padding: 5px 0px 5px 0px;">
                <span class="royalty-description-attribution">
                  {{ 'crMgt.author.royalty.createdBy' | translate }}
                </span>:- {{ royalty.keyInBy.first_name }} {{ royalty.keyInBy.last_name }}
              </div>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let royalty; columns: displayedColumns" 
          class="royalty-row"
          [class.royalty-expanded-row]="
                      expandedRoyalty === royalty
                    " (click)="
                      expandedRoyalty =
                        expandedRoyalty === royalty
                          ? null
                          : royalty
                    "></tr>
        <tr mat-row *matRowDef="
                      let row;
                      columns: ['expandedAuthorRoyaltyDetail']
                    " class="royalty-detail-row"></tr>
      </table>
    
      <mat-paginator #paginator [style.display]="loading === false ? 'block' : 'none'" [length]="royaltyResultsLength"
        [pageSize]="3" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>