h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
}

.dash-title {
  font-weight: normal;
  font-size: 120%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.add-royalty-payment-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
  margin-right: 15px;
}

.mat-spinner {
  text-align: center;
}

table {
  width: 100%;
}

th {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

th.operations-header {
  text-align: center;
  font-size: 1.2em;
}

td {
  font-family: titillium web, sans-serif;
}

td.operations {
  width: 30%;
  text-align: center;
}

tr.royalty-detail-row {
  height: 0;
}

tr.royalty-row:not(.royalty-expanded-row):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.royalty-row:not(.royalty-expanded-row):active {
  background: #efefef;
}

.royalty-row td {
  border-bottom-width: 0;
}

.royalty-detail {
  overflow: hidden;
  display: flex;
  padding: 16px;
}

.royalty-description-attribution {
  opacity: 0.8;
  font-style: italic;
  font-family: titillium web, sans-serif;
}

.calendar {
  font-size: x-small;
}

:lang(am) .calendar {
  font-size: small;
}
