h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

.full-width-input {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-form-field {
  font-family: titillium web, sans-serif;
}

mat-error {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}
