<div class="container">
	<div fxLayout="column">
		<div fxFlex style="border-top-left-radius: 10%; border-top-right-radius: 10%;">
			<div class="about-title-1">
				<div class="about-title-2">
					<h2>About</h2>
					<h4>We are here for you!</h4>
				</div>
			</div>
		</div>
		<div fxFlex class="about-details">
			<div fxLayout="row" fxLayout.xs="column">
				<div fxFlex>
					<mat-card>
						<mat-card-title>The Company</mat-card-title>
						<mat-card-content>
							<div fxLayout="column">
								<div fxFlex="30%">Title</div>
				  				<div fxFlex>About the Company Content</div>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
				<div fxFlex>
					<mat-card>
						<mat-card-title>The System</mat-card-title>
						<mat-card-content>
							<div fxLayout="column">
								<div fxFlex="30%">Title</div>
				  				<div fxFlex>About the System Content</div>
				  			</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<!-- <div class="about-details">
				<mat-card>				  
				  	<mat-card-content>
				  		<div fxLayout="column">
				  			<div fxFlex="30%">&nbsp;</div>
				  			<div fxFlex>
				  				<div fxLayout="row">
				  					<div fxFlex="30%"></div>
				  					<div fxFlex="10%" style="padding-left: 10px;" class="contact-icon">
				  						<span><i class="material-icons">phone_in_talk</i></span>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex class="contact-detail">
				  						<span>+251-11-111-1111</span>
				  					</div>
				  					<div fxFlex="20%"></div>
				  				</div>
				  			</div>				  			
				  		</div>			
				  	</mat-card-content>
				</mat-card>
			</div> -->
			<!-- End of about content -->
		</div>
	</div>
</div>
<!-- <div class="container" style="border: 0px solid red;">
	<div fxLayout="column">
		<div fxFlex>
			<mat-card style="margin-left: 50px; margin-right: auto; margin-top: 10px; width: 500px;"> -->
			  	<!-- <mat-card-header>
						<mat-card-title><h5>Log In</h5></mat-card-title>	
				</mat-card-header> -->
			  	<!-- <mat-card-content>
			  		<p> Addis Ababa University (AAU), which was established in 1950 as the University College of Addis Ababa (UCAA), is the oldest and the largest higher learning and research institution in Ethiopia. Since its inception, the University has been the leading center in teaching-learning, research and community services.<br />

	Beginning with enrollment capacity of 33 students in 1950, AAU now has 48,673 students (33,940 undergraduate, 13,000 Master’s and 1733 PhD students) and 6043 staff (2,408 academics and 3,635 support staff). In its 14 campuses, the University runs 70 undergraduate and 293 graduate programs (72 PhD and 221 Masters), and various specializations in Health Sciences.<br />

	Over 222,000 students have graduated from AAU since its establishment.
	The University is led by a President who is assisted by four Vice Presidents and one Executive Director: Academic Vice President, Vice President for Research and Technology Transfer, Vice President for Administration and Student Services, Vice President for Institutional Development and the Executive Director of the College of Health Sciences (with the rank of Vice President).</p>
			  	</mat-card-content>
			  </mat-card>
		</div>
		<div fxFlex>
			<mat-card style="margin: 30px;"> -->
			  	<!-- <mat-card-header>
						<mat-card-title><h5>Log In</h5></mat-card-title>	
				</mat-card-header> -->
			  	<!-- <mat-card-content>
			  		<p> Addis Ababa University (AAU), which was established in 1950 as the University College of Addis Ababa (UCAA), is the oldest and the largest higher learning and research institution in Ethiopia. Since its inception, the University has been the leading center in teaching-learning, research and community services.<br />

	Beginning with enrollment capacity of 33 students in 1950, AAU now has 48,673 students (33,940 undergraduate, 13,000 Master’s and 1733 PhD students) and 6043 staff (2,408 academics and 3,635 support staff). In its 14 campuses, the University runs 70 undergraduate and 293 graduate programs (72 PhD and 221 Masters), and various specializations in Health Sciences.<br />

	Over 222,000 students have graduated from AAU since its establishment.
	The University is led by a President who is assisted by four Vice Presidents and one Executive Director: Academic Vice President, Vice President for Research and Technology Transfer, Vice President for Administration and Student Services, Vice President for Institutional Development and the Executive Director of the College of Health Sciences (with the rank of Vice President).</p>
			  	</mat-card-content>
			  </mat-card>
		</div>
	</div>
</div> -->