<footer>
  <div class="container">
  	<mat-divider class="footer-divider"></mat-divider>
    <a class="logo-font" routerLink="/">Sate Solutions</a>
    <span class="attribution logo-font">
      &copy; {{ today | date: 'yyyy' }}.
       | {{ 'crMgt.rightReserved' | translate }}.
    </span>
  </div>
</footer>

<!-- <footer>
	<mat-divider class="footer-divider"></mat-divider>
    <p class="footer-text">&copy; 2018 Sate Solutions | All Rights Reserved.</p>
</footer> -->