<header role="banner">
      <button fxHide.xs class="logo-font" mat-button routerLink="{{ homeLink }}">
        <i class="mdi mdi-24px mdi-home-circle-outline" title="{{ 'crMgt.home' | translate }}"></i>
        <span>&nbsp;&nbsp;{{ 'crMgt.home' | translate }}</span>
      </button>
      <button fxHide.xs class="logo-font" mat-button routerLink="/about">
        <i class="mdi mdi-24px mdi-information-outline" title="{{ 'crMgt.about' | translate }}"></i>
        <span fxHide.xs>&nbsp;&nbsp;{{ 'crMgt.about' | translate }}</span>
      </button>
      <button fxHide.xs class="logo-font" mat-button routerLink="/contact">
        <i class="mdi mdi-24px mdi-contacts-outline" title="{{ 'crMgt.contact' | translate }}"></i>
        <span fxHide.xs>&nbsp;&nbsp;{{ 'crMgt.contact' | translate }}</span>
      </button>
      <button mat-button fxHide.xs></button>
      <button mat-icon-button fxHide.gt-xs [matMenuTriggerFor]="moreOption">
        <span>
          <i class="mdi mdi-24px mdi-dots-vertical-circle-outline"></i>
        </span>
      </button>
      <mat-menu #moreOption="matMenu">
        <button class="logo-font" mat-menu-item routerLink="{{ homeLink }}">
          <i class="mdi mdi-24px mdi-home-circle-outline"></i>&nbsp;&nbsp;&nbsp;
          <span>{{ 'crMgt.home' | translate }}</span>
        </button>
        <button class="logo-font" mat-menu-item routerLink="/about">
          <i class="mdi mdi-24px mdi-information-outline"></i>&nbsp;&nbsp;&nbsp;
          <span>{{ 'crMgt.about' | translate }}</span>
        </button>
        <button class="logo-font" mat-menu-item routerLink="/contact">
          <i class="mdi mdi-24px mdi-contacts-outline"></i>&nbsp;&nbsp;&nbsp;
          <span>{{ 'crMgt.contact' | translate }}</span>
        </button>
      </mat-menu>
      <button mat-icon-button *ngIf="currentUser" (click)="clearCount()"> 
        <span>
          <i class="mdi mdi-24px mdi-bell-outline" *ngIf="badgeCount == 0"></i>
          <i class="mdi mdi-24px mdi-bell-ring"
              *ngIf="badgeCount > 0" [matBadgeHidden]="!visible" matBadge={{badgeCount}} 
                                      matBadgeColor="accent" matBadgePosition="before"></i>
        </span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="currentUser">
        <span>
          <i class="mdi mdi-24px mdi-account-circle"></i>
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <span class="logo-font" mat-menu-item>{{ userName }}</span>
        <button class="logo-font" mat-menu-item routerLink="/my_profile">
          <i class="mdi mdi-24px mdi-card-account-details-star-outline"></i>&nbsp;&nbsp;&nbsp;
          <span>{{ 'crMgt.myProfile' | translate }}</span>
        </button>
        <button class="logo-font" mat-menu-item>
          <i class="mdi mdi-24px mdi-power"></i>&nbsp;&nbsp;&nbsp;
          <span (click)="onLogout()">{{ 'crMgt.logout' | translate }}</span>
        </button>
      </mat-menu>      
      &nbsp;&nbsp;&nbsp;
      <mat-form-field style="width: 50px;" [ngStyle.lt-sm]="'width: 37px; font-size: 14px;'" appearance="none">
        <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="onLanguageSelect($event)">
          <mat-option *ngFor="let l of languages" [value]="l" [ngStyle.lt-sm]="'font-size: 14px;'">
            {{ l.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</header>