.angular-logo {
  margin: 0 3px 3px 0;
  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
  /*flex: 1 1 auto;      */
  width: 80%;
  border: 2px;
  background-color: white;
  margin-left: auto;
  margin-right: 350px;
}
.profile-pic {
	margin-top: 7px;
	margin-bottom: auto;
}
.logo-font{
  font-family: titillium web,sans-serif;
  font-size: 100%;  
}