.department-title {
  background-color: #3f51b5;
  color: white;
  margin-right: 10px;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  font-family: titillium web, sans-serif;
  font-weight: bolder;
  line-height: 35px;
}

.role-title {
  color: white;
  margin-right: 10px;
  margin-top: -10px;
  padding: 10px 0px 10px 0px;
  text-align: right;
  font-family: titillium web, sans-serif;
  font-weight: bolder;
  line-height: 35px;
}

mat-panel-title,
a {
  font-family: titillium web, sans-serif;
}
