<h2 class="department-title" *ngIf="userDepartment">
  <span style="text-decoration: underline;">
    {{ userDepartment.department_code }}
  </span> 
  <br />
  <span>
    {{ userDepartment.department_name }}
  </span>  
</h2>

<h4 class="role-title">
  <span *ngIf="userDepartment" style="background-color: #3f51b5; padding: 10px;">
    {{ userDepartment.user_role_name }}
  </span>
</h4>

<mat-spinner style="margin: auto" [style.display]="!userDepartment ? 'block' : 'none'"></mat-spinner>

<mat-divider style="background-color: #3f51b5;"></mat-divider>

<br />

<mat-accordion displayMode="flat">
  <mat-expansion-panel [expanded]="i === 0" *ngFor="let menu of userMenus; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="mdi mdi-24px {{ menu.iconName }}"></i>&nbsp;&nbsp;&nbsp;
        {{ menu.displayName }} &nbsp;&nbsp;&nbsp;
      </mat-panel-title>      
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span *ngFor="let child of menu.children">
      <a mat-list-item routerLink="/admin/{{child.route}}" (click)="sidenav.close()">
        <i class="mdi mdi-24px {{ child.iconName }}"></i>&nbsp;&nbsp;&nbsp;
        {{ child.displayName }} &nbsp;&nbsp;&nbsp;
      </a>
      <mat-divider></mat-divider>
    </span>
  </mat-expansion-panel>
</mat-accordion>
      