.container {
  width: 99%;
  min-height: 74vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.add-correspondence-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

.mat-form-field {
  font-family: titillium web, sans-serif;
  width: 70%;
}

table {
  width: 100%;
}

th {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

th.operations-header {
  text-align: center;
  font-size: 1.2em;
}

td {
  font-family: titillium web, sans-serif;
}

td.operations {
  width: 30%;
  font-family: titillium web, sans-serif;
  text-align: center;
}

tr.correspondence-detail-row {
  height: 0;
}

tr.correspondence-row:not(.correspondence-expanded-row):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.correspondence-row:not(.correspondence-expanded-row):active {
  background: #efefef;
}

.correspondence-row td {
  border-bottom-width: 0;
}

.correspondence-detail {
  overflow: hidden;
  display: flex;
}

.correspondence-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 115px;
}

.correspondence-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.correspondence-description {
  padding: 16px;
}

.correspondence-description-attribution {
  opacity: 0.7;
  font-style: italic;
}

.mat-tab-group {
  background-color: white;
  padding-bottom: 10px;
}

.class-mat-tab {
  font-family: titillium web, sans-serif;
  font-size: 1.5rem;
}
