<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-48px mdi-file-download"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h1 class="dash-title">Incoming</h1>
      </div>
    </div>
    <div fxFlex>
      <hr class="divider" />
    </div>
    <div fxFlex>
      <button
        mat-raised-button
        color="primary"
        class="add-correspondence-btn"
        (click)="addCorrespondence()"
      >
        <i class="mdi mdi-24px mdi-file-plus-outline"></i>&nbsp;&nbsp;&nbsp;Add
      </button>
    </div>
    <div fxFlex>
      <i class="mdi mdi-24px mdi-filter-outline"></i>&nbsp;
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-tab-group
        #tabGroup
        mat-stretch-tabs
        (selectedIndexChange)="_setDataSource($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="mdi mdi-18px mdi-arrow-top-right-thin-circle-outline"></i
            >&nbsp;
            <span class="class-mat-tab">Internal</span>
          </ng-template>
          <ng-template matTabContent>
            <div class="mat-elevation-z8">
              <table
                mat-table
                matSort
                [dataSource]="incomingInternalDataSource"
                multiTemplateDataRows
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="referenceNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Reference No
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.referenceNo }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="letterDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Letter Date
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.letterDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="source">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Source
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.source.description }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="receivedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Received Date
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.receivedDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="operations">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="operations-header"
                  >
                    Actions
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let correspondence"
                    (click)="$event.stopPropagation()"
                    class="operations"
                  >
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Edit"
                      (click)="editCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-file-document-edit-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Upload Document"
                      (click)="uploadDocument(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-progress-upload"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Comments"
                      (click)="commentCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-comment-multiple-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Preview"
                      (click)="previewCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-magnify-plus-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Route"
                      (click)="assignCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-file-swap-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Archive"
                      (click)="deleteCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-archive-arrow-down-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Delete"
                      (click)="deleteCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-file-remove-outline"
                        style="color: #c0392b"
                      ></i>
                    </button>
                  </td>
                </ng-container>

                <ng-container
                  matColumnDef="expandedInternalCorrespondenceDetail"
                >
                  <td
                    mat-cell
                    *matCellDef="let correspondence"
                    [attr.colspan]="displayedColumns.length"
                  >
                    <div
                      class="correspondence-detail"
                      [@detailExpand]="
                        correspondence == expandedInternalCorrespondence
                          ? 'expanded'
                          : 'collapsed'
                      "
                    >
                      <div class="correspondence-diagram">
                        <div class="correspondence-position">
                          {{ correspondence.id }}
                        </div>
                        <div class="correspondence-symbol">
                          {{ correspondence.referenceNo.substring(0, 2) }}
                        </div>
                        <div class="correspondence-name">
                          {{ correspondence.referenceNo }}
                        </div>
                        <div class="correspondence-weight">
                          {{ correspondence.source.code }}
                        </div>
                      </div>
                      <div class="correspondence-description">
                        <div style="margin-bottom: 5px">
                          <span class="correspondence-description-attribution">
                            Subject </span
                          >-- {{ correspondence.subject }}
                        </div>
                        <div style="margin-bottom: 5px">
                          <span class="correspondence-description-attribution">
                            Date Received </span
                          >-- {{ correspondence.receivedDate }}
                        </div>
                        <div>
                          <span class="correspondence-description-attribution">
                            Search Keywords </span
                          >-- {{ correspondence.keyWord }}
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let correspondence; columns: displayedColumns"
                  class="correspondence-row"
                  [class.correspondence-expanded-row]="
                    expandedInternalCorrespondence === correspondence
                  "
                  (click)="
                    expandedInternalCorrespondence =
                      expandedInternalCorrespondence === correspondence
                        ? null
                        : correspondence
                  "
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let row;
                    columns: ['expandedInternalCorrespondenceDetail']
                  "
                  class="correspondence-detail-row"
                ></tr>
              </table>
              <!-- <mat-table
                #table
                matSort
                [dataSource]="incomingInternalDataSource"
              >
                <ng-container matColumnDef="referenceNo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Reference No
                  </mat-header-cell>
                  <mat-cell *matCellDef="let correspondence">
                    {{ correspondence.referenceNo }}
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table> -->
              <mat-paginator
                #paginator
                [pageSize]="3"
                [pageSizeOptions]="[3, 5, 10]"
              ></mat-paginator>
              <!-- <mat-paginator
                #internalPaginator
                [style.display]="loading === false ? 'block' : 'none'"
                [length]="internalResultsLength"
                [pageSize]="3"
                [pageSizeOptions]="[3, 5, 10]"
                showFirstLastButtons
              ></mat-paginator> -->
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="mdi mdi-18px mdi-arrow-top-left-thin-circle-outline"></i
            >&nbsp;
            <span class="class-mat-tab">External</span>
          </ng-template>
          <ng-template matTabContent>
            <div>
              <table
                mat-table
                matSort
                [dataSource]="incomingExternalDataSource"
                multiTemplateDataRows
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="referenceNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Reference No
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.referenceNo }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="letterDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Letter Date
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.letterDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="source">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Source
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.source.description }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="receivedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Received Date
                  </th>
                  <td mat-cell *matCellDef="let correspondence">
                    {{ correspondence.receivedDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="operations">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="operations-header"
                  >
                    Actions
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let correspondence"
                    (click)="$event.stopPropagation()"
                    class="operations"
                  >
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Edit"
                      (click)="editCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-file-document-edit-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Upload Document"
                      (click)="uploadDocument(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-progress-upload"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Comments"
                      (click)="commentCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-comment-multiple-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Preview"
                      (click)="previewCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-magnify-plus-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Route"
                      (click)="assignCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-file-swap-outline"
                        style="color: #2471a3"
                      ></i>
                    </button>
                    <tr
                      mat-button
                      color="primary"
                      matTooltip="Archive"
                      (click)="deleteCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-archive-arrow-down-outline"
                        style="color: #2471a3"
                      ></i>
                    </tr>
                    <button
                      mat-button
                      color="primary"
                      matTooltip="Delete"
                      (click)="deleteCorrespondence(correspondence)"
                    >
                      <i
                        class="mdi mdi-24px mdi-file-remove-outline"
                        style="color: #c0392b"
                      ></i>
                    </button>
                  </td>
                </ng-container>

                <ng-container
                  matColumnDef="expandedExternalCorrespondenceDetail"
                >
                  <td
                    mat-cell
                    *matCellDef="let correspondence"
                    [attr.colspan]="displayedColumns.length"
                  >
                    <div
                      class="correspondence-detail"
                      [@detailExpand]="
                        correspondence == expandedExternalCorrespondence
                          ? 'expanded'
                          : 'collapsed'
                      "
                    >
                      <div class="correspondence-diagram">
                        <div class="correspondence-position">
                          {{ correspondence.id }}
                        </div>
                        <div class="correspondence-symbol">
                          {{ correspondence.referenceNo.substring(0, 2) }}
                        </div>
                        <div class="correspondence-name">
                          {{ correspondence.referenceNo }}
                        </div>
                        <div class="correspondence-weight">
                          {{ correspondence.source.code }}
                        </div>
                      </div>
                      <div class="correspondence-description">
                        <div style="margin-bottom: 5px">
                          <span class="correspondence-description-attribution">
                            Subject </span
                          >-- {{ correspondence.subject }}
                        </div>
                        <div style="margin-bottom: 5px">
                          <span class="correspondence-description-attribution">
                            Date Received </span
                          >-- {{ correspondence.receivedDate }}
                        </div>
                        <div>
                          <span class="correspondence-description-attribution">
                            Search Keywords </span
                          >-- {{ correspondence.keyWord }}
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let correspondence; columns: displayedColumns"
                  class="correspondence-row"
                  [class.correspondence-expanded-row]="
                    expandedExternalCorrespondence === correspondence
                  "
                  (click)="
                    expandedExternalCorrespondence =
                      expandedExternalCorrespondence === correspondence
                        ? null
                        : correspondence
                  "
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let row;
                    columns: ['expandedExternalCorrespondenceDetail']
                  "
                  class="correspondence-detail-row"
                ></tr>
              </table>
              <!-- <mat-table
                #table
                matSort
                [dataSource]="incomingExternalDataSource"
              >
                <ng-container matColumnDef="referenceNo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Reference No
                  </mat-header-cell>
                  <mat-cell *matCellDef="let correspondence">
                    {{ correspondence.referenceNo }}
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table> -->
              <mat-paginator
                #paginator2
                [pageSize]="3"
                [pageSizeOptions]="[3, 5, 10]"
              ></mat-paginator>
              <!-- <mat-paginator
                #paginator2
                [style.display]="loading === false ? 'block' : 'none'"
                [length]="externalResultsLength"
                [pageSize]="3"
                [pageSizeOptions]="[3, 5, 10]"
                showFirstLastButtons
              ></mat-paginator> -->
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
