<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-48px mdi-group"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h1 class="dash-title">Department Types</h1>
      </div>
    </div>
    <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'">
      <hr class="divider" />
    </div>
    <div fxFlex *ngIf="canAdd">
      <button
        mat-raised-button
        color="primary"
        class="add-department-type-btn"
        (click)="addDepartmentType()"
      >
        <i class="mdi mdi-24px mdi-vector-polyline-plus"></i
        >&nbsp;&nbsp;&nbsp;Add
      </button>
    </div>
    <div fxFlex>
      <div class="mat-elevation-z8" style="width: 60%">
        <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>

        <mat-table
          matSort
          [style.display]="loading === false ? 'block' : 'none'"
          #table
          [dataSource]="dataSource"
        >
          <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Code
            </mat-header-cell>
            <mat-cell *matCellDef="let departmentType">
              {{ departmentType.code }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let departmentType">
              {{ departmentType.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef style="justify-content: center">
              Actions
            </mat-header-cell>
            <mat-cell
              *matCellDef="let departmentType"
              style="justify-content: center"
            >
              <button
                *ngIf="canEdit"
                mat-button
                color="primary"
                matTooltip="Edit"
                (click)="editDepartmentType(departmentType)"
              >
                <i
                  class="mdi mdi-24px mdi-vector-polyline-edit"
                  style="color: #2471a3"
                ></i>
              </button>
              <button
                *ngIf="canDelete"
                mat-button
                color="primary"
                matTooltip="Delete"
                (click)="deleteDepartmentType(departmentType)"
              >
                <i
                  class="mdi mdi-24px mdi-vector-polyline-remove"
                  style="color: #c0392b"
                ></i>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator
          #paginator
          [style.display]="loading === false ? 'block' : 'none'"
          [length]="resultsLength"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
