h2 {
	font-family: titillium web,sans-serif;
	font-size: 120%;	
}

.full-width-input {
  width: 100%;
}

mat-dialog-content {
	padding-top: 10px;
	padding-bottom: 10px;
}

mat-form-field {
	font-family: titillium web,sans-serif;
}

.lblStatus {
	font-family: titillium web,sans-serif;
	margin-right: 20px;
}

mat-radio-button {
	font-family: titillium web,sans-serif;
	margin-right: 20px;	
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	font-family: titillium web,sans-serif;	
}

.loading-img {
	margin-left: -40px;
}