h2 {
	font-family: titillium web,sans-serif;
	font-size: 120%;
}

mat-dialog-content {
	padding-top: 10px;
	padding-bottom: 10px;
}

mat-dialog{
	font-family: titillium web,sans-serif;
	min-width: 350px;
}

div {
	font-family: titillium web,sans-serif;
}

button {
	font-family: titillium web,sans-serif;
}

.danger {
	color: #C0392B;	
}

.success {
	color: #196F3D;
}