<h2 mat-dialog-title>
  <i
    class="mdi mdi-24px mdi-information"
    [ngClass]="{
      danger: message.type === 'error',
      success: message.type === 'success'
    }"
  ></i>
  <span>&nbsp;&nbsp;{{ message.title }}</span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div *ngFor="let oneMessage of message.content">
    <span
      [ngClass]="{
        danger: message.type === 'error',
        success: message.type === 'success'
      }"
    >
      {{ oneMessage }}
    </span>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()" mat-dialog-close>
    Close&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
  </button>
</mat-dialog-actions>
