.container {
  width: 99%;
  min-height: 74vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.add-department-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

.department-tree-invisible {
  display: none;
}

.department-tree ul,
.department-tree li {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  font-family: titillium web, sans-serif;
}

.option-btn {
  opacity: 0.3;
}

.option-btn:hover {
  opacity: 1;
}
