<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-48px mdi-file-tree"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h1 class="dash-title">Departments</h1>
      </div>
    </div>
    <div fxFlex>
      <hr class="divider" />
    </div>
    <div fxFlex>
      <mat-card style="max-height: 65vh; min-height: 60vh; overflow-y: auto">
        <button
          *ngIf="canAddToRoot"
          mat-raised-button
          color="primary"
          class="add-department-btn"
          (click)="addDepartment()"
        >
          <i class="mdi mdi-24px mdi-puzzle-plus-outline"></i
          >&nbsp;&nbsp;&nbsp;Add to root
        </button>
        <mat-tree
          [dataSource]="treeSource"
          [treeControl]="treeControl"
          [trackBy]="trackBy"
          class="department-tree"
        >
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <li class="mat-tree-node">
              <button mat-icon-button disabled></button>
              {{ node.code }}: {{ node.description }}
              <button
                *ngIf="canAdd"
                mat-button
                color="primary"
                matTooltip="Add"
                (click)="addDepartment(node)"
                class="option-btn"
                fxHide.xs
              >
                <i
                  class="mdi mdi-18px mdi-puzzle-plus-outline"
                  style="color: #2471a3"
                ></i>
              </button>
              <button
                *ngIf="canEdit"
                mat-button
                color="primary"
                matTooltip="Edit"
                (click)="editDepartment(node)"
                class="option-btn"
                fxHide.xs
              >
                <i
                  class="mdi mdi-18px mdi-puzzle-edit-outline"
                  style="color: #2471a3"
                ></i>
              </button>
              <button mat-button color="primary" matTooltip="Define Role" (click)="defineRoleForDepartment(node)" class="option-btn" fxHide.xs>
                <i class="mdi mdi-18px mdi-home-account" style="color: #2471a3"></i>
              </button>
              <button mat-button color="primary" matTooltip="Define Head" (click)="defineHeadRoleForDepartment(node)" class="option-btn" fxHide.xs>
                <i class="mdi mdi-18px mdi-chair-rolling" style="color: #2471a3"></i>
              </button>              
              <button
                *ngIf="canDelete"
                mat-button
                color="primary"
                matTooltip="Delete"
                (click)="deleteDepartment(node)"
                class="option-btn"
                fxHide.xs
              >
                <i
                  class="mdi mdi-18px mdi-puzzle-remove-outline"
                  style="color: #c0392b"
                ></i>
              </button>
              <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreDetailOption">
                <span>
                  <i class="mdi mdi-18px mdi-dots-vertical" style="color: #2471a3"></i>
                </span>
              </button>
              <mat-menu #moreDetailOption="matMenu">
                <button *ngIf="canAdd" mat-button color="primary" matTooltip="Add" (click)="addDepartment(node)" class="option-btn">
                  <i class="mdi mdi-18px mdi-puzzle-plus-outline" style="color: #2471a3"></i>
                </button>
                <button *ngIf="canEdit" mat-button color="primary" matTooltip="Edit" (click)="editDepartment(node)" class="option-btn">
                  <i class="mdi mdi-18px mdi-puzzle-edit-outline" style="color: #2471a3"></i>
                </button>
                <button mat-button color="primary" matTooltip="Define Role" (click)="defineRoleForDepartment(node)" class="option-btn">
                  <i class="mdi mdi-18px mdi-home-account" style="color: #2471a3"></i>
                </button>
                <button mat-button color="primary" matTooltip="Define Head" (click)="defineHeadRoleForDepartment(node)"
                  class="option-btn">
                  <i class="mdi mdi-18px mdi-chair-rolling" style="color: #2471a3"></i>
                </button>
                <button *ngIf="canDelete" mat-button color="primary" matTooltip="Delete" (click)="deleteDepartment(node)"
                  class="option-btn">
                  <i class="mdi mdi-18px mdi-puzzle-remove-outline" style="color: #c0392b"></i>
                </button>
              </mat-menu>
            </li>
          </mat-tree-node>
          <mat-nested-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodePadding
          >
            <li>
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle>
                  <i
                    class="mdi mdi-18px mdi-chevron-right"
                    *ngIf="!treeControl.isExpanded(node)"
                  ></i>
                  <i
                    class="mdi mdi-18px mdi-chevron-down"
                    *ngIf="treeControl.isExpanded(node)"
                  ></i>
                </button>
                {{ node.code }}: {{ node.description }}
                <button
                  *ngIf="canAdd"
                  mat-button
                  color="primary"
                  matTooltip="Add"
                  (click)="addDepartment(node)"
                  class="option-btn"
                  fxHide.xs
                >
                  <i
                    class="mdi mdi-18px mdi-puzzle-plus-outline"
                    style="color: #2471a3"
                  ></i>
                </button>
                <button
                 *ngIf="canEdit"
                  mat-button
                  color="primary"
                  matTooltip="Edit"
                  (click)="editDepartment(node)"
                  class="option-btn"
                  fxHide.xs
                >
                  <i
                    class="mdi mdi-18px mdi-puzzle-edit-outline"
                    style="color: #2471a3"
                  ></i>
                </button>
                <button
                  *ngIf="canDelete"
                  mat-button
                  color="primary"
                  matTooltip="Delete"
                  (click)="deleteDepartment(node)"
                  class="option-btn"
                  fxHide.xs
                >
                  <i
                    class="mdi mdi-18px mdi-puzzle-remove-outline"
                    style="color: #c0392b"
                  ></i>
                </button>
                <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
                  <span>
                    <i class="mdi mdi-18px mdi-dots-vertical" style="color: #2471a3"></i>
                  </span>
                </button>
                <mat-menu #moreOption="matMenu">
                  <button *ngIf="canAdd" mat-button color="primary" matTooltip="Add" (click)="addDepartment(node)" class="option-btn">
                    <i class="mdi mdi-18px mdi-puzzle-plus-outline" style="color: #2471a3"></i>
                  </button>
                  <button *ngIf="canEdit" mat-button color="primary" matTooltip="Edit" (click)="editDepartment(node)" class="option-btn">
                    <i class="mdi mdi-18px mdi-puzzle-edit-outline" style="color: #2471a3"></i>
                  </button>
                  <button *ngIf="canDelete" mat-button color="primary" matTooltip="Delete" (click)="deleteDepartment(node)"
                    class="option-btn">
                    <i class="mdi mdi-18px mdi-puzzle-remove-outline" style="color: #c0392b"></i>
                  </button>
                </mat-menu>
              </div>
              <ul
                [class.department-tree-invisible]="
                  !treeControl.isExpanded(node)
                "
              >
                <ng-container matTreeNodeOutlet></ng-container>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
      </mat-card>
    </div>
  </div>
</div>
