mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-title {
	font-family: titillium web,sans-serif;
	margin-left: 10px;
}

.signin-content {
  padding: 50px 1rem;
}

.full-width-input {
  width: 100%;
}

.pl-2 {
	margin-left: -40px;
}