<div class="container">
	<div fxLayout="column">
		<div fxFlex style="border-top-left-radius: 10%; border-top-right-radius: 10%;">
			<div class="contact-title-1">
				<div class="contact-title-2">
					<h2>Contact Us</h2>
					<h4>We are here to help you!</h4>
				</div>
			</div>
		</div>
		<div fxFlex class="contact-details">
			<div>
				<mat-card>				  
				  	<mat-card-content>
				  		<div fxLayout="column">
				  			<div fxFlex="30%">&nbsp;</div>
				  			<div fxFlex>
				  				<div fxLayout="row">
				  					<div fxFlex="30%"></div>
				  					<div fxFlex="10%" class="contact-icon">
										<i class="mdi mdi-36px mdi-phone-in-talk" style="color: #2471A3;"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex class="contact-detail">
				  						<span>+251-11-111-1111</span>
				  					</div>
				  					<div fxFlex="20%"></div>
				  				</div>
				  			</div>
				  			<div fxFlex="30%">&nbsp;</div>
				  			<div fxFlex>
				  				<div fxLayout="row">
				  					<div fxFlex="30%"></div>
				  					<div fxFlex="10%" style="padding-left: 10px;" class="contact-icon">
				  						<i class="mdi mdi-36px mdi-cellphone-sound" style="color: #2471A3;"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex class="contact-detail">
				  						<span>+251-91-111-1111</span>
				  					</div>
				  					<div fxFlex="20%"></div>
				  				</div>
				  			</div>
				  			<div fxFlex="30%">&nbsp;</div>
				  			<div fxFlex>
				  				<div fxLayout="row">
				  					<div fxFlex="30%"></div>
									  <div fxFlex="10%" class="contact-icon">
										<i class="mdi mdi-36px mdi-email" style="color: #2471A3;"></i>				  						
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex class="contact-detail">
				  						<span>email@sample.com</span>
				  					</div>
				  					<div fxFlex="20%"></div>
				  				</div>
				  			</div>
				  			<div fxFlex="30%">&nbsp;</div>
				  			<div fxFlex>
				  				<div fxLayout="row">
				  					<div fxFlex="30%"></div>
									  <div fxFlex="10%" class="contact-icon">
										<i class="mdi mdi-36px mdi-sign-direction" style="color: #2471A3;"></i>				  					
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex class="contact-detail">
				  						<span>A.A, Ethiopia</span>
				  					</div>
				  					<div fxFlex="20%"></div>
				  				</div>
				  			</div>
				  			<div fxFlex="30%">&nbsp;</div>				  			
				  			<div fxFlex="30%">&nbsp;</div>
				  			<div fxFlex="30%">&nbsp;</div>				  			
				  			<div fxFlex>
				  				<div fxLayout="row">
				  					<div fxFlex="30%"></div>
				  					<div fxFlex>
										<i class="mdi mdi-36px mdi-web"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex>				  					
										<i class="mdi mdi-36px mdi-facebook"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex>
										<i class="mdi mdi-36px mdi-twitter"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex>
										<i class="mdi mdi-36px mdi-google-plus"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex>
										<i class="mdi mdi-36px mdi-instagram"></i>
				  					</div>
				  					<div fxFlex="5%"></div>
				  					<div fxFlex>
										<i class="mdi mdi-36px mdi-youtube"></i>
				  					</div>
				  					<div fxFlex="30%"></div>
				  				</div>
				  			</div>
				  			<div fxFlex="30%">&nbsp;</div>
				  		</div>			
				  	</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>