<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-48px mdi-menu-open"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h1 class="dash-title">Menus</h1>
      </div>
    </div>
    <div fxFlex>
      <hr class="divider" />
    </div>
    <!-- <div fxFlex>
      <button
        mat-raised-button
        color="primary"
        class="add-menu-btn"
        (click)="addMenu()"
      >
        <i class="mdi mdi-24px mdi-playlist-plus"></i>&nbsp;&nbsp;&nbsp;Add
      </button>
	</div> -->
    <div fxFlex>
      <i class="mdi mdi-24px mdi-filter-outline"></i>&nbsp;
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>
    <div fxFlex>
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

        <mat-table
          class="example-table"
          matSort
          [style.display]="isLoadingResults === false ? 'block' : 'none'"
          #table
          [dataSource]="dataSource"
        >
          <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Text
            </mat-header-cell>
            <mat-cell *matCellDef="let menu"> {{ menu.text }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="iconCls">
            <mat-header-cell *matHeaderCellDef> Icon </mat-header-cell>
            <mat-cell *matCellDef="let menu">
              <i class="mdi mdi-24px {{ menu.icon_cls }}"></i>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="parentId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Parent
            </mat-header-cell>
            <mat-cell *matCellDef="let menu"> {{ menu.parent_name }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef style="justify-content: center">
              Actions
            </mat-header-cell>
            <mat-cell *matCellDef="let menu" style="justify-content: center">
              <button
                *ngIf="canEdit"
                mat-button
                color="primary"
                matTooltip="Edit"
                (click)="editMenu(menu)"
              >
                <i
                  class="mdi mdi-24px mdi-playlist-edit"
                  style="color: #2471a3"
                ></i>
              </button>
              <button
                *ngIf="canListUser"
                mat-button
                color="primary"
                matTooltip="List Users"
                (click)="listUsers(menu)"
              >
                <i
                  class="mdi mdi-24px mdi-account-group-outline"
                  style="color: #2471a3"
                ></i>
              </button>
              <!-- <button
                mat-button
                color="primary"
                matTooltip="Delete"
                (click)="deleteMenu(menu)"
              >
                <i
                  class="mdi mdi-24px mdi-playlist-remove"
                  style="color: #c0392b"
                ></i>
              </button> -->
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator
          #paginator
          [style.display]="isLoadingResults === false ? 'block' : 'none'"
          [length]="resultsLength"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
