h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

.dash-title {
  font-weight: normal;
  font-size: 100%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

.divider {
  width: 40%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.full-width-input {
  width: 90%;
}

mat-form-field,
mat-checkbox {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.thumb-preview {
  cursor: pointer;
}

.thumb-preview:hover {
  cursor: url("../../../../../../assets/icons/zoom-in-18-18.png"), auto;
}

.file-upload {
  background-image: url("../../../../../../assets/img/upload-icon.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-color: #ffffff;
  height: 200px;
  width: 100%;
  cursor: pointer;
  border: 2px dashed #0f68ff;
  border-radius: 6px;
  margin-bottom: 25px;
  background-position: center 28px;
}

.drag-drop-info {
  display: block;
  text-align: center;
  font-family: titillium web, sans-serif;
  padding-top: 130px;
  color: #a0a1a2;
}

.image-list {
  background: #c2dffc;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

.image-list span {
  font-family: titillium web, sans-serif;
  color: #150938;
  font-size: 12px;
}

.profile {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
}

.profile img {
  width: 100%;
  height: 100%;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
