<h2 mat-dialog-title>
    <i class="mdi mdi-24px mdi-archive-arrow-down" style="color: #2471a3"></i>
    <span>&nbsp;&nbsp;{{ 'crMgt.archive.title' | translate }}</span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="archiverForm">
    <div fxLayout="column">
        <div fxFlex>
            <div fxLayout>
                <div fxLayoutAlign="center center">
                    <i class="mdi mdi-36px mdi-file-document-outline" style="margin: 10px; color: #4a235a"></i>
                </div>
                <h6 class="dash-title">
                    {{ manuscript.referenceNoFull }}
                </h6>
            </div>
        </div>
        <div fxFlex fxLayoutAlign="center" *ngIf="title == 'Archive Manuscript'">
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.archive.manuscript.noPages.label' | translate }}</mat-label>
                <input type="number" matInput
                    placeholder="{{ 'crMgt.archive.manuscript.noPages.label' | translate }}"
                    formControlName="noPages" required />
                <mat-error *ngIf="archiverForm.get('noPages').hasError('required')">
                    {{ 'crMgt.archive.manuscript.noPages.error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="center" *ngIf="title == 'Archive Manuscript'">
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.archive.manuscript.noCopies.label' | translate }}</mat-label>
                <input type="number" matInput placeholder="{{ 'crMgt.archive.manuscript.noCopies.label' | translate }}"
                    formControlName="noCopies" required />
                <mat-error *ngIf="archiverForm.get('noCopies').hasError('required')">
                    {{ 'crMgt.archive.manuscript.noCopies.error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="center" *ngIf="title == 'Archive Manuscript'">
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'crMgt.correspondence.actionsTaken.label' | translate }}</mat-label>
                <textarea matInput [rows]="3" placeholder="{{ 'crMgt.correspondence.actionsTaken.label' | translate }}"
                    formControlName="remark" required></textarea>
                <mat-error *ngIf="archiverForm.get('remark').hasError('required')">
                    {{ 'crMgt.correspondence.actionsTaken.error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="center" *ngIf="title == 'Archive Manuscript'">
            <mat-checkbox class="full-width-input" formControlName="hasArchiveAtt">
                {{ 'crMgt.manuscriptArchive.checkToUpload' | translate }}
            </mat-checkbox>
        </div>
        <div fxFlex *ngIf="title != 'Archive Manuscript'" fxLayoutAlign="center" class="file-upload" appDragDropFileUpload
            (click)="fileField.click()" (fileDropped)="uploadManuscript($event)">
            <span class="drag-drop-info">{{ 'crMgt.dragAndDrop' | translate }}</span>
            <input type="file" name="avatars" #fileField (change)="uploadManuscript($event.target.files)" hidden multiple
                accept="image/jpeg,image/gif,image/png,application/pdf">
        </div>
        <div fxFlex fxLayout fxLayoutGap="10px" class="image-list" *ngFor="let file of fileArr; let i = index">
            <div fxFlex=15 class="profile">
                <img [src]="sanitize(file['url'])" alt="">
            </div>
            <div fxFlex fxLayout="column" fxLayoutGap="5px">
                <div fxFlex>
                    <span style="font-size: 14px;">{{ file.item.name }}</span>
                </div>
                <div fxFlex>
                    <span>Size: {{ formatBytes(file.item.size) }}</span>
                </div>
                <div fxFlex *ngIf="file.status === 'success'">
                    <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
                </div>
                <div fxFlex *ngIf="file.status === 'error'">
                    <span style="color: red; font-size: 13px;">{{ file.message }}</span>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-content >
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
        {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
        <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
    </button>
    <button class="mat-raised-button mat-primary" [disabled]="loading" (click)="save()" *ngIf="title == 'Archive Manuscript'">
        <span>
            {{ 'crMgt.correspondeForm.save' | translate }}&nbsp;&nbsp;
            <i class="mdi mdi-18px mdi-content-save-outline"></i>
        </span>
    </button>
    <img *ngIf="loading" class="loading-img"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</mat-dialog-actions>