.container {
	width: 98%;
	min-height: 70vh;
	margin: 10px;
}

/*.left-menu {
	float: left;
	width: 15%;
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px solid #555;*/
/*}*/

/*.main-content {*/
	/*clear: left;*/
	/*float: left;*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*width: 80%;*/
	/*border: 1px solid #555;*/
	/*background-color: #E9E6E6;*/
/*}*/

/*.mat-list-icon {*/
  /*color: rgba(0, 0, 0, 0.54);*/
/*}*/