<div class="container">
    <div fxLayout="column">
        <div fxFlex>
            <div fxLayout>
                <div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px">
                    <i class="mdi mdi-48px mdi-book-education" style="margin: 10px; color: #4a235a"></i>
                </div>
                <h1 class="dash-title">
                    {{ 'crMgt.externalAssessor.pageTitle' | translate }}
                </h1>
            </div>
        </div>
        <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'">
            <hr class="divider" [ngClass.xs]="'divider_xs'" />
        </div>
        <div fxFlex *ngIf="canAdd">
            <button mat-raised-button color="primary" class="add-author-btn" (click)="addAssessor()">
                <i class="mdi mdi-24px mdi-lightbulb-on-outline"></i>&nbsp;&nbsp;&nbsp;
                {{ 'crMgt.menuActions.add' | translate }}
            </button>
        </div>
        <div fxFlex [style.display]="loading ? 'none' : 'block'" *ngIf="externalAssessorDataSource.data.length > 0">
            <i class="mdi mdi-24px mdi-filter-outline"></i>&nbsp;
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="{{ 'crMgt.filter' | translate }}" />
            </mat-form-field>
        </div>
        <div fxFlex *ngIf="loading" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
            <mat-spinner style="margin: auto" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
        </div>
        <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && externalAssessorDataSource.data.length == 0"
            style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
            <mat-card class="no-data-card">
                <h1 style="text-align: center;">
                    {{ 'crMgt.noData' | translate }}
                </h1>
            </mat-card>
        </div>
        <div fxFlex *ngIf="externalAssessorDataSource.data.length > 0">
            <div class="mat-elevation-z8">
                <table mat-table matSort [dataSource]="externalAssessorDataSource" multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'crMgt.externalAssessor.title.label' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let assessor">
                            {{ assessor.title }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'crMgt.author.firstName.label' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let assessor">
                            {{ assessor.firstName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fatherName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'crMgt.author.fatherName.label' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let assessor">
                            {{ assessor.fatherName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="grandFatherName">
                        <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'crMgt.author.gFatherName.label' | translate }}
                        </th>
                        <td fxHide.xs mat-cell *matCellDef="let assessor">
                            {{ assessor.grandFatherName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'crMgt.author.email.label' | translate }}
                        </th>
                        <td fxHide.xs mat-cell *matCellDef="let assessor">
                            {{ assessor.email }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="telephone">
                        <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'crMgt.author.telephone.label' | translate }}
                        </th>
                        <td fxHide.xs mat-cell *matCellDef="let assessor">
                            {{ assessor.telephone }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="operations">
                        <th mat-header-cell *matHeaderCellDef class="operations-header">
                            {{ 'crMgt.correspondence.actions' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let assessor" (click)="$event.stopPropagation()" class="operations">
                            <button fxHide.xs *ngIf="canEdit" mat-button color="primary"
                                matTooltip="{{ 'crMgt.menuActions.edit' | translate }}" (click)="editAssessor(assessor)">
                                <i class="mdi mdi-24px mdi-pencil-outline" style="color: #2471a3;"></i>
                            </button>
                            <button fxHide.xs *ngIf="!canDelete" mat-button color="primary"
                                matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                                (click)="deleteAssessor(assessor)">
                                <i class="mdi mdi-24px mdi-delete-outline" style="color: #c0392b;"></i>
                            </button>
                            <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
                                <span>
                                    <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
                                </span>
                            </button>
                            <mat-menu #moreOption="matMenu">
                                <button *ngIf="canEdit" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                                    (click)="editAssessor(assessor)">
                                    <i class="mdi mdi-24px mdi-pencil-outline" style="color: #2471a3;"></i>
                                </button>
                                <button *ngIf="!canDelete" mat-button color="primary"
                                    matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" (click)="deleteAssessor(assessor)">
                                    <i class="mdi mdi-24px mdi-delete-outline" style="color: #c0392b;"></i>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedAssessorDetail">
                        <td mat-cell *matCellDef="let assessor" [attr.colspan]="displayedColumns.length">
                            <div fxLayout="column" fxLayoutGap=10px class="author-detail" [@detailExpand]="
                                assessor == expandedAssessor
                                  ? 'expanded'
                                  : 'collapsed'
                              " style="padding-left: 20px; padding-bottom: 10px;">
                                <div fxFlex fxHide.gt-xs>
                                    {{ 'crMgt.author.gFatherName.label' | translate }} : {{ assessor.grandFatherName }}
                                </div>
                                <div fxFlex fxHide.gt-xs>
                                    {{ 'crMgt.author.email.label' | translate }} : {{ assessor.email }}
                                </div>
                                <div fxFlex fxHide.gt-xs>
                                    {{ 'crMgt.author.telephone.label' | translate }} : {{ assessor.telephone }}
                                </div>
                                <div fxFlex>
                                    {{ 'crMgt.author.bName.label' | translate }} : {{ assessor.bankName }}
                                </div>
                                <div fxFlex>
                                    {{ 'crMgt.author.bAcc.label' | translate }} : {{ assessor.bankAcc }}
                                </div>
                                <div fxFlex>
                                    {{ 'crMgt.author.tin.label' | translate }} : {{ assessor.tin }}
                                </div>
                                <div fxFlex>
                                    {{ 'crMgt.externalAssessor.areaOfExpertise.label' | translate }} : {{ assessor.areaOfExpertise }}
                                </div>
                                <div fxFlex>
                                    {{ 'crMgt.externalAssessor.institution.label' | translate }} : {{ assessor.institution }}
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let assessor; columns: displayedColumns" class="author-row"
                        [class.author-expanded-row]="
              expandedAssessor === assessor
            " (click)="
              expandedAssessor =
                expandedAssessor === assessor
                  ? null
                  : assessor
            "></tr>
                    <tr mat-row *matRowDef="
              let row;
              columns: ['expandedAssessorDetail']
            " class="author-detail-row"></tr>
                </table>
                <mat-paginator #paginator [style.display]="loading === false ? 'block' : 'none'"
                    [length]="assessorResultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>