.container {
  width: 99%;
  min-height: 74vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  text-transform: uppercase;
}

:lang(am) .dash-title {
  font-size: 250%;
}

.divider {
  width: 20%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.add-author-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

.mat-form-field {
  font-family: titillium web, sans-serif;
  width: 70%;
}

.mat-spinner {
  text-align: center;
}

table {
  width: 100%;
}

th {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

th.operations-header {
  text-align: center;
  font-size: 1.2em;
}

td {
  font-family: titillium web, sans-serif;
}

td.operations {
  width: 35%;
  font-family: titillium web, sans-serif;
  text-align: center;
}

tr.author-detail-row {
  height: 0;
}

tr.author-row:not(.author-expanded-row):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.author-row:not(.author-expanded-row):active {
  background: #efefef;
}

.author-row td {
  border-bottom-width: 0;
}

.author-detail {
  overflow: hidden;
  display: flex;
}

.contact-description-attribution {
  opacity: 0.8;
  font-style: italic;
  font-family: titillium web, sans-serif;
}
