.container {
  width: 100%;
  min-height: 80vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  /* text-transform: uppercase; */
}

:lang(am) .dash-title {
  font-family: Ethiopia Jiret;
  font-size: 250%;
}

.summary-card.mat-card {
  padding: 0px;
}

.summary-card-chart-icon {
  padding: 10px 0px 10px 10px;
}

.summary-card-chart-text {
  padding: 10px 0px 10px 20px;
}

.blue-bold-bg {
  background-color: var(--blue_bold);
}

.blue-light-bg {
  background-color: var(--blue_light);
}

.red-bold-bg {
  background-color: var(--red-bold);
}

.red-light-bg {
  background-color: var(--red-light);
}

.green-bold-bg {
  background-color: var(--green-bold);
}

.green-light-bg {
  background-color: var(--green-light);
}

.purple-bold-bg {
  background-color: var(--purple-bold);
}

.purple-light-bg {
  background-color: var(--purple-light);
}

.dark-red-bold-bg {
  background-color: var(--dark-red-bold);
}

.dark-red-light-bg {
  background-color: var(--dark-red-light);
}

.summary-card-chart-text-1 {
  font-size: 2rem;
  color: #fff;
  font-family: titillium web, sans-serif;
}

.summary-card-chart-text-2 {
  color: #fff;
  font-family: titillium web, sans-serif;
  font-weight: lighter;
  opacity: 0.8;
}

.card-icon-img {
  width: 70px;
  height: 70px;
}

.by-month-card.mat-card {
  height: 450px;
}

.by-month-title {
  font-family: titillium web, sans-serif;
  font-size: 1.5rem;
  color: #30a5ff;
}

:lang(am) .by-month-title {
  font-family: Ethiopia Jiret;
  font-size: 200%;
}

.by-month-value {
  font-family: titillium web, sans-serif;
  font-size: 2.25rem;
  margin-left: 20px;
  font-weight: bold;
}

.blue-bold-color {
  color: var(--blue_bold);
}

.red-bold-color {
  color: var(--red-bold);
}

.green-bold-color {
  color: var(--green-bold);
}

.purple-bold-color {
  color: var(--purple-bold);
}

.purple-light-color {
  color: var(--purple-light);
}

.dark-red-bold-color {
  color: var(--dark-red-bold);
}

.chart-wrapper {
  position: relative;
}

.chart-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
  text-align: center;
  font-size: 1.75em;
  font-family: titillium web, sans-serif;
}

.chart-title-xs {
  font-size: 1rem;
}

.by-status-title {
  font-family: titillium web, sans-serif;
  font-size: 2rem;
  color: #30a5ff;
}

:lang(am) .by-status-title {
  font-family: Ethiopia Jiret;
  font-size: 250%;
}

.text-title {
  font-family: titillium web, sans-serif;
  font-size: 0.7rem;
  color: #30a5ff;
}

.progress-circle {
  transition: stroke-dashoffset 0.3s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.text {
  font-family: titillium web, sans-serif;
  font-size: 0.8rem;
  color: #30a5ff;
}
