<div class="container" fxLayout="column" fxLayoutGap="20px">
    <div fxFlex=4>
        <div fxLayout fxLayoutGap="10px">
            <div style="padding-top: 5px;">
                <i class="mdi mdi-36px mdi-desktop-mac-dashboard" style="margin: 10px; color: #4A235A;"></i>
            </div>
            <h1 class="dash-title">
                {{ 'crMgt.userDashboard.title' | translate }}
            </h1>
        </div>
    </div>
    <!-- Correspondence by Type -->
    <div fxFlex=4 fxLayout fxLayout.xs="column" fxLayoutGap=10px fxLayoutAlign="space-around center">
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=25 class="summary-card-chart-icon blue-bold-bg">
                    <img src="../../../assets/icons/dash_icons/center.png" class="card-icon-img"
                        [ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
                        [ngClass.xl]="'card-icon-img-xl'" />
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text blue-light-bg">
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="40"
                            [style.display]="loadingCByType ? 'block' : 'none'"></mat-spinner>
                        <span *ngIf="!loadingCByType" class="summary-card-chart-text-1">
                            {{ centerTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex>
                        <span class="summary-card-chart-text-2">
                            {{ 'crMgt.userDashboard.incomingCenter2' | translate }}
                        </span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=25 class="summary-card-chart-icon green-bold-bg">
                    <img src="../../../assets/icons/dash_icons/college.png" class="card-icon-img"
                        [ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
                        [ngClass.xl]="'card-icon-img-xl'" />
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text green-light-bg">
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="40"
                            [style.display]="loadingCByType ? 'block' : 'none'"></mat-spinner>
                        <span *ngIf="!loadingCByType" class="summary-card-chart-text-1">
                            {{ collegeTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex>
                        <span class="summary-card-chart-text-2">
                            {{ 'crMgt.userDashboard.incomingCollege2' | translate }}
                        </span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=25 class="summary-card-chart-icon red-bold-bg">
                    <img src="../../../assets/icons/dash_icons/external.png" class="card-icon-img"
                        [ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
                        [ngClass.xl]="'card-icon-img-xl'" />
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text red-light-bg">
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="40"
                            [style.display]="loadingCByType ? 'block' : 'none'"></mat-spinner>
                        <span *ngIf="!loadingCByType" class="summary-card-chart-text-1">
                            {{ externalTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex>
                        <span class="summary-card-chart-text-2">
                            {{ 'crMgt.userDashboard.incomingExternal22' | translate }}
                        </span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex=30>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=25 class="summary-card-chart-icon purple-bold-bg">
                    <img src="../../../assets/icons/dash_icons/outgoing.png" class="card-icon-img"
                        [ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
                        [ngClass.xl]="'card-icon-img-xl'" />
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text purple-light-bg">
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="40"
                            [style.display]="loadingCByType ? 'block' : 'none'"></mat-spinner>
                        <span *ngIf="!loadingCByType" class="summary-card-chart-text-1">
                            {{ internalOutTotal | number: '1.'}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ externalOutTotal
                            | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex>
                        <span class="summary-card-chart-text-2">
                            {{ 'crMgt.userDashboard.outgoingInExt' | translate }}
                        </span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Manuscript Total and by Stage -->
    <div fxFlex fxLayout fxLayout.xs="column" fxLayoutGap=10px fxLayoutAlign="space-around center"
        *ngIf="manuscriptTotal > 0">
        <div fxFlex=22.75>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=25 class="summary-card-chart-icon dark-red-bold-bg">
                    <img src="../../../assets/icons/dash_icons/manuscript.png" class="card-icon-img"
                        [ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
                        [ngClass.xl]="'card-icon-img-xl'" />
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text dark-red-light-bg">
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="40"
                            [style.display]="loadingMByStage ? 'block' : 'none'">
                        </mat-spinner>
                        <span *ngIf="!loadingMByStage" class="summary-card-chart-text-1">
                            {{ manuscriptTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex>
                        <span class="summary-card-chart-text-2">
                            Manuscript
                        </span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=30 class="summary-card-chart-icon blue-bold-bg"
                    style="padding-top: 15px; background-color: #48C9B0;">
                    <i class="mdi mdi-36px mdi-numeric-1-circle-outline" style="color: #fff"></i>
                </div>
                <div fxFlex class="summary-card-chart-text blue-light-bg" style="background-color: #76D7C4;">
                    <mat-spinner style="margin: auto;" [diameter]="40" [style.display]="loading ? 'block' : 'none'">
                    </mat-spinner>
                    <span *ngIf="!loading" class="summary-card-chart-text-1"
                        matTooltip="Stage 1 - Preliminary Assessment">
                        {{ stage1Total | number: '1.'}}
                    </span>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=30 class="summary-card-chart-icon blue-bold-bg"
                    style="padding-top: 15px; background-color: #1ABC9C;">
                    <i class="mdi mdi-36px mdi-numeric-2-circle-outline" style="color: #fff"></i>
                </div>
                <div fxFlex class="summary-card-chart-text blue-light-bg" style="background-color: #48C9B0;">
                    <mat-spinner style="margin: auto;" [diameter]="40" [style.display]="loading ? 'block' : 'none'">
                    </mat-spinner>
                    <span *ngIf="!loading" class="summary-card-chart-text-1" matTooltip="Stage 2 - Main Assessment">
                        {{ stage2Total | number: '1.'}}
                    </span>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=30 class="summary-card-chart-icon blue-bold-bg"
                    style="padding-top: 15px; background-color: #17A589;">
                    <i class="mdi mdi-36px mdi-numeric-3-circle-outline" style="color: #fff"></i>
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text blue-light-bg"
                    style="background-color: #1ABC9C;">
                    <mat-spinner style="margin: auto;" [diameter]="40" [style.display]="loading ? 'block' : 'none'">
                    </mat-spinner>
                    <span *ngIf="!loading" class="summary-card-chart-text-1"
                        matTooltip="Stage 3 - Incorporate Comments">
                        {{ stage3Total | number: '1.'}}
                    </span>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=30 class="summary-card-chart-icon blue-bold-bg"
                    style="padding-top: 15px; background-color: #148F77;">
                    <i class="mdi mdi-36px mdi-numeric-4-circle-outline" style="color: #fff"></i>
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text blue-light-bg"
                    style="background-color: #17A589;">
                    <mat-spinner style="margin: auto;" [diameter]="40" [style.display]="loading ? 'block' : 'none'">
                    </mat-spinner>
                    <span *ngIf="!loading" class="summary-card-chart-text-1" matTooltip="Stage 4 - Editorial">
                        {{ stage4Total | number: '1.'}}
                    </span>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=30 class="summary-card-chart-icon blue-bold-bg"
                    style="padding-top: 15px; background-color: #117864;">
                    <i class="mdi mdi-36px mdi-numeric-5-circle-outline" style="color: #fff"></i>
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text blue-light-bg"
                    style="background-color: #148F77;">
                    <mat-spinner style="margin: auto;" [diameter]="40" [style.display]="loading ? 'block' : 'none'">
                    </mat-spinner>
                    <span *ngIf="!loading" class="summary-card-chart-text-1" matTooltip="Stage 5 - Typesetter">
                        {{ stage5Total | number: '1.'}}
                    </span>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxLayout class="summary-card">
                <div fxFlex=30 class="summary-card-chart-icon blue-bold-bg"
                    style="padding-top: 15px; background-color: #0E6251;">
                    <i class="mdi mdi-36px mdi-numeric-6-circle-outline" style="color: #fff"></i>
                </div>
                <div fxFlex fxLayout="column" class="summary-card-chart-text blue-light-bg"
                    style="background-color: #117864;">
                    <mat-spinner style="margin: auto;" [diameter]="40" [style.display]="loading ? 'block' : 'none'">
                    </mat-spinner>
                    <span *ngIf="!loading" class="summary-card-chart-text-1" matTooltip="Stage 6 - Printing">
                        {{ stage6Total | number: '1.'}}
                    </span>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Correspondence by Month -->
    <div fxFlex fxLayoutGap="20px" fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="55" class="chart-wrapper">
            <!-- Correspondence by Month Bar Chart -->
            <mat-card class="by-month-card" fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                <div fxFlex=80 fxLayoutGap="10px" fxLayout="column">
                    <div fxFlex=10 fxLayoutAlign="start">
                        <span class="by-month-title" *ngIf="manuscriptSixTotal == 0">
                            {{ 'crMgt.userDashboard.correspondencePerMonth' | translate }}
                        </span>
                        <span class="by-month-title" *ngIf="manuscriptSixTotal > 0">
                            {{ 'crMgt.userDashboard.correspondenceManuscriptByMonth' | translate }}
                        </span>
                    </div>
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="60"
                            [style.display]="loadingCByMonth ? 'block' : 'none'"></mat-spinner>
                        <canvas baseChart *ngIf="!loadingCByMonth" 
                            [datasets]="correspondenceByMonthBChartData"
                            [labels]="correspondenceByMonthChartLabels" 
                            [options]="correspondenceByMonthChartOptions"
                            [plugins]="correspondenceByMonthChartPlugins" 
                            [legend]="correspondenceByMonthChartLegend"
                            [chartType]="correspondenceByMonthChartType">
                        </canvas>
                    </div>
                </div>
                <div fxFlex *ngIf="!loadingCByMonth" fxLayout="column" fxLayout.xs>
                    <div fxFlex>&nbsp;</div>
                    <div fxFlex fxLayoutAlign="start center">
                        <span class="by-month-value blue-bold-color">
                            {{ centerSixTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex fxLayoutAlign="start center">
                        <span class="by-month-value green-bold-color">
                            {{ collegeSixTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex fxLayoutAlign="start center">
                        <span class="by-month-value red-bold-color">
                            {{ externalSixTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex fxLayoutAlign="start center">
                        <span class="by-month-value purple-bold-color">
                            {{ outgoingSixTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex fxLayoutAlign="start center" *ngIf="manuscriptSixTotal > 0">
                        <span class="by-month-value dark-red-bold-color">
                            {{ manuscriptSixTotal | number: '1.'}}
                        </span>
                    </div>
                    <div fxFlex>&nbsp;</div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="40" fxLayoutAlign="center center" class="chart-wrapper">
            <mat-card style="height: 400px; width: 100%;">
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex=10>
                        <span class="by-month-title">
                            {{ 'crMgt.userDashboard.amountPaidPerMonth' | translate }}
                        </span>
                    </div>
                    <div fxFlex>
                        <mat-spinner style="margin: auto;" [diameter]="50"
                            [style.display]="loadingCMonthlyPayment ? 'block' : 'none'">
                        </mat-spinner>
                        <div style="display: block;" *ngIf="!loadingCMonthlyPayment">
                            <canvas baseChart 
                                [datasets]="amountPaidChartData" 
                                [labels]="amountPaidChartLabels"
                                [options]="amountPaidChartOptions" 
                                [colors]="amountPaidChartColors"
                                [legend]="amountPaidChartLegend" 
                                [chartType]="amountPaidChartType"
                                [plugins]="amountPaidChartPlugins">
                            </canvas>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="45" fxFlex.xs="50" fxLayoutAlign="center center" class="chart-wrapper">
            <!-- Correspondence by Month Line Chart -->
            <mat-card style="height: 400px; width: 90%; margin-top: 10px;" fxLayout="column" fxLayoutGap="10px">
                <div fxFlex=10 fxLayoutAlign="start">
                    <span class="by-month-title" *ngIf="manuscriptSixTotal == 0">
                        {{ 'crMgt.userDashboard.correspondencePerMonth' | translate }}
                    </span>
                    <span class="by-month-title" *ngIf="manuscriptSixTotal > 0">
                        {{ 'crMgt.userDashboard.correspondenceManuscriptByMonth' | translate }}
                    </span>
                </div>
                <div fxFlex fxLayoutAlign="center" style="width: 95%;">
                    <mat-spinner style="margin: auto;" [diameter]="60"
                        [style.display]="loadingCByMonth ? 'block' : 'none'"></mat-spinner>
                    <canvas baseChart *ngIf="!loadingCByMonth" 
                        [datasets]="correspondenceByMonthLChartData"
                        [labels]="correspondenceByMonthChartLabels" 
                        [options]="lineChartOptions"
                        [colors]="lineChartColors" 
                        [legend]="lineChartLegend" 
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Department Incoming & Outgoing -->
    <div fxFlex fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <!-- Incoming with status -->
        <div fxFlex=60>
            <mat-card fxLayout="column" style="min-height: 350px;">
                <div fxFlex>
                    <span class="by-status-title">
                        {{ 'crMgt.userDashboard.incomingWithStatus' | translate }}
                    </span>
                </div>
                <div fxFlex fxLayout="row wrap" fxLayoutGap="10px">
                    <div fxFlex fxHide.xs>&nbsp;</div>
                    <div fxFlex=30 fxFlex.xs="40" class="chart-wrapper" *ngIf="centerTotal > 0">
                        <div class="chart-title blue-bold-color" [ngClass.xs]="'chart-title-xs'">
                            {{ 'crMgt.userDashboard.incomingCenter' | translate }}
                        </div>
                        <canvas baseChart width="100%" height="100%" 
                            [datasets]="centerStatusChartData"
                            [labels]="statusChartLabels" 
                            [options]="statusChartOptions" 
                            [chartType]="statusChartType"
                            [legend]="false">
                        </canvas>
                    </div>
                    <div fxFlex=30 fxFlex.xs="40" class="chart-wrapper" *ngIf="collegeTotal > 0">
                        <div class="chart-title green-bold-color" [ngClass.xs]="'chart-title-xs'">
                            {{ 'crMgt.userDashboard.incomingCollege' | translate }}
                        </div>
                        <mat-spinner style="margin: auto;" [diameter]="100"
                            [style.display]="loadingCByStatus ? 'block' : 'none'"></mat-spinner>
                        <canvas baseChart width="100%" height="100%" 
                            [datasets]="collegeStatusChartData"
                            [labels]="statusChartLabels" 
                            [options]="statusChartOptions" 
                            [chartType]="statusChartType"
                            [legend]="false">
                        </canvas>
                    </div>
                    <div fxFlex=30 fxFlex.xs="40" class="chart-wrapper" *ngIf="externalTotal > 0">
                        <div class="chart-title red-bold-color" [ngClass.xs]="'chart-title-xs'">
                            {{ 'crMgt.userDashboard.incomingExternal' | translate }}
                        </div>
                        <canvas baseChart width="100%" height="100%" 
                            [datasets]="externalStatusChartData"
                            [labels]="statusChartLabels" 
                            [options]="statusChartOptions" 
                            [chartType]="statusChartType"
                            [legend]="false">
                        </canvas>
                    </div>
                    <div fxFlex=30 fxFlex.xs="40" class="chart-wrapper" *ngIf="manuscriptTotal > 0">
                        <div class="chart-title dark-red-bold-color" [ngClass.xs]="'chart-title-xs'">
                            {{ 'crMgt.manuscript' | translate }}
                        </div>
                        <canvas baseChart width="100%" height="100%" 
                            [datasets]="manuscriptStatusChartData"
                            [labels]="manuscriptStatusChartLabels" 
                            [options]="statusChartOptions"
                            [chartType]="statusChartType" 
                            [legend]="false">
                        </canvas>
                    </div>
                    <div fxFlex fxHide.xs>&nbsp;</div>
                </div>
            </mat-card>
        </div>
        <!-- Outgoing with status -->
        <div fxFlex>
            <mat-card fxLayout="column" style="height: 350px;">
                <div fxFlex>
                    <span class="by-status-title">
                        {{ 'crMgt.userDashboard.outgoingWithStatus' | translate }}
                    </span>
                </div>
                <div fxFlex fxLayout fxLayoutGap="10px">
                    <div fxFlex fxHide.xs>&nbsp;</div>
                    <div fxFlex=45 fxFlex.xs=50 class="chart-wrapper" *ngIf="internalOutTotal > 0">
                        <div class="chart-title purple-bold-color" [ngClass.xs]="'chart-title-xs'">
                            {{ 'crMgt.userDashboard.outgoingInternal' | translate }}
                        </div>
                        <mat-spinner style="margin: auto;" [diameter]="100"
                            [style.display]="loadingCByStatus ? 'block' : 'none'"></mat-spinner>
                        <canvas baseChart width="100%" height="100%" 
                            [datasets]="internalOutStatusChartData"
                            [labels]="outStatusChartLabels" 
                            [options]="statusChartOptions" 
                            [chartType]="statusChartType"
                            [legend]="false">
                        </canvas>
                    </div>
                    <div fxFlex=45 fxFlex.xs=50 class="chart-wrapper" *ngIf="externalOutTotal > 0">
                        <div class="chart-title purple-light-color" [ngClass.xs]="'chart-title-xs'">
                            {{ 'crMgt.userDashboard.outgoingExternal' | translate }}
                        </div>
                        <canvas baseChart width="100%" height="100%" 
                            [datasets]="externalOutStatusChartData"
                            [labels]="outStatusChartLabels" 
                            [options]="statusChartOptions" 
                            [chartType]="statusChartType"
                            [legend]="false">
                        </canvas>
                    </div>
                    <div fxFlex fxHide.xs>&nbsp;</div>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Department Incomings -->
    <div fxFlex fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex>
            <mat-card style="height: 400px;">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
                    <div fxFlex=10 fxLayoutAlign="start">
                        <span class="by-status-title">
                            {{ 'crMgt.userDashboard.centerDepartmentWithStatus' | translate }}
                        </span>
                    </div>
                    <div fxFlex style="overflow: auto;">
                        <mat-spinner style="margin: auto;" [diameter]="50"
                            [style.display]="loadingCenterByStatus ? 'block' : 'none'"></mat-spinner>
                        <div style="display: block; height: 350px;" *ngIf="!loadingCenterByStatus">
                            <canvas baseChart 
                                [datasets]="centerOfficeStatusData" 
                                [labels]="centerOfficeStatusLabels"
                                [options]="centerOfficeStatusOptions" 
                                [legend]="centerOfficeStatusLegend"
                                [chartType]="centerOfficeStatusType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card style="height: 400px;">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
                    <div fxFlex=10 fxLayoutAlign="start">
                        <span class="by-status-title">
                            {{ 'crMgt.userDashboard.collegeDepartmentWithStatus' | translate }}
                        </span>
                    </div>
                    <div fxFlex style="overflow: auto;">
                        <mat-spinner style="margin: auto;" [diameter]="50"
                            [style.display]="loadingCollegeByStatus ? 'block' : 'none'">
                        </mat-spinner>
                        <div style="display: block; height: 350px;" *ngIf="!loadingCollegeByStatus">
                            <canvas baseChart 
                                [datasets]="collegeOfficeStatusData" 
                                [labels]="collegeOfficeStatusLabels"
                                [options]="collegeOfficeStatusOptions" 
                                [legend]="collegeOfficeStatusLegend"
                                [chartType]="collegeOfficeStatusType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Department Outgoings -->
    <div fxFlex fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="60">
            <mat-card style="height: 400px;">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
                    <div fxFlex=10 fxLayoutAlign="start">
                        <span class="by-status-title">
                            {{ 'crMgt.userDashboard.departmentOutgoingWithStatus' | translate }}
                        </span>
                    </div>
                    <div fxFlex style="overflow: auto;">
                        <mat-spinner style="margin: auto;" [diameter]="50"
                            [style.display]="loadingOutgoingByStatus ? 'block' : 'none'">
                        </mat-spinner>
                        <div style="display: block; height: 350px;" *ngIf="!loadingOutgoingByStatus">
                            <canvas baseChart 
                                [datasets]="officeOutgoingStatusData"
                                [labels]="officeOutgoingStatusLabels" 
                                [options]="officeOutgoingStatusOptions"
                                [legend]="officeOutgoingStatusLegend" 
                                [chartType]="officeOutgoingStatusType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Department Employee -->
    <div fxFlex fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex=50>
            <mat-card style="height: 400px;">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
                    <div fxFlex=10 fxLayoutAlign="start">
                        <span class="by-status-title">
                            {{ 'crMgt.userDashboard.userAssignmentWithStatus' | translate }}
                        </span>
                    </div>
                    <div fxFlex style="overflow: auto;">
                        <mat-spinner style="margin: auto;" [diameter]="50"
                            [style.display]="loadingUserStatus ? 'block' : 'none'">
                        </mat-spinner>
                        <div style="display: block; height: 350px;" *ngIf="!loadingUserStatus">
                            <canvas baseChart 
                                [datasets]="usersStatusData" 
                                [labels]="usersStatusLabels"
                                [options]="usersStatusOptions" 
                                [legend]="usersStatusLegend"
                                [chartType]="usersStatusType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center"
            fxLayoutAlign.xs="center center">
            <div fxFlex=45>
                <mat-card style="width: 200px; height: 150px;">
                    <span class="text-title" *ngIf="loadingUserStatus">
                        {{ 'crMgt.userDashboard.status.assigned' | translate }}
                    </span>
                    <mat-spinner style="margin: auto;" [diameter]="40"
                        [style.display]="loadingUserStatus ? 'block' : 'none'">
                    </mat-spinner>
                    <svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
                        <text x="50" y="10" class="text-title" text-anchor="middle">
                            {{ 'crMgt.userDashboard.status.assigned' | translate }}
                        </text>
                        <circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
                            [style.strokeDashoffset]="assignedStrokeDashoffset" fill="transparent" stroke="#BDC3C7"
                            r="20" cx="45" cy="35" />
                        <text x="50" y="45" class="text" text-anchor="middle">
                            {{ checkNumeric(valueAssigned) ? (valueAssigned | number : '1.0-0') + '%' : 0 + '%'}}
                        </text>
                    </svg>
                </mat-card>
            </div>
            <div fxFlex=45>
                <mat-card style="width: 200px; height: 150px;">
                    <span class="text-title" *ngIf="loadingUserStatus">
                        {{ 'crMgt.userDashboard.status.accepted2' | translate }}
                    </span>
                    <mat-spinner style="margin: auto;" [diameter]="40"
                        [style.display]="loadingUserStatus ? 'block' : 'none'">
                    </mat-spinner>
                    <svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
                        <text x="50" y="10" class="text-title" text-anchor="middle">
                            {{ 'crMgt.userDashboard.status.accepted2' | translate }}
                        </text>
                        <circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
                            [style.strokeDashoffset]="acceptedStrokeDashoffset" fill="transparent" stroke="#229954"
                            r="20" cx="45" cy="35" />
                        <text x="50" y="45" class="text" text-anchor="middle">
                            {{ checkNumeric(valueAccepted) ? (valueAccepted | number : '1.0-0') + '%' : 0 + '%'}}
                        </text>
                    </svg>
                </mat-card>
            </div>
            <div fxFlex=45>
                <mat-card style="width: 200px; height: 150px;">
                    <span class="text-title" *ngIf="loadingUserStatus">
                        {{ 'crMgt.userDashboard.status.rejected2' | translate }}
                    </span>
                    <mat-spinner style="margin: auto;" [diameter]="40"
                        [style.display]="loadingUserStatus ? 'block' : 'none'">
                    </mat-spinner>
                    <svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
                        <text x="50" y="10" class="text-title" text-anchor="middle">
                            {{ 'crMgt.userDashboard.status.rejected2' | translate }}
                        </text>
                        <circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
                            [style.strokeDashoffset]="rejectedStrokeDashoffset" fill="transparent" stroke="#E74C3C"
                            r="20" cx="45" cy="35" />
                        <text x="50" y="45" class="text" text-anchor="middle">
                            {{ checkNumeric(valueRejected) ? (valueRejected | number : '1.0-0') + '%' : 0 + '%'}}
                        </text>
                    </svg>
                </mat-card>
            </div>
            <div fxFlex=45>
                <mat-card style="width: 200px; height: 150px;">
                    <span class="text-title" *ngIf="loadingUserStatus">
                        {{ 'crMgt.userDashboard.status.forwarded2' | translate }}
                    </span>
                    <mat-spinner style="margin: auto;" [diameter]="40"
                        [style.display]="loadingUserStatus ? 'block' : 'none'">
                    </mat-spinner>
                    <svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
                        <text x="50" y="10" class="text-title" text-anchor="middle">
                            {{ 'crMgt.userDashboard.status.forwarded2' | translate }}
                        </text>
                        <circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
                            [style.strokeDashoffset]="forwardedStrokeDashoffset" fill="transparent" stroke="#E74C3C"
                            r="20" cx="45" cy="35" />
                        <text x="50" y="45" class="text" text-anchor="middle">
                            {{ checkNumeric(valueForwarded) ? (valueForwarded | number : '1.0-0') + '%' : 0 + '%'}}
                        </text>
                    </svg>
                </mat-card>
            </div>
        </div>
    </div>
</div>