<div class="container" fxLayout="column" fxLayoutGap="20px">
	<div fxFlex>
		<div fxLayout fxLayoutGap="10px">
			<div style="padding-top: 5px;">
				<i class="mdi mdi-48px mdi-view-dashboard" style="margin: 10px; color: #4A235A;"></i>
			</div>			
			<h1 class="dash-title">
				{{ 'crMgt.userDashboard.title' | translate }}
			</h1>
		</div>
		<!-- <span>			
			<h2 style="font-family: titillium web,sans-serif;;">Overview</h2>
		</span> -->
		
	</div>
	<div fxFlex>
		<hr class="divider">
	</div>
	<div fxFlex fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="space-around center">
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card-new" style="background-color: #2196F3;">
				<div fxFlex="40" fxFlex.gt-lg="30" class="card-icon-container">
					<div style="margin: 5px;">
						<img src="../../../assets/img/incoming_2.png" class="card-icon-img"
							[ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
							[ngClass.xl]="'card-icon-img-xl'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container" fxLayoutAlign="start center">
						<div class="card-text-layout" *ngIf="!loading">
							<span class="card-content-1" [ngClass.lg]="'card-content-1-lg'"
								[ngClass.xl]="'card-content-1-xl'">
								{{ dashboardData.incoming_centers.length }}
							</span>
						</div>
						<mat-spinner style="margin: auto;" [diameter]="30" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
					</div>
					<div fxFlex fxLayoutAlign="center center">
						<div class="card-text-layout">
							<span class="card-content-2" [ngClass.lg]="'card-content-2-lg'"
								[ngClass.xl]="'card-content-2-xl'">
								{{ 'crMgt.userDashboard.incomingCenter' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card-new" style="background-color: #28B463;">
				<div fxFlex="40" fxFlex.gt-lg="30" class="card-icon-container">
					<div style="margin: 5px;">
						<img src="../../../assets/img/incoming_2.png" class="card-icon-img"
							[ngClass.md]="'card-icon-img-md'" [ngClass.lg]="'card-icon-img-lg'"
							[ngClass.xl]="'card-icon-img-xl'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container" fxLayoutAlign="start center">
						<div class="card-text-layout" *ngIf="!loading">
							<span class="card-content-1" [ngClass.lg]="'card-content-1-lg'"
								[ngClass.xl]="'card-content-1-xl'">
								{{ dashboardData.incoming_colleges.length }}
							</span>
						</div>
						<mat-spinner style="margin: auto;" [diameter]="30" [style.display]="loading ? 'block' : 'none'"></mat-spinner>						
					</div>
					<div fxFlex fxLayoutAlign="center center">
						<div class="card-text-layout">
							<span class="card-content-2" [ngClass.lg]="'card-content-2-lg'"
								[ngClass.xl]="'card-content-2-xl'">
								{{ 'crMgt.userDashboard.incomingCollege' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card-new" style="background-color: #F44336;">
				<div fxFlex="40" fxFlex.gt-lg="30" class="card-icon-container">
					<div style="margin: 5px;">
						<img src="../../../assets/img/incoming.png" class="card-icon-img" [ngClass.md]="'card-icon-img-md'"
							[ngClass.lg]="'card-icon-img-lg'" [ngClass.xl]="'card-icon-img-xl'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container" fxLayoutAlign="start center">
						<div class="card-text-layout" *ngIf="!loading">
							<span class="card-content-1" [ngClass.lg]="'card-content-1-lg'"
								[ngClass.xl]="'card-content-1-xl'">
								{{ dashboardData.incoming_externals.length }}
							</span>
						</div>
						<mat-spinner style="margin: auto;" [diameter]="30" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
					</div>
					<div fxFlex fxLayoutAlign="center center">
						<div class="card-text-layout">
							<span class="card-content-2" [ngClass.lg]="'card-content-2-lg'"
								[ngClass.xl]="'card-content-2-xl'">
								{{ 'crMgt.userDashboard.incomingExternal' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>		
	</div>
	<div fxFlex fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center center">		
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card-new" style="background-color: #117A65;">
				<div fxFlex="40" fxFlex.gt-lg="30" class="card-icon-container">
					<div style="margin: 5px;">
						<img src="../../../assets/img/outgoing.png" class="card-icon-img" [ngClass.md]="'card-icon-img-md'"
							[ngClass.lg]="'card-icon-img-lg'" [ngClass.xl]="'card-icon-img-xl'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container" fxLayoutAlign="start center">
						<div class="card-text-layout" *ngIf="!loading">
							<span class="card-content-1" [ngClass.lg]="'card-content-1-lg'"
								[ngClass.xl]="'card-content-1-xl'">
								{{ dashboardData.outgoing_internals.length }}
							</span>
						</div>
						<mat-spinner style="margin: auto;" [diameter]="30" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
					</div>
					<div fxFlex fxLayoutAlign="center center">
						<div class="card-text-layout">
							<span class="card-content-2" [ngClass.lg]="'card-content-2-lg'"
								[ngClass.xl]="'card-content-2-xl'">
								{{ 'crMgt.userDashboard.outgoingInternal' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card-new" style="background-color: #4A235A;">
				<div fxFlex="40" fxFlex.gt-lg="30" class="card-icon-container">
					<div style="margin: 5px;">
						<img src="../../../assets/img/outgoing_2.png" class="card-icon-img" [ngClass.md]="'card-icon-img-md'"
							[ngClass.lg]="'card-icon-img-lg'" [ngClass.xl]="'card-icon-img-xl'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container" fxLayoutAlign="start center">
						<div class="card-text-layout" *ngIf="!loading">
							<span class="card-content-1" [ngClass.lg]="'card-content-1-lg'"
								[ngClass.xl]="'card-content-1-xl'">
								{{ dashboardData.outgoing_externals.length }}
							</span>
						</div>
						<mat-spinner style="margin: auto;" [diameter]="30" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
					</div>
					<div fxFlex fxLayoutAlign="center center">
						<div class="card-text-layout">
							<span class="card-content-2" [ngClass.lg]="'card-content-2-lg'"
								[ngClass.xl]="'card-content-2-xl'">
								{{ 'crMgt.userDashboard.outgoingExternal' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex fxHide.xs>&nbsp;</div>		
	</div>
	<div fxFlex fxLayoutGap="10px" fxLayout fxLayout.lt-sm="column">
		<div fxFlex>
			<mat-card style="height: 400px;" [ngStyle.lt-md]="'height: 250px;'">
				<div fxLayout="column">
					<div fxFlex fxLayoutAlign="center" style="padding: 10px;" [ngStyle.lt-md]="'padding: 0px;'">
						<span class="donut-title">							
							{{ 'crMgt.userDashboard.incomingWithStatus' | translate }}
						</span>
					</div>
					<div fxFlex fxLayoutAlign="center">
						<mat-spinner style="margin: auto;" [diameter]="100" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
						<div style="width: 650px; height: 350px; margin: 10px;"
							[ngStyle.lt-md]="'width: 500px; height: 230px;'" *ngIf="!loading">
							<div style="position: absolute; top: 200px; right: 100px; padding: 5px 10px 5px 10px;"
									[ngStyle.xs]="'top: 150px; right: 40px;'">
								<span class="donut-title" *ngIf="centerHover">
									{{ 'crMgt.userDashboard.incomingCenter' | translate }}
								</span>
								<span class="donut-title" *ngIf="collegeHover">
									{{ 'crMgt.userDashboard.incomingCollege' | translate }}
								</span>
								<span class="donut-title" *ngIf="externalHover">
									{{ 'crMgt.userDashboard.incomingExternal' | translate }} <br />
									{{ 'crMgt.userDashboard.incomingExternal2' | translate }}
								</span>
							</div>
							<canvas baseChart 
								[datasets]="incomingStatusChartData" 
								[labels]="statusChartLabels"
								[chartType]="statusChartType" 
								[options]="statusChartOptions" 
								[legend]="true"
								(chartHover)="incomingStatusChartHovered($event)" 
								(mouseout) = "incomingStatusChartMuseOut($event)"></canvas>							
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex>
			<mat-card style="height: 400px;" [ngStyle.lt-md]="'height: 250px;'">
				<div fxLayout="column">
					<div fxFlex fxLayoutAlign="center" style="padding: 10px;" [ngStyle.lt-md]="'padding: 0px;'">
						<span class="donut-title">							
							{{ 'crMgt.userDashboard.outgoingWithStatus' | translate }}
						</span>
					</div>
					<div fxFlex  fxLayoutAlign="center">
						<mat-spinner style="margin: auto;" [diameter]="100" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
						<div style="width: 650px; height: 350px; margin: 10px;"
							[ngStyle.lt-md]="'width: 500px; height: 230px;'" *ngIf="!loading">
							<div style="position: absolute; top: 200px; right: 100px; padding: 5px 10px 5px 10px;"
									[ngStyle.xs]="'top: 150px; right: 40px;'">
								<span class="donut-title" *ngIf="internalOutgoingHover">
									{{ 'crMgt.userDashboard.outgoingInternal' | translate }}
								</span>
								<span class="donut-title" *ngIf="externalOutgoingHover">
									{{ 'crMgt.userDashboard.outgoingExternal' | translate }}
								</span>
							</div>
							<canvas baseChart 
								[datasets]="outgoingStatusChartData"
								[labels]="statusChartLabels"
								[chartType]="statusChartType" 
								[options]="statusChartOptions" 
								[legend]="true"
								(chartHover)="outgoingStatusChartHovered($event)" 
								(mouseout) = "outgoingStatusChartMuseOut($event)"></canvas>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
	<div fxFlex fxLayoutGap="10px" fxLayout fxLayout.lt-sm="column">
		<div fxFlex>
			<mat-card style="height: 400px;">
				<div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
					<div fxFlex=10 fxLayoutAlign="center">
						<span class="donut-title">
							{{ 'crMgt.userDashboard.centerDepartmentWithStatus' | translate }}
						</span>
					</div>
					<div fxFlex style="overflow: auto;">
						<mat-spinner style="margin: auto;" [diameter]="50" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
						<div style="display: block; height: 350px;" 
								*ngIf="!loading && centerOfficeStatusData.length > 0">
							<canvas baseChart
								[datasets]="centerOfficeStatusData"
								[labels]="centerOfficeStatusLabels"
								[options]="centerOfficeStatusOptions"
								[legend]="centerOfficeStatusLegend"
								[chartType]="centerOfficeStatusType">
							</canvas>
						</div>
					</div>
				</div>				
			</mat-card>
		</div>
		<div fxFlex>
			<mat-card style="height: 400px;">
				<div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
					<div fxFlex=10 fxLayoutAlign="center">
						<span class="donut-title">
							{{ 'crMgt.userDashboard.collegeDepartmentWithStatus' | translate }}
						</span>
					</div>
					<div fxFlex style="overflow: auto;">
						<mat-spinner style="margin: auto;" [diameter]="50" [style.display]="loading ? 'block' : 'none'"></mat-spinner>						
						<div style="display: block; height: 350px;"
								*ngIf="!loading && collegeOfficeStatusData.length > 0">
							<canvas baseChart 
								[datasets]="collegeOfficeStatusData"
								[labels]="collegeOfficeStatusLabels"
								[options]="collegeOfficeStatusOptions"
								[legend]="collegeOfficeStatusLegend"
								[chartType]="collegeOfficeStatusType">
							</canvas>
						</div>
					</div>
				</div>				
			</mat-card>
		</div> 
	</div>
	<div fxFlex fxLayout fxLayout.lt-sm="column" fxLayoutGap="10px">
		<div fxFlex=50>
			<mat-card style="height: 400px;">
				<div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
					<div fxFlex=10 fxLayoutAlign="center">
						<span class="donut-title">
							{{ 'crMgt.userDashboard.departmentOutgoingWithStatus' | translate }}
						</span>
					</div>
					<div fxFlex style="overflow: auto;">
						<mat-spinner style="margin: auto;" [diameter]="50" [style.display]="loading ? 'block' : 'none'">
						</mat-spinner>
						<div style="display: block; height: 350px;" 
								*ngIf="!loading && officeOutgoingStatusData.length > 0">
							<canvas baseChart 
								[datasets]="officeOutgoingStatusData" 
								[labels]="officeOutgoingStatusLabels"
								[options]="officeOutgoingStatusOptions" 
								[legend]="officeOutgoingStatusLegend"
								[chartType]="officeOutgoingStatusType">
							</canvas>
						</div>
					</div>
				</div>
			</mat-card>
		</div>		
	</div>
	<div fxFlex fxLayout fxLayout.lt-sm="column" fxLayoutGap="10px">
		<div fxFlex=50>
			<mat-card style="height: 400px;">
				<div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
					<div fxFlex=10 fxLayoutAlign="center">
						<span class="donut-title">
							{{ 'crMgt.userDashboard.userAssignmentWithStatus' | translate }}
						</span>
					</div>
					<div fxFlex style="overflow: auto;">
						<mat-spinner style="margin: auto;" [diameter]="100" [style.display]="loadingUserStatus ? 'block' : 'none'">
						</mat-spinner>												
						<div style="display: block; height: 350px;"
							*ngIf="!loadingUserStatus && usersStatusData.length > 0">
							<canvas baseChart 
								[datasets]="usersStatusData" 
								[labels]="usersStatusLabels"
								[options]="usersStatusOptions" 
								[legend]="usersStatusLegend" 
								[chartType]="usersStatusType">
							</canvas>
								
						</div> 
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" 
				fxLayoutAlign="center"
			 	fxLayoutAlign.xs="center center">
			<div fxFlex=45>
				<mat-card style="width: 200px; height: 150px;">
					<span class="text-title" *ngIf="loadingUserStatus">
						{{ 'crMgt.userDashboard.status.assigned' | translate }}
					</span>
					<mat-spinner style="margin: auto;" [diameter]="80" [style.display]="loadingUserStatus ? 'block' : 'none'">
					</mat-spinner>
					<svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
						<text x="50" y="10" class="text-title" text-anchor="middle">
							{{ 'crMgt.userDashboard.status.assigned' | translate }}
						</text>
						<circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="assignedStrokeDashoffset" fill="transparent" stroke="#BDC3C7" 
							r="20" cx="45" cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">
							{{ checkNumeric(valueAssigned) ? (valueAssigned | number : '1.0-0') + '%' : 0 + '%'}}
						</text>
					</svg>
				</mat-card>
			</div>
			<div fxFlex=45>
				<mat-card style="width: 200px; height: 150px;">
					<span class="text-title" *ngIf="loadingUserStatus">
						{{ 'crMgt.userDashboard.status.accepted' | translate }}
					</span>
					<mat-spinner style="margin: auto;" [diameter]="80" [style.display]="loadingUserStatus ? 'block' : 'none'">
					</mat-spinner>
					<svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
						<text x="50" y="10" class="text-title" text-anchor="middle">
							{{ 'crMgt.userDashboard.status.accepted' | translate }}
						</text>
						<circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="acceptedStrokeDashoffset" fill="transparent" stroke="#229954" 
							r="20" cx="45" cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">
							{{ checkNumeric(valueAccepted) ? (valueAccepted | number : '1.0-0') + '%' : 0 + '%'}}
						</text>
					</svg>
				</mat-card>
			</div>
			<div fxFlex=45>
				<mat-card style="width: 200px; height: 150px;">
					<span class="text-title" *ngIf="loadingUserStatus">
						{{ 'crMgt.userDashboard.status.rejected' | translate }}
					</span>
					<mat-spinner style="margin: auto;" [diameter]="80" [style.display]="loadingUserStatus ? 'block' : 'none'">
					</mat-spinner>
					<svg viewBox="0, 0, 100, 70" *ngIf="!loadingUserStatus">
						<text x="50" y="10" class="text-title" text-anchor="middle">
							{{ 'crMgt.userDashboard.status.rejected' | translate }}
						</text>
						<circle class="progress-circle" stroke-width="3" [style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="rejectedStrokeDashoffset" fill="transparent" stroke="#E74C3C" 
							r="20" cx="45" cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">
							{{ checkNumeric(valueRejected) ? (valueRejected | number : '1.0-0') + '%' : 0 + '%'}}
						</text>
					</svg>
				</mat-card>
			</div>
		</div>
	</div>
	<div fxFlex fxLayoutGap="10px" fxLayout fxLayout.lt-sm="column">
		<div fxFlex="50">
			<mat-card style="height: 400px;">
				<div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
					<div fxFlex=10 fxLayoutAlign="center">
						<span class="donut-title">
							{{ 'crMgt.userDashboard.correspondencePerMonth' | translate }}
						</span>
					</div>
					<div fxFlex style="overflow: auto;">
						<mat-spinner style="margin: auto;" [diameter]="50" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
						<div style="display: block;" *ngIf="!loading && correspondenceByMonthChartData.length > 0">
							<canvas baseChart 
								[datasets]="correspondenceByMonthChartData"
								[labels]="correspondenceByMonthChartLabels"
								[options]="correspondenceByMonthChartOptions"
								[legend]="correspondenceByMonthChartLegend"
								[chartType]="correspondenceByMonthChartType">
							</canvas>
						</div>
					</div>
				</div>				
			</mat-card>
		</div>
		<div fxFlex="50">
			<mat-card style="height: 400px;">
				<div fxLayout="column" fxLayoutGap="10px" style="height: 400px;">
					<div fxFlex=10 fxLayoutAlign="center">
						<span class="donut-title">
							{{ 'crMgt.userDashboard.amountPaidPerMonth' | translate }}
						</span>
					</div>
					<div fxFlex style="overflow: auto;">
						<mat-spinner style="margin: auto;" [diameter]="50" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
						<div style="display: block;" *ngIf="!loading && amountPaidChartData.length > 0">
							<canvas baseChart 
								[datasets]="amountPaidChartData" 
								[labels]="amountPaidChartLabels" 
								[options]="amountPaidChartOptions"
								[colors]="amountPaidChartColors" 
								[legend]="amountPaidChartLegend" 
								[chartType]="amountPaidChartType" 
								[plugins]="amountPaidChartPlugins">
							</canvas>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>