.container {
  width: 100%;
  min-height: 75vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 250px;
  height: 300px;
  margin: 20px;
  border: 1px solid #5dade2;
  border-radius: 5%;
  background-color: white;
}

.card-icon {
  width: 50px;
  height: 50px;
  box-shadow: 3px 3px #aaaaaa;
  border-radius: 30%;
  background-color: #f5b041;
  margin-top: -15px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 5px;
  float: left;
}

.card-title {
  float: right;
  margin-right: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: titillium web, sans-serif;
}

.card-sub-title {
  float: right;
  margin-right: 10px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
  font-family: titillium web, sans-serif;
  color: rgba(0, 0, 0, 0.54);
}

.card-line {
  clear: right;
  float: right;
  width: 40%;
  color: #f5b041;
}

.card-divider {
  border: 2px solid #aed6f1;
}

.card-content {
  float: left;
  margin: 5px;
}

.card-canvas {
  display: block;
  margin-left: 20px;
  padding-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-icon {
  margin: 10px;
  transform: scale(2);
}

/* ==================== */

.card {
  margin: 10px;
  padding: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card-icon-container {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 0px 30px 0px;
}

.card-icon-img {
  width: 100px;
  height: 100px;
}
.card-icon-img-md {
  width: 120px;
  height: 120px;
}
.card-icon-img-lg {
  width: 150px;
  height: 150px;
}
.card-icon-img-xl {
  width: 200px;
  height: 200px;
}

.card-content-1-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.card-text-layout {
  margin-left: 20px;
}

.card-content-1 {
  font-size: 2rem;
  color: #fff;
  font-family: titillium web, sans-serif;
}

.card-content-1-lg {
  font-size: 3rem;
}
.card-content-1-xl {
  font-size: 4rem;
}

.card-content-2 {
  font-size: 2rem;
  font-family: titillium web, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.card-content-2-lg {
  font-size: 2rem;
}
.card-content-2-xl {
  font-size: 2rem;
}

:lang(am) .card-content-2 {
  font-family: Ethiopia Jiret;
  font-size: 2.5rem;
}

/*=============*/
.progress-circle {
  transition: stroke-dashoffset 0.3s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.text {
  font-family: titillium web, sans-serif;
  font-size: 0.8rem;
  color: #30a5ff;
}

.text-title {
  font-family: titillium web, sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #30a5ff;
}

.donut-title {
  font-family: titillium web, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #30a5ff;
}

.chart-tool-tip {
  font-family: titillium web, sans-serif;
}
