<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px;">
          <i class="mdi mdi-48px mdi-notebook" style="margin: 10px; color: #4A235A;"></i>
        </div>			
        <h1 class="dash-title">Office Memo</h1>
      </div>
    </div>
    <div fxFlex>
			<hr class="divider">
		</div>
		<div fxFlex>
			<button  mat-raised-button  color="primary" class="add-memo-btn" (click)="addOfficeMemo()">
				<i class="mdi mdi-24px mdi-note-plus-outline"></i>&nbsp;&nbsp;&nbsp;Add
			</button>
    </div>
    <div fxFlex>
			<i class="mdi mdi-24px mdi-filter-outline"></i>&nbsp;
			<mat-form-field>
			  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
    </div>
    <div fxFlex>
      <div  class="mat-elevation-z8">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

        <mat-table matSort [style.display]="isLoadingResults === false ? 'block' : 'none'"
                    #table [dataSource]="dataSource">
          <ng-container  matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let memo"> {{ memo.date }} </mat-cell>
          </ng-container>

          <ng-container  matColumnDef="subject">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
            <mat-cell *matCellDef="let memo"> {{ memo.subject }} </mat-cell>
          </ng-container>

          <ng-container  matColumnDef="content">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Content </mat-header-cell>
            <mat-cell *matCellDef="let memo"> {{ memo.content }} </mat-cell>
          </ng-container>

          <ng-container  matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let memo"> {{ memo.date }} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [style.display]="isLoadingResults === false ? 'block' : 'none'"
                        [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" 
                        showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>