<mat-dialog-content *ngIf="title != 'Document Preview'">
  <div>    
    <img [src]="sanitize(image.original)"
          [style.width.%]="100"
          alt="Doc Preview" />    
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="title == 'Document Preview'">
  <div>
      <pdf-viewer [src]="pdfContent" [render-text]="true" 
          style="display: block;"></pdf-viewer>
  </div>
</mat-dialog-content>