<h2 mat-dialog-title>
  <i
    class="mdi mdi-24px mdi-account-arrow-right"
    *ngIf="title == 'Add Assignment'"
    style="color: #2471a3"
  ></i>
  <i
    class="mdi mdi-24px mdi-arrow-left-right-bold"
    *ngIf="title == 'Edit Assignment'"
    style="color: #2471a3"
  ></i>
  <i class="mdi mdi-24px mdi-magnify-plus-cursor" *ngIf="title == 'Preview Assignment'" style="color: #2471a3;"></i>
  <i class="mdi mdi-24px mdi-magnify-plus" *ngIf="title == 'Preview Current'" style="color: #2471a3;"></i>
  <i class="mdi mdi-24px mdi-handshake" *ngIf="title == 'Accept or Reject Assignment'" style="color: #2471a3;"></i>
  <span *ngIf="title == 'Accept or Reject Assignment'" style="color: #2471a3;">&nbsp;/&nbsp;</span>
  <i class="mdi mdi-24px mdi-cancel" *ngIf="title == 'Accept or Reject Assignment'" style="color: #2471a3;"></i>  
  <span *ngIf="(title == 'Add Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.addAssignment' | translate }}
  </span>
  <span *ngIf="(title == 'Edit Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.editAssignment' | translate }}
  </span>
  <span *ngIf="(title == 'Preview Assignment' || title == 'Preview Current')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.previewAssignment' | translate }}
  </span>
  <span *ngIf="(title == 'Accept or Reject Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.acceptReject' | translate }}
  </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form" *ngIf="title == 'Add Assignment'">
  <mat-form-field class="full-width-input" *ngIf="type == 'All'">
    <mat-label *ngIf="isCenter">{{ 'crMgt.correspondence.center.label' | translate }}</mat-label>
    <mat-label *ngIf="isCollege">{{ 'crMgt.correspondence.college.label' | translate }}</mat-label>
    <mat-label *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoing.label' | translate }}</mat-label>
    <mat-select formControlName="from0" (selectionChange)="onCollegeSelect($event.value)">
      <mat-option *ngFor="let department of departmentItems" [value]="department.id">
        {{ department.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('from0').hasError('required')">
      <span *ngIf="isCenter">{{ 'crMgt.correspondence.center.error' | translate }}</span>
      <span *ngIf="isCollege">{{ 'crMgt.correspondence.college.error' | translate }}</span>
      <span *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoing.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="type == 'All'">
    <mat-label *ngIf="isCenter">{{ 'crMgt.correspondence.offices.label' | translate }}</mat-label>
    <mat-label *ngIf="isCollege">{{ 'crMgt.correspondence.collegeOffices.label' | translate }}</mat-label>
    <mat-label *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoingDept.label' | translate }}</mat-label>
    <mat-select formControlName="from1" (selectionChange)="onDepartmentSelect($event.value)">
      <mat-option *ngFor="let department of departments" [value]="department.id">
        {{ department.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('from1').hasError('required')">
      <span *ngIf="isCenter">{{ 'crMgt.correspondence.offices.error' | translate }}</span>
      <span *ngIf="isCollege">{{ 'crMgt.correspondence.collegeOffices.error' | translate }}</span>
      <span *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoingDept.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="type == 'All'">
    <mat-label>{{ 'crMgt.correspondence.department.label' | translate }}</mat-label>
    <mat-select formControlName="departments" (selectionChange)="onSubDepartmentSelect($event.value)">
      <mat-option *ngFor="let subDepartment of subDepartments" [value]="subDepartment.id">
        {{ subDepartment.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('departments').hasError('required')">
      {{ 'crMgt.correspondence.department.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>
      {{ 'crMgt.assignment.userRole.label' | translate }}
    </mat-label>
    <mat-select required formControlName="userRole" (selectionChange)="onUserRoleSelect($event.value)">
      <mat-option *ngFor="let role of assignedRoles" [value]="role.id">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('userRole').hasError('required')">
      {{ 'crMgt.assignment.userRole.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>
      {{ 'crMgt.assignment.assignTo.label' | translate }}
    </mat-label>
    <mat-select required formControlName="assignedTo">
      <mat-option *ngFor="let user of users; let i = index;" [value]="user.id">
        <div fxLayout>
          <div fxFlex>
            {{ user.fullName }}
          </div>
          <div fxFlex>
            <span class="count">
              {{ user_assigned_doc[i] }}
            </span>            
          </div>
        </div>        
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('assignedTo').hasError('required')">
      {{ 'crMgt.assignment.assignTo.error' | translate }}
    </mat-error>
  </mat-form-field>  
</mat-dialog-content>

<mat-dialog-content [formGroup]="form" *ngIf="title == 'Edit Assignment'">
  <mat-form-field class="full-width-input">
    <input matInput placeholder="{{ 'crMgt.assignment.assignedUser.label' | translate }}"
      value="{{ assignment.toUser.first_name }} {{ assignment.toUser.last_name }}" readonly />
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label *ngIf="isCenter">{{ 'crMgt.correspondence.center.label' | translate }}</mat-label>
    <mat-label *ngIf="isCollege">{{ 'crMgt.correspondence.college.label' | translate }}</mat-label>
    <mat-label *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoing.label' | translate }}</mat-label>
    <mat-select formControlName="from0" (selectionChange)="onCollegeSelect($event.value)">
      <mat-option *ngFor="let department of departmentItems" [value]="department.id">
        {{ department.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('from0').hasError('required')">
      <span *ngIf="isCenter">{{ 'crMgt.correspondence.center.error' | translate }}</span>
      <span *ngIf="isCollege">{{ 'crMgt.correspondence.college.error' | translate }}</span>
      <span *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoing.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label *ngIf="isCenter">{{ 'crMgt.correspondence.offices.label' | translate }}</mat-label>
    <mat-label *ngIf="isCollege">{{ 'crMgt.correspondence.collegeOffices.label' | translate }}</mat-label>
    <mat-label *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoingDept.label' | translate }}</mat-label>
    <mat-select formControlName="from1" (selectionChange)="onDepartmentSelect($event.value)">
      <mat-option *ngFor="let department of departments" [value]="department.id">
        {{ department.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('from1').hasError('required')">
      <span *ngIf="isCenter">{{ 'crMgt.correspondence.offices.error' | translate }}</span>
      <span *ngIf="isCollege">{{ 'crMgt.correspondence.collegeOffices.error' | translate }}</span>
      <span *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoingDept.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>{{ 'crMgt.correspondence.department.label' | translate }}</mat-label>
    <mat-select formControlName="departments" (selectionChange)="onSubDepartmentSelect($event.value)">
      <mat-option *ngFor="let subDepartment of subDepartments" [value]="subDepartment.id">
        {{ subDepartment.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('departments').hasError('required')">
      {{ 'crMgt.correspondence.department.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>
      {{ 'crMgt.assignment.userRole.label' | translate }}
    </mat-label>
    <mat-select required formControlName="userRole"
      (selectionChange)="onUserRoleSelect($event.value)">
      <mat-option *ngFor="let role of assignedRoles" [value]="role.id">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('userRole').hasError('required')">
      {{ 'crMgt.assignment.userRole.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>
      {{ 'crMgt.assignment.assignTo.label' | translate }}
    </mat-label>
    <mat-select required formControlName="assignedTo">
      <mat-option *ngFor="let user of users; let i = index;" [value]="user.id">        
        <div fxLayout>
          <div fxFlex>
            {{ user.fullName }}
          </div>
          <div fxFlex>
            <span class="count">
              {{ user_assigned_doc[i] }}
            </span>
          </div>
        </div>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('assignedTo').hasError('required')">
      {{ 'crMgt.assignment.assignTo.error' | translate }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content [formGroup]="form" *ngIf="title == 'Accept or Reject Assignment'">
  <ng-container>
    <mat-radio-group formControlName="acceptReject">
      <mat-radio-button value="Accepted" style="margin-left: 20px;" (click)="onAcceptOrRejectClick($event)">
        {{ 'crMgt.menuActions.accept' | translate }}
      </mat-radio-button> <br />
      <mat-radio-button value="Rejected" style="margin-left: 20px;" (click)="onAcceptOrRejectClick($event)">
        {{ 'crMgt.menuActions.reject' | translate }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngIf="rejection" style="margin-left: 20px; width: 80%;">
      <mat-label>
        {{ 'crMgt.assignment.rejectionRemark' | translate }}
      </mat-label>
      <textarea matInput [rows]="2" placeholder="{{ 'crMgt.assignment.rejectionRemark' | translate }}"
        formControlName="rejectionRemark"></textarea>
    </mat-form-field>
  </ng-container>

</mat-dialog-content>

<mat-dialog-content *ngIf="title == 'Preview Assignment'">
  <div fxLayout="row wrap" fxLayoutGap="10px" *ngIf="assignments.length > 0">
    <div fxFlex=20 fxLayoutGap="10px" fxLayout="column" *ngFor="let assignment of assignments;" style="padding-bottom: 10px;">
      <h1 fxFlex [style.background-color]="assignment.status == 'Accepted' ? '#28B463': assignment.status == 'Rejected' ? '#c0392b' : '#2471a3'">
        {{ assignment["order"] }}
      </h1>
      <div fxFlex style="text-align: center;">
          {{ assignment["toUser"]["first_name"] }} {{ assignment["toUser"]["last_name"] }} 
      </div>      
    </div>    
  </div>
  <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && assignments.length == 0"
    style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
    <mat-card class="no-data-card">
      <h2 style="text-align: center;">
        {{ 'crMgt.noData' | translate }}
      </h2>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="title == 'Preview Current'">  
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxFlex fxLayout>
      <div fxFlex=40 fxLayoutAlign="end" style="padding-right: 10px;">
        {{ 'crMgt.comments.order' | translate }} :
      </div>
      <div fxFlex>{{ assignment.order }}</div>
    </div>
    <div fxFlex fxLayout>
      <div fxFlex=40 fxLayoutAlign="end" style="padding-right: 10px;">
        {{ 'crMgt.assignment.assignedBy' | translate }} :
      </div>
      <div fxFlex>{{ assignment.fromUser.first_name }} {{ assignment.fromUser.last_name }}</div>
    </div>
    <div fxFlex fxLayout>
      <div fxFlex=40 fxLayoutAlign="end" style="padding-right: 10px;">
        {{ 'crMgt.assignment.assignedTo' | translate }} :
      </div>
      <div fxFlex>{{ assignment.toUser.first_name }} {{ assignment.toUser.last_name }}</div>
    </div>
    <div fxFlex fxLayout>
      <div fxFlex=40 fxLayoutAlign="end" style="padding-right: 10px;">
        {{ 'crMgt.assignment.assignedDate' | translate }} :
      </div>
      <div fxFlex>{{ formatDate(assignment.assignedDate) }}</div>
    </div>
    <div fxFlex fxLayout>
      <div fxFlex=40 fxLayoutAlign="end" style="padding-right: 10px;">
        {{ 'crMgt.correspondence.status' | translate }} :
      </div>
      <div fxFlex>{{ assignment.status }}</div>
    </div>
    <div fxFlex fxLayout>
      <div fxFlex=40 fxLayoutAlign="end" style="padding-right: 10px;">
        {{ 'crMgt.assignment.receivedDate' | translate }} :
      </div>
      <div fxFlex>{{ formatDate(assignment.receivedDate) }}</div>
    </div>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions *ngIf="title == 'Add Assignment' || title == 'Edit Assignment' || title == 'Accept or Reject Assignment'">
  <button class="mat-raised-button" (click)="close()">
    {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
  </button>
  <button
    class="mat-raised-button mat-primary"
    [disabled]="loading"
    (click)="save()"
  >
    {{ 'crMgt.correspondeForm.save' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-content-save-outline"></i>
  </button>
  <img
    *ngIf="loading"
    class="loading-img"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  />
</mat-dialog-actions>
