h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

h1,
.h1 {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: titillium web, sans-serif;
  color: #ffffff;
  border-radius: 50%;
  background-color: #2471a3;
  text-align: center;
}

div {
  font-family: titillium web, sans-serif;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

.full-width-input {
  width: 100%;
}

mat-form-field,
mat-select,
mat-option {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.lblStatus {
  font-family: titillium web, sans-serif;
  margin-right: 20px;
}

mat-radio-button {
  font-family: titillium web, sans-serif;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.count {
  font-family: titillium web, sans-serif;
  font-weight: bold;
  color: #ecf0f1;
  background-color: #229954;
  border-radius: 50%;
  padding: 3px 10px 3px 10px;
}
