.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  background-color: #f1efee;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  flex: 1;
}

.footer-divider {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.footer-text {
  font-family: "Comfortaa";
  color: #098dc6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.angular-logo {
  margin: 0 3px 3px 0;
  height: 40px;
  vertical-align: middle;
}
.fill-remaining-space {
  flex: 1 1 auto;
  width: 250px;
  border: 2px;
  background-color: white;
}
.profile-pic {
  margin-top: 7px;
  margin-bottom: auto;
}
.logo-font {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

/*.notification{
    position: absolute;
    top: 5px;
    border: 1px solid #FFF;
    right: 10px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
  }*/
