<div fxLayout="column"> 
	<div fxFlex>
		<mat-toolbar color="primary">
		    <mat-toolbar-row>
		    	<div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center"> 
		    		<div fxFlex="4" fxFlex.xs="10">
		    			<button  mat-icon-button (click)="sidenav.toggle()"
		    									 [disabled]="!(currentUser)"> 									 
		    				<img src="assets/img/logo.png" class="angular-logo">
		      			</button>
		    		</div>
		    		<div fxFlex="60" fxFlex.xs="30">
						<span fxHide.xs class="logo-font">{{ 'crMgt.appName' | translate }}</span>
						<span fxHide.gt-xs  class="logo-font" title="{{ 'crMgt.appName' | translate }}">
							{{ 'crMgt.appNameShort' | translate }}
						</span>
		    		</div>
		    		<div fxFlex fxLayoutAlign="flex-end">
		    			<app-layout-header></app-layout-header>
		    		</div>
		    	</div>
		    </mat-toolbar-row>
	  	</mat-toolbar>
	</div> 
	<div fxFlex>
	    <main class="content">
	    	<mat-sidenav-container>
	    		<mat-sidenav #sidenav style="max-width: 20%;" [ngStyle.xs]="'max-width: 60%;'">
	    			<mat-nav-list>
	      				<app-layout-side-nav></app-layout-side-nav>
	      			</mat-nav-list>
	    		</mat-sidenav>
	    		<mat-sidenav-content>
	        		<router-outlet></router-outlet>
	    		</mat-sidenav-content>
	  		</mat-sidenav-container>
	    </main>
	</div>
	<div fxFlex>
		<app-layout-footer></app-layout-footer>
	</div>
</div>