<h2 mat-dialog-title>
  <i
    class="mdi mdi-24px mdi-image-plus"
    *ngIf="title == 'Upload - Main Images' || title == 'Upload - Attachment Images'"
    style="color: #2471a3"
  ></i>
  <i
    class="mdi mdi-24px mdi-image-edit"
    *ngIf="title == 'Edit - Main Images' || title == 'Edit - Attachment Images'"
    style="color: #2471a3"
  ></i>

  <i class="mdi mdi-24px mdi-book-cross" *ngIf="title == 'Upload Manuscripts'"
    style="color: #2471a3"></i>

  <i class="mdi mdi-24px mdi-notebook-edit-outline" *ngIf="title == 'Edit Manuscripts'" 
    style="color: #2471a3"></i>

  <span *ngIf="title == 'Upload - Main Images' || title == 'Edit - Main Images'">&nbsp;&nbsp;
    {{ 'crMgt.mainImages' | translate }} - {{ 'crMgt.upload' | translate }}
  </span>
  <span *ngIf="title == 'Upload - Attachment Images' || title == 'Edit - Attachment Images'">&nbsp;&nbsp;
    {{ 'crMgt.attachmentImage' | translate }} - {{ 'crMgt.upload' | translate }}
  </span>
  <span *ngIf="title == 'Upload Manuscripts' || title == 'Edit Manuscripts'">&nbsp;&nbsp;
    {{ 'crMgt.manuscript' | translate }} - {{ 'crMgt.upload' | translate }}
  </span>
  
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form" *ngIf="title == 'Upload - Main Images' || title == 'Edit - Main Images' || title == 'Upload - Attachment Images' || title == 'Edit - Attachment Images'">
  <div class="file-upload" appDragDropFileUpload (click)="fileField.click()" (fileDropped)="upload($event)">
    <span class="drag-drop-info">{{ 'crMgt.dragAndDrop' | translate }}</span>
    <input type="file" name="avatars" #fileField (change)="upload($event.target.files)" hidden multiple accept="image/*">
  </div>
  <div fxLayout fxLayoutGap="10px" class="image-list" *ngFor="let file of fileArr; let i = index">
    <div fxFlex=15 class="profile">
      <img [src]="sanitize(file['url'])" alt="">
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="5px">
      <div fxFlex>
        <span style="font-size: 14px;">{{ file.item.name }}</span>
      </div>
      <div fxFlex>
        <span>Size: {{ formatBytes(file.item.size) }}</span>
      </div>
      <div fxFlex *ngIf="file.status === 'success'">
        <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
      </div>
      <div fxFlex *ngIf="file.status === 'error'">
        <span style="color: red; font-size: 13px;">{{ file.message.substring(24) }}</span>
      </div>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="center" *ngIf="title == 'Edit - Main Images' || title == 'Edit - Attachment Images'">
    <img class="thumb-preview" [src]="sanitize_uploaded(image.variant)" (click)="previewUploadedImage(image)"  alt="">
  </div>
</mat-dialog-content>

<mat-dialog-content [formGroup]="form" *ngIf="title === 'Upload Manuscripts' || title === 'Edit Manuscripts'">
  <div class="file-upload" appDragDropFileUpload
    (click)="fileField.click()" (fileDropped)="uploadManuscript($event)">
    <span class="drag-drop-info">{{ 'crMgt.dragAndDrop' | translate }}</span>
    <input type="file" name="avatars" #fileField (change)="uploadManuscript($event.target.files)" hidden multiple accept=".pdf">
  </div>
  <div fxLayout fxLayoutGap="10px" class="image-list" *ngFor="let file of fileArr; let i = index">
    <div fxFlex=15 class="profile">
      <img [src]="sanitize(file['url'])" alt="">
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="5px">
      <div fxFlex>
        <span style="font-size: 14px;">{{ file.item.name }}</span>
      </div>
      <div fxFlex>
        <span>Size: {{ formatBytes(file.item.size) }}</span>
      </div>
      <div fxFlex *ngIf="file.status === 'success'">
        <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
      </div>
      <div fxFlex *ngIf="file.status === 'error'">
        <span style="color: red; font-size: 13px;">{{ file.message }}</span>
      </div>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="center" *ngIf="title == 'Edit Manuscripts'">
    <img class="thumb-preview" [src]="sanitize_uploaded(image.variant)" (click)="previewUploadedDocument(image)" alt="">
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
  </button>
</mat-dialog-actions>
