h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
}

.dash-title {
  font-weight: normal;
  font-size: 120%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.divider_xs {
  width: 50%;
  float: left;
}

.add-assignment-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
  margin-right: 15px;
}

.mat-spinner {
  text-align: center;
}

.loaded {
  display: inline-table;
}

.not_loaded {
  display: none;
}

table {
  width: 100%;
}

th {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

th.operations-header {
  text-align: center;
  font-size: 1.2em;
}

td {
  font-family: titillium web, sans-serif;
}

td.operations {
  width: 30%;
  text-align: center;
}

tr.assignment-detail-row {
  height: 0;
}

tr.assignment-row:not(.assignment-expanded-row):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.assignment-row:not(.assignment-expanded-row):active {
  background: #efefef;
}

.assignment-row td {
  border-bottom-width: 1;
}

.assignment-detail {
  overflow: hidden;
  display: flex;
}

.assignment-description {
  padding: 16px;
}

.assignment-description-attribution {
  opacity: 0.8;
  font-style: italic;
  font-family: titillium web, sans-serif;
}

.add-assignment-btn {
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

.accepted {
  border-color: #28b463;
}

.rejected {
  border-color: #c0392b;
}

::ng-deep .mat-tooltip.tooltip {
  font-family: titillium web, sans-serif;
  color: #1b4f72;
  font-weight: bold;
  font-size: 12px;
  background-color: #d5d8dc;
}
