<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-file-swap" style="color: #2471a3"></i>
  <span>&nbsp;&nbsp;{{ 'crMgt.assignment.title' | translate }}</span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-24px mdi-file-document-outline"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h3 class="dash-title">
          {{ correspondence.referenceNo }}
        </h3>
      </div>
    </div>
    <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'">
      <hr class="divider" [ngClass.xs]="'divider_xs'" />
    </div>
    <div fxFlex>
      <button *ngIf="canAdd" mat-raised-button color="primary" 
        [matMenuTriggerFor]="menu"
        [disabled]="!(accRejAssigned)"
        class="add-assignment-btn">
        <span matTooltip="{{ 'crMgt.assignment.plzAccRejTooltip' | translate }}"
            matTooltipClass="tooltip"
            [matTooltipDisabled]="accRejAssigned">
            <i class="mdi mdi-24px mdi-account-arrow-right-outline"></i>
            &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
        </span>      
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button *ngIf="canAddWithin" mat-menu-item (click)="assignCorrespondence('Within')" class="add-assignment-btn">
          <span>{{ 'crMgt.assignment.assignWithin' | translate }}{{ userDepartment.department_code }}{{ 'crMgt.assignment.assignWithinEmployee' | translate }}</span>
        </button>
        <button *ngIf="canAddAll" mat-menu-item (click)="assignCorrespondence('All')" class="add-assignment-btn">
          <span>{{ 'crMgt.assignment.assignToAll' | translate }}</span>
        </button>
      </mat-menu>
      <button *ngIf="canPreview && dataSource.data.length > 0" mat-raised-button color="info" 
        class="add-assignment-btn" (click)="previewAssignment()" matTooltip="{{ 'crMgt.assignment.previewAssignment' | translate }}">
        <i class="mdi mdi-24px mdi-magnify-plus-cursor" style="color: #2471a3;"></i>
      </button>      
    </div>
    <div fxFlex *ngIf="loading" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-spinner style="margin: auto" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </div>
    <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && dataSource.data.length == 0"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h1 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h1>
      </mat-card>
    </div>
    <div fxFlex *ngIf="dataSource.data.length > 0">      
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.comments.order' | translate }}
          </th>
          <td mat-cell *matCellDef="let assignment"              
              [style.border-color]="assignment.status == 'Accepted' ? '#28B463': assignment.status == 'Rejected' ? '#c0392b' : ''">
            {{ assignment.order }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedBy">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.assignment.assignedBy' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let assignment"
              [style.border-color]="assignment.status == 'Accepted' ? '#28B463': assignment.status == 'Rejected' ? '#c0392b' : ''">
            {{ assignment.fromUser.first_name }} {{ assignment.fromUser.last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.assignment.assignedTo' | translate }}
          </th>
          <td mat-cell *matCellDef="let assignment"
              [style.border-color]="assignment.status == 'Accepted' ? '#28B463': assignment.status == 'Rejected' ? '#c0392b' : ''">
            {{ assignment.toUser.first_name }} {{ assignment.toUser.last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedDate">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.assignment.assignedDate' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let assignment"
              [style.border-color]="assignment.status == 'Accepted' ? '#28B463': assignment.status == 'Rejected' ? '#c0392b' : ''">
            {{ assignment.assignedDate | convertDate }}            
          </td>
        </ng-container>        
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef class="operations-header">
            {{ 'crMgt.correspondence.actions' | translate }}
          </th>
          <td
            mat-cell
            *matCellDef="let assignment"
            (click)="$event.stopPropagation()"
            class="operations"
          >
            <button fxHide.xs
              *ngIf="canEdit"
              mat-button
              color="primary"
              matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
              [disabled]="(assignment.status != 'Assigned' || assignment.fromUser.id != currentUser.id)"                            
              (click)="editAssignedCorrespondence(assignment)"
            >            
              <i
                class="mdi mdi-24px mdi-account-switch-outline"
                [ngStyle]="{color: (assignment.status == 'Assigned' && assignment.fromUser.id == currentUser.id) ? '#2471a3' : '#BDC3C7'}"
              ></i>
            </button>            
            <button fxHide.xs *ngIf="canAccept || canReject" mat-button 
                  color="primary" matTooltip="{{ 'crMgt.assignment.acceptReject' | translate }}"
              [disabled]="(assignment.toUser.id != currentUser.id || assignment.status == 'Accepted' || assignment.status == 'Rejected')" (click)="acceptOrRejectAssignedCorrespondence(assignment)">
              <i class="mdi mdi-24px mdi-handshake"
                [ngStyle]="{color: assignment.toUser.id == currentUser.id && (assignment.status != 'Accepted' && assignment.status != 'Rejected') ? '#28B463' : '#BDC3C7'}"></i>
              <span [ngStyle]="{color: assignment.toUser.id == currentUser.id && (assignment.status != 'Accepted' && assignment.status != 'Rejected') ? '#2471a3' : '#BDC3C7'}">
                        &nbsp;/&nbsp;</span>
              <i class="mdi mdi-24px mdi-cancel"
                [ngStyle]="{color: assignment.toUser.id == currentUser.id && (assignment.status != 'Accepted' && assignment.status != 'Rejected') ? '#c0392b' : '#BDC3C7'}"></i>
            </button>            
            <button fxHide.xs
              *ngIf="canDelete"
              mat-button
              color="primary"
              matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
              [disabled]="(assignment.status != 'Assigned' || assignment.fromUser.id != currentUser.id)"
              (click)="deleteAssignedCorrespondence(assignment)"
            >
              <i
                class="mdi mdi-24px mdi-account-multiple-remove-outline"
                [ngStyle]="{color: (assignment.status == 'Assigned' && assignment.fromUser.id == currentUser.id) ? '#c0392b' : '#BDC3C7'}"
              ></i>
            </button>

            <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
              <span>
                <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
              </span>
            </button>
            <mat-menu #moreOption="matMenu">
              <button *ngIf="canEdit" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                [disabled]="(assignment.status != 'Assigned' || assignment.fromUser.id != currentUser.id)"
                (click)="editAssignedCorrespondence(assignment)">
                <i class="mdi mdi-24px mdi-account-switch-outline"
                  [ngStyle]="{color: (assignment.status == 'Assigned' && assignment.fromUser.id == currentUser.id) ? '#2471a3' : '#BDC3C7'}"></i>
              </button>              
              <button *ngIf="canAccept || canReject" mat-button color="primary"
                matTooltip="{{ 'crMgt.assignment.acceptReject' | translate }}" 
                [disabled]="(assignment.toUser.id != currentUser.id || assignment.status == 'Accepted' || assignment.status == 'Rejected')"
                (click)="acceptOrRejectAssignedCorrespondence(assignment)">
                <i class="mdi mdi-24px mdi-handshake"
                  [ngStyle]="{color: assignment.toUser.id == currentUser.id && (assignment.status != 'Accepted' && assignment.status != 'Rejected') ? '#28B463' : '#BDC3C7'}"></i>
                <span [ngStyle]="{color: assignment.toUser.id == currentUser.id && (assignment.status != 'Accepted' && assignment.status != 'Rejected') ? '#2471a3' : '#BDC3C7'}">
                  &nbsp;/&nbsp;</span>
                <i class="mdi mdi-24px mdi-cancel"
                  [ngStyle]="{color: assignment.toUser.id == currentUser.id && (assignment.status != 'Accepted' && assignment.status != 'Rejected') ? '#c0392b' : '#BDC3C7'}"></i>
              </button>
              <button mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                (click)="previewAllAssignmentInfo(assignment)">
                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471A3;"></i>
              </button>
              <button *ngIf="canDelete" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                [disabled]="(assignment.status != 'Assigned' || assignment.fromUser.id != currentUser.id)"
                (click)="deleteAssignedCorrespondence(assignment)">
                <i class="mdi mdi-24px mdi-account-multiple-remove-outline"
                  [ngStyle]="{color: (assignment.status == 'Assigned' && assignment.fromUser.id == currentUser.id) ? '#c0392b' : '#BDC3C7'}"></i>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedCorrespondenceAssignmentDetail">
          <td mat-cell *matCellDef="let assignment" [attr.colspan]="displayedColumns.length">
            <div fxLayout="column" class="assignment-detail" [@detailExpand]="
                          assignment == expandedCorrespondenceAssignment
                            ? 'expanded'
                            : 'collapsed'
                        ">
              <div fxFlex fxLayout="column">
                <div fxFlex>&nbsp;</div>                                
                <div fxFlex style="margin-bottom: 5px;">
                  <span class="assignment-description-attribution">
                    {{ 'crMgt.assignment.assignedBy' | translate }}
                  </span>:- {{ assignment.fromUser.first_name }} {{ assignment.fromUser.last_name }}
                </div>
                <div fxFlex style="margin-bottom: 5px;">
                  <span class="assignment-description-attribution">
                    {{ 'crMgt.assignment.assignedTo' | translate }}
                  </span>:- {{ assignment.toUser.first_name }} {{ assignment.toUser.last_name }}
                </div>
                <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                  <div fxFlex="none">
                    <fieldset style="display: inline-block; padding: 10px;">
                      <legend>
                        <span class="assignment-description-attribution">
                          {{ 'crMgt.assignment.assignedDate' | translate }}
                        </span>
                      </legend>
                      {{ assignment.assignedDate | date:"dd-MM-yyyy" }}
                      <span class="calendar">
                        {{ 'crMgt.calendar-en' | translate }}
                      </span><br />
                      {{ assignment.assignedDate | convertDate }}
                      <span class="calendar">
                        {{ 'crMgt.calendar-et' | translate }}
                      </span>
                    </fieldset>
                  </div>
                  <div fxFlex="none">
                    <fieldset style="display: inline-block; padding: 10px;">
                      <legend>
                        <span class="assignment-description-attribution">
                          {{ 'crMgt.assignment.receivedDate' | translate }}
                        </span>
                      </legend>
                      {{ assignment.receivedDate | date:"dd-MM-yyyy" }}
                      <span class="calendar">
                        {{ 'crMgt.calendar-en' | translate }}
                      </span> <br />
                      {{ assignment.receivedDate | convertDate }}
                      <span class="calendar">
                        {{ 'crMgt.calendar-et' | translate }}
                      </span>
                    </fieldset>
                  </div>
                </div>
                <div fxFlex style="margin-bottom: 5px;">
                  <span class="assignment-description-attribution">
                    {{ 'crMgt.correspondence.status' | translate }}
                  </span>:- {{ assignment.status }}                  
                </div>
                <div fxFlex *ngIf="assignment.status == 'Rejected'" style="margin-bottom: 5px;">
                  <span class="assignment-description-attribution">
                    {{ 'crMgt.assignment.rejectionRemark' | translate }}
                  </span>:- {{ assignment.rejectionRemark }}
                </div>                               
              </div>              
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let assignment; columns: displayedColumns"
          class="assignment-row"
          [class.assignment-expanded-row]="
              expandedCorrespondenceAssignment === assignment
            "
            (click)="
              expandedCorrespondenceAssignment =
                expandedCorrespondenceAssignment === assignment
                  ? null
                  : assignment
            "
        ></tr>
        <tr 
          mat-row 
          *matRowDef="let row; columns: ['expandedCorrespondenceAssignmentDetail']"
          class="assignment-detail-row"></tr>
      </table>
      <mat-paginator
        #paginator
        [style.display]="loading === false ? 'block' : 'none'"
        [length]="resultsLength"
        [pageSize]="3"
        [pageSizeOptions]="[3, 5, 10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
