<div class="container">
	<div fxLayout="column">
		<div fxFlex>
			<div fxLayout>
				<div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px;">
					<i class="mdi mdi-48px mdi-account-multiple" style="margin: 10px; color: #4A235A;"></i>
				</div>			
				<h1 class="dash-title">User Roles</h1>
			</div>
		</div>
		<div fxFlex>
			<hr class="divider">
		</div>
		<div fxFlex  *ngIf="canAdd">
			<button  mat-raised-button  color="primary" class="add-role-btn" (click)="addRole()">
				<i class="mdi mdi-24px mdi-account-multiple-plus-outline"></i>&nbsp;&nbsp;&nbsp;Add
			</button>
		</div>
		<div fxFlex>
			<div  class="mat-elevation-z8" style="width: 60%;">
				
				<mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>

				<mat-table matSort [style.display]="loading === false ? 'block' : 'none'" #table [dataSource]="dataSource">

					<ng-container  matColumnDef="roleName">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </mat-header-cell>
						<mat-cell *matCellDef="let role"> {{ role.name }} </mat-cell>
					</ng-container>

					<ng-container  matColumnDef="operations">
						<mat-header-cell *matHeaderCellDef style="justify-content: center;"> Actions </mat-header-cell>
						<mat-cell *matCellDef="let role" style="justify-content: center;">   
							<button  *ngIf="canEdit"  mat-button  color="primary" matTooltip="Edit" (click)="editRole(role)">
								<i class="mdi mdi-24px mdi-account-edit-outline" style="color: #2471A3;"></i>
							</button>
							<button  *ngIf="canListUser"  mat-button  color="primary" matTooltip="Users" (click)="listUsers(role)">
								<i class="mdi mdi-24px mdi-account-group-outline" style="color: #2471A3;"></i>
							</button>
							<button  *ngIf="canDelete"  mat-button  color="primary" matTooltip="Delete" (click)="deleteRole(role)">
								<i class="mdi mdi-24px mdi-account-multiple-remove-outline" style="color: #C0392B;"></i>
							</button> 						
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<mat-paginator #paginator [style.display]="loading === false ? 'block' : 'none'" [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>

			</div>
		</div>
	</div>
</div>