h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

.full-width-input {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-form-field,
mat-select,
mat-option {
  font-family: titillium web, sans-serif;
}

div {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.add-author-icon {
  opacity: 0.5;
  color: #2471a3;
  cursor: pointer;
}

.add-author-icon:hover {
  opacity: 1;
}
