<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-account-arrow-right" *ngIf="title == 'Add Assignment'" style="color: #2471a3"></i>
  <i class="mdi mdi-24px mdi-arrow-left-right-bold" *ngIf="title == 'Edit Assignment'" style="color: #2471a3"></i>
  <i class="mdi mdi-24px mdi-magnify-plus-cursor" *ngIf="title == 'Preview Assignment'" style="color: #2471a3;"></i>
  <i class="mdi mdi-24px mdi-magnify-plus-cursor" *ngIf="title == 'Preview Manuscript Assignment'" style="color: #2471a3;"></i>
  <i class="mdi mdi-24px mdi-magnify-plus" *ngIf="title == 'Preview Current'" style="color: #2471a3;"></i>
  <i class="mdi mdi-24px mdi-handshake" *ngIf="title == 'Accept or Reject Assignment'" style="color: #2471a3;"></i>
  <span *ngIf="title == 'Accept or Reject Assignment'" style="color: #2471a3;">&nbsp;/&nbsp;</span>
  <i class="mdi mdi-24px mdi-cancel" *ngIf="title == 'Accept or Reject Assignment'" style="color: #2471a3;"></i>
  <span *ngIf="(title == 'Add Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.addAssignment' | translate }}
  </span>
  <span *ngIf="(title == 'Edit Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.editAssignment' | translate }}
  </span>
  <span *ngIf="(title == 'Preview Assignment' || title == 'Preview Current')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.previewAssignment' | translate }}
  </span>
  <span *ngIf="(title == 'Preview Manuscript Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.manuscriptRouting.previewAssignment' | translate }}
  </span>  
  <span *ngIf="(title == 'Accept or Reject Assignment')">&nbsp;&nbsp;
    {{ 'crMgt.assignment.acceptReject' | translate }}
  </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="routingForm" *ngIf="title == 'Add Assignment' || title == 'Edit Assignment'">
  <mat-form-field class="full-width-input">
    <mat-label>{{ 'crMgt.manuscriptRouting.stages.label' | translate }}</mat-label>
    <mat-select formControlName="stages">
      <mat-option *ngFor="let stage of stages" [value]="stage.viewValue">
        {{ stage.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="routingForm.get('stages').hasError('required')">
      {{ 'crMgt.manuscriptRouting.stages.error' | translate }}
    </mat-error>
  </mat-form-field> <br />
  <ng-container *ngIf="!authorAssignee">
    <mat-label class="lblStatus">
      {{ 'crMgt.manuscriptRouting.assigneeType.label' | translate }}
    </mat-label>
    <mat-radio-group formControlName="type">
      <mat-radio-button value="internal">
        {{ 'crMgt.manuscriptRouting.assigneeType.labelI' | translate }}
      </mat-radio-button>
      <mat-radio-button value="external">
        {{ 'crMgt.manuscriptRouting.assigneeType.labelE' | translate }}
      </mat-radio-button>
    </mat-radio-group>    
  </ng-container>

  <mat-form-field class="full-width-input" *ngIf="internalAssignee">
    <mat-label>
      {{ 'crMgt.assignment.userRole.label' | translate }}
    </mat-label>
    <mat-select required formControlName="userRole" (selectionChange)="onUserRoleSelect($event.value)">
      <mat-option *ngFor="let role of assignedRoles" [value]="role.id">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="routingForm.get('userRole').hasError('required')">
      {{ 'crMgt.assignment.userRole.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="internalAssignee">
    <mat-label>
      {{ 'crMgt.assignment.assignTo.label' | translate }}
    </mat-label>
    <mat-select required formControlName="assignedTo">
      <mat-option *ngFor="let user of users; let i = index;" [value]="user.id">
        <div fxLayout>
          <div fxFlex>
            {{ user.fullName }}
          </div>    
        </div>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="routingForm.get('assignedTo').hasError('required')">
      {{ 'crMgt.assignment.assignTo.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="externalAssignee">
    <mat-label>
      {{ 'crMgt.assignment.assignTo.label' | translate }}
    </mat-label>
    <mat-select required formControlName="assignedTo">
      <mat-option *ngFor="let externalAssessor of externalAssessors; let i = index;" [value]="externalAssessor.id">
        <div fxLayout>
          <div fxFlex>
            {{ externalAssessor.fullName }}
          </div>
        </div>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="routingForm.get('assignedTo').hasError('required')">
      {{ 'crMgt.assignment.assignTo.error' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input" *ngIf="authorAssignee">
    <mat-label>
      {{ 'crMgt.assignment.assignTo.label' | translate }}
    </mat-label>
    <mat-select required formControlName="assignedTo">
      <mat-option *ngFor="let author of manuscript.authors; let i = index;" [value]="author.id">
        <div fxLayout>
          <div fxFlex>
            {{ author.full_name }}
          </div>
        </div>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="routingForm.get('assignedTo').hasError('required')">
      {{ 'crMgt.assignment.assignTo.error' | translate }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content *ngIf="title == 'Preview Manuscript Assignment'">
    <div fxLayout="row wrap" style="padding-left: 20px;" fxLayoutGap="15px" *ngIf="manuscript_assignments.length > 0">
      <div fxFlex=26 fxLayout="column" *ngFor="let assignment of manuscript_assignments;"
        style="padding-bottom: 10px;"> 
        <div fxFlex=26>
          <h1 [style.background-color]="assignment.status == 'Accepted' ? '#28B463': assignment.status == 'Rejected' ? '#c0392b' : '#2471a3'">
            {{ returnStageLabel(assignment["stage"]) }}
          </h1>
        </div>
        <div fxFlex=15 style="margin-bottom: 10px;">
          <h6 style="text-align: center;">
            {{ assignment["stage"] }}
          </h6>
        </div>
        <div fxFlex style="text-align: center;" fxLayoutAlign="start start">
          <span *ngIf="assignment.assigneeType == 'internal'">
            {{ assignment["assignee"]["first_name"] }} {{ assignment["assignee"]["last_name"] }}
          </span>
          <span *ngIf="assignment.assigneeType == 'external'">
            {{ assignment["assignee"]["first_name"] }} {{ assignment["assignee"]["father_name"] }}
          </span>
        </div>
      </div>
    </div>
    <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && manuscript_assignments.length == 0"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h2 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h2>
      </mat-card>
    </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions
  *ngIf="title == 'Add Assignment' || title == 'Edit Assignment' || title == 'Accept or Reject Assignment'">
  <button class="mat-raised-button" (click)="close()">
    {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
  </button>
  <button class="mat-raised-button mat-primary" [disabled]="loading" (click)="save()">
    {{ 'crMgt.correspondeForm.save' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-content-save-outline"></i>
  </button>
  <img *ngIf="loading" class="loading-img"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</mat-dialog-actions>