<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-head-lightbulb" style="color: #2471a3"></i>
  <span>&nbsp;&nbsp;
    {{ 'crMgt.author.pageTitle' | translate }}
  </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px">
          <i class="mdi mdi-24px mdi-file-document-outline" style="margin: 10px; color: #4a235a"></i>
        </div>
        <h3 class="dash-title">
          AAUPM-{{ manuscript.referenceNo }}-2021
        </h3>
      </div>
    </div>
    <div fxFlex>
      <hr class="divider" [ngClass.xs]="'divider_xs'" />
    </div>
    <div fxFlex>
      <button mat-raised-button (click)="addAuthor()" color="primary" class="add-image-btn">
        <i class="mdi mdi-24px mdi-head-plus-outline"></i>
        &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
      </button>
    </div>
    <div fxFlex *ngIf="loading" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-spinner style="margin: auto" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </div>
    <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && dataSource.data.length == 0"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h1 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h1>
      </mat-card>
    </div>
    <div fxFlex *ngIf="dataSource.data.length > 0">
      <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.author.firstName.label' | translate }}
          </th>
          <td mat-cell *matCellDef="let manuscriptAuthor">
            {{ manuscriptAuthor.author.firstName }} {{ manuscriptAuthor.author.fatherName }} {{ manuscriptAuthor.author.grandFatherName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.author.email.label' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let manuscriptAuthor">
            {{ manuscriptAuthor.author.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="telephone">
          <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'crMgt.author.telephone.label' | translate }}
          </th>
          <td fxHide.xs mat-cell *matCellDef="let manuscriptAuthor">
            {{ manuscriptAuthor.author.telephone }}
          </td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef class="operations-header">
            {{ 'crMgt.correspondence.actions' | translate }}
          </th>
          <td mat-cell *matCellDef="let manuscriptAuthor" (click)="$event.stopPropagation()" class="operations">
            <button fxHide.xs mat-button color="primary"
              matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
              (click)="editAuthor(manuscriptAuthor)">
              <i class="mdi mdi-24px mdi-head-cog-outline" 
                    style="color: #2471a3"></i>
            </button>
            <button fxHide.xs mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
              (click)="previewAuthor(manuscriptAuthor)">
              <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471A3;"></i>
            </button>
            <button fxHide.xs *ngIf="canDelete" mat-button color="primary"
              matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" (click)="deleteAuthor(manuscriptAuthor)">
              <i class="mdi mdi-24px mdi-head-remove-outline" style="color: #C0392B;"></i>
            </button>
    
            <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
              <span>
                <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
              </span>
            </button>
            <mat-menu #moreOption="matMenu">
              <button mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                (click)="editAuthor(manuscriptAuthor)">
                <i class="mdi mdi-24px mdi-head-cog-outline" style="color: #2471A3;"></i>
              </button>
              <button mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                (click)="previewAuthor(manuscriptAuthor)">
                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471A3;"></i>
              </button>
              <button *ngIf="canDelete" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                (click)="deleteAuthor(manuscriptAuthor)">
                <i class="mdi mdi-24px mdi-head-remove-outline" style="color: #C0392B;"></i>
              </button>
    
            </mat-menu>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let manuscriptAuthor; columns: displayedColumns;" class="comment-row">
        </tr>
      </table>
      <mat-paginator #paginator [style.display]="loading === false ? 'block' : 'none'" [length]="resultsLength"
        [pageSize]="3" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>