h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

mat-card-title,
mat-card-content {
  font-family: titillium web, sans-serif;
}

mat-card-title {
  font-size: 20px;
}

mat-card-content {
  font-size: 15px;
}
/* Accordion with height 600px and panel content width of 400px each */
.mat-expansion-panel {
  display: block;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-86vh); /* rotate and position it; translateX value corresponds to panel height */
  width: 86vh;
  max-height: 300px; /*this will be the width of the panel (inversed due to rotation)  */
  padding-bottom: 20px;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.panel-container {
  transform-origin: top left;
  transform: rotate(90deg); /* rotate back */
  margin-left: 100%; /* position it */
  min-width: 220px; /* real width of the content */
  max-height: 85vh;
  overflow-y: scroll;
}

.panel-content {
  background-color: #fcf3cf;
  padding: 10px;
  height: 120px; /* real height of the content */
  width: 160px; /* real width of the content */
  margin-bottom: 20px;
}

.note {
  position: relative;
  background: #fcf3cf;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #fcf3cf #fcf3cf;
  background: #fcf3cf;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox 3.0 damage limitation */
  display: block;
  width: 0;
}

.note.rounded {
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}

.note.rounded:before {
  border-width: 8px;
  border-color: #fff #fff transparent transparent;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

/* ============================ */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  text-align: center;
}

.slideshow-container img {
  display: none;
}

.slideshow-container pdf-viewer {
  display: none;
}

.slideshow-container img.image-active {
  display: block;
  width: 100%;
}

.slideshow-container pdf-viewer.document-active {
  display: block;
  width: 100%;
}

/* The dots/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #2471a3;
}

.calendar {
  font-size: x-small;
}

:lang(am) .calendar {
  font-size: small;
}
