<mat-dialog-content id="doc-previewer">
  <div fxLayout fxLayoutGap="10px">
    <div fxFlex="95" fxLayoutAlign="center" *ngIf="images.length == 0 && title != 'Manuscript Preview' && title != 'Manuscript Archive Preview'"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h1 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h1>
      </mat-card>
    </div>
    <div fxFlex="95" *ngIf="images.length > 0">
      <div class="slideshow-container">
        <img *ngFor="let image of images; let i=index" [src]="sanitize(image)" [ngClass]="{'image-active': selectedindex == i}">
    
        <div style="text-align:center; display:inline-block; margin: 10px 0px 10px 0px;" *ngFor="let dot of images; let i=index">
          <span class="dot" (click)="selectImage(i)" [ngClass]="{'active': selectedindex == i}">
          </span>
        </div>
      </div>      
    </div>
    <div fxFlex="95" *ngIf="title == 'Manuscript Preview' || title == 'Manuscript Archive Preview'">
      <div *ngIf="documents.length == 0 && !loadingDocuments"
        style=" background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
        <mat-card class="no-data-card">
          <h1 style="text-align: center;">
            {{ 'crMgt.noData' | translate }}
          </h1>
        </mat-card>
      </div>
      <div *ngIf="loadingDocuments" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
        <mat-spinner style="margin: auto" [style.display]="loadingDocuments ? 'block' : 'none'"></mat-spinner>
      </div>
      <div class="slideshow-container" *ngIf="documents.length > 0 && !loadingDocuments">
        <div *ngFor="let document of documents; let i = index">
          <pdf-viewer *ngIf="document.content_type == 'application/pdf'"
              [src]="document.url" [render-text]="true"
              [ngClass]="{'document-active': selectedindex == i}"></pdf-viewer>
          
          <img *ngIf="document.content_type != 'application/pdf'" 
              [src]="sanitize(document.url)"
              [ngClass]="{'image-active': selectedindex == i}">
        </div>
        <div style="text-align:center; display:inline-block; margin: 10px 0px 10px 0px;"
          *ngFor="let dot of documents; let i=index">
          <span class="dot" (click)="selectImage(i)" [ngClass]="{'active': selectedindex == i}">
          </span>
        </div>
      </div>
    </div>
    <div fxFlex="5" *ngIf="canPreviewComment && title != 'Manuscript Archive Preview'">
      <mat-expansion-panel (afterExpand)="expanded($event)">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <span style="margin-right: 20px; font-family: titillium web, sans-serif;">Comments</span>
            <i
              class="mdi mdi-24px mdi-rotate-90 mdi-comment-multiple-outline"
              style="color: #2471a3"
            ></i>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panel-container" *ngIf="comments.length == 0 && title == 'Correspondence Preview'">
          <mat-card class="panel-content note rounded">
            <mat-card-title >No Comments</mat-card-title>
            <mat-card-content [style.overflow]="'auto'" [style.height.px]="'90'">
              <strong></strong>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="panel-container" *ngIf="comments.length > 0 && title == 'Correspondence Preview'">
          <mat-card class="panel-content note rounded" *ngFor="let comment of comments; let i=index">
            <mat-card-title>
              {{ comment.order }}. {{ comment.commentedBy.first_name }} {{ comment.commentedBy.last_name }}
            </mat-card-title>
            <mat-card-content
              [style.overflow]="'auto'"
              [style.height.px]="'80'"
            >
              <strong>Content</strong>: {{ comment.content }} <br />
              <strong>Date</strong>: {{ comment.commentDate | date:"dd-MM-yyyy" }}
                                    <span class="calendar">
                                      {{ 'crMgt.calendar-en' | translate }}
                                    </span> <br />
                                    {{ comment.commentDate | convertDate }}
                                    <span class="calendar">
                                      {{ 'crMgt.calendar-et' | translate }}
                                    </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="panel-container"
          *ngIf="manuscriptComments.length == 0 && title == 'Manuscript Preview'">
          <mat-card class="panel-content note rounded">
            <mat-card-title>No Comments</mat-card-title>
            <mat-card-content [style.overflow]="'auto'" [style.height.px]="'90'">
              <strong></strong>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="panel-container"
          *ngIf="manuscriptComments.length > 0 && title == 'Manuscript Preview'">
          <mat-card class="panel-content note rounded" *ngFor="let comment of manuscriptComments; let i=index">
            <mat-card-title>
              {{ i + 1 }}. {{ comment.commentedBy.first_name }} {{ comment.commentedBy.last_name }}
            </mat-card-title>
            <mat-card-content [style.overflow]="'auto'" [style.height.px]="'80'">
              <strong>Content</strong>: {{ comment.content }} <br />
              <strong>Date</strong>: {{ comment.commentDate | date:"dd-MM-yyyy" }}
                                    <span class="calendar">
                                      {{ 'crMgt.calendar-en' | translate }}
                                    </span> <br />
                                    {{ comment.commentDate | convertDate }}
                                    <span class="calendar">
                                      {{ 'crMgt.calendar-et' | translate }}
                                    </span>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</mat-dialog-content>
