<h2 mat-dialog-title>
  <i
    class="mdi mdi-24px mdi-file-plus"
    *ngIf="title == 'Add Correspondence'"
    style="color: #2471a3"
  ></i>
  <i
    class="mdi mdi-24px mdi-file-document-edit"
    *ngIf="title == 'Edit Correspondence'"
    style="color: #2471a3"
  ></i>
  <span *ngIf="title == 'Add Correspondence'">&nbsp;&nbsp;
    {{ 'crMgt.addCorrespondence' | translate }}
  </span>
  <span *ngIf="title == 'Edit Correspondence'">&nbsp;&nbsp;{{ 'crMgt.editCorrespondence' | translate }}</span>
  <span *ngIf="type == 'Center'">
    - {{ 'crMgt.center' | translate }}
  </span>
  <span *ngIf="type == 'College'">
    - {{ 'crMgt.college' | translate }}
  </span>
  <span *ngIf="type == 'Outside AAU'">
    - {{ 'crMgt.externalIncoming' | translate }}
  </span>
  <span *ngIf="type == 'Outgoing Internal'">
    - {{ 'crMgt.internalOutgoing' | translate }}
  </span>
  <span *ngIf="type == 'Outgoing External'">
    - {{ 'crMgt.externalOutgoing' | translate }}
  </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form">
  <div fxLayout fxLayout.xs="column">
    <div fxFlex fxLayout="column">
      <div fxFlex fxLayoutAlign.xs="center">
        <mat-form-field
          class="full-width-input"
        >
          <mat-label>{{ 'crMgt.correspondence.referenceNo.label' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'crMgt.correspondence.referenceNo.label' | translate }}"
            formControlName="referenceNo"
            required
          />
          <mat-error *ngIf="form.get('referenceNo').hasError('required')">
            {{ 'crMgt.correspondence.referenceNo.error' | translate }}
          </mat-error>
        </mat-form-field>
      </div>    
      <div fxFlex fxLayout fxLayoutAlign.xs="center">
        <div fxFlex="70">
          <mat-form-field [style.display]="isGCCalendar ? 'block' : 'none'">
            <input matInput [matDatepicker]="picker" placeholder="{{ 'crMgt.correspondence.letterDate.label' | translate }}"
              formControlName="letterDate" [required]="isGCCalendar" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('letterDate').hasError('required')">
              {{ 'crMgt.correspondence.letterDate.error' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field [style.display]="!isGCCalendar ? 'block' : 'none'">
            <input #letterDate id="letter_date" class="letter_date" matInput type="text" formControlName="letterDateEt"
              placeholder="{{ 'crMgt.correspondence.letterDate.label' | translate }}" [required]="!isGCCalendar" readonly />
            <i class="mdi mdi-18px mdi-calendar-today letter_date_btn ripple"></i>
            <mat-error *ngIf="form.get('letterDateEt').hasError('required')">
              {{ 'crMgt.correspondence.letterDate.error.required' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('letterDateEt').hasError('format')">
              {{ 'crMgt.correspondence.letterDate.error.format' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
          <div fxFlex="60" fxLayoutAlign="center end" >
            <mat-slide-toggle color="primary" (change)="changeCalendar($event);">
            </mat-slide-toggle>
          </div>
          <div fxFlex fxLayoutAlign="center">
            <div style="font-size: 0.75rem;">
              <span *ngIf="isGCCalendar">{{ 'crMgt.calendar-en' | translate }}</span>
              <span *ngIf="!isGCCalendar">{{ 'crMgt.calendar-et' | translate }}</span>
            </div>
          </div>
        </div>
        <div fxFlex="10" fxHide.xs>&nbsp;</div>        
      </div>      
      <div fxFlex fxLayoutAlign.xs="center">
        <mat-form-field class="full-width-input">
          <mat-label>{{ 'crMgt.correspondence.subject.label' | translate }}</mat-label>
          <input matInput placeholder="{{ 'crMgt.correspondence.subject.label' | translate }}" formControlName="subject"
            required />
          <mat-error *ngIf="form.get('subject').hasError('required')">
            {{ 'crMgt.correspondence.subject.error' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex fxLayoutAlign.xs="center" *ngIf="isCenter || isCollege || isOutgoingInternal">
        <mat-form-field class="full-width-input">
          <mat-label>{{ 'crMgt.correspondence.searchKeywords.label' | translate }}</mat-label>
          <textarea matInput [rows]="2" placeholder="{{ 'crMgt.correspondence.searchKeywords.label' | translate }}"
            formControlName="keyWord"></textarea>
          <mat-error *ngIf="form.get('keyWord').hasError('required')">
            {{ 'crMgt.correspondence.searchKeywords.error' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayout="column">
      <div fxFlex fxLayoutAlign.xs="center" *ngIf="isExternal || isOutgoingExternal">
        <mat-form-field class="full-width-input">
          <mat-label>{{ 'crMgt.correspondence.searchKeywords.label' | translate }}</mat-label>
          <textarea matInput [rows]="2" placeholder="{{ 'crMgt.correspondence.searchKeywords.label' | translate }}"
            formControlName="keyWord"></textarea>
          <mat-error *ngIf="form.get('keyWord').hasError('required')">
            {{ 'crMgt.correspondence.searchKeywords.error' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <fieldset fxFlex fxLayout="column" style="display: inline-block; padding: 10px; margin-bottom: 10px;">
        <legend>
          <span class="correspondence-description-attribution" *ngIf="isSource">
            {{ 'crMgt.correspondence.source' | translate }}
          </span>
          <span class="correspondence-description-attribution" *ngIf="isDestination">
            {{ 'crMgt.correspondence.destination' | translate }}
          </span>
        </legend>
        <div fxFlex fxLayoutAlign.xs="center" *ngIf="isCenter || isCollege || isOutgoingInternal">
          <mat-form-field style="width: 100%;">
            <mat-label *ngIf="isCenter">{{ 'crMgt.correspondence.center.label' | translate }}</mat-label>
            <mat-label *ngIf="isCollege">{{ 'crMgt.correspondence.college.label' | translate }}</mat-label>
            <mat-label *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoing.label' | translate }}</mat-label>
            <mat-select formControlName="from0" (selectionChange)="onCollegeSelect($event.value)">
              <mat-option *ngFor="let department of departmentItems" [value]="department.id">
                {{ department.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('from0').hasError('required')">
              <span *ngIf="isCenter">{{ 'crMgt.correspondence.center.error' | translate }}</span>
              <span *ngIf="isCollege">{{ 'crMgt.correspondence.college.error' | translate }}</span>
              <span *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoing.error' | translate }}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign.xs="center" *ngIf="isCenter || isCollege || isOutgoingInternal">
          <mat-form-field style="width: 100%;">
            <mat-label *ngIf="isCenter">{{ 'crMgt.correspondence.offices.label' | translate }}</mat-label>
            <mat-label *ngIf="isCollege">{{ 'crMgt.correspondence.collegeOffices.label' | translate }}</mat-label>
            <mat-label *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoingDept.label' | translate }}
            </mat-label>
            <mat-select formControlName="from1" (selectionChange)="onDepartmentSelect($event.value)">
              <mat-option *ngFor="let department of departments" [value]="department.id">
                {{ department.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('from1').hasError('required')">
              <span *ngIf="isCenter">{{ 'crMgt.correspondence.offices.error' | translate }}</span>
              <span *ngIf="isCollege">{{ 'crMgt.correspondence.collegeOffices.error' | translate }}</span>
              <span *ngIf="isOutgoingInternal">{{ 'crMgt.correspondence.internalOutgoingDept.error' | translate }}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign.xs="center" *ngIf="isCenter || isCollege || isOutgoingInternal">
          <mat-form-field style="width: 100%;">
            <mat-label>{{ 'crMgt.correspondence.department.label' | translate }}</mat-label>
            <mat-select formControlName="from">
              <mat-option *ngFor="let subDepartment of subDepartments" [value]="subDepartment.id">
                {{ subDepartment.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('from').hasError('required')">
              {{ 'crMgt.correspondence.department.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign.xs="center" *ngIf="isExternal || isOutgoingExternal">
          <mat-form-field style="width: 100%;">
            <mat-label>{{ 'crMgt.correspondence.organization.label' | translate }}</mat-label>
            <mat-select formControlName="from">
              <mat-option *ngFor="let organization of organizations" [value]="organization.id">
                {{ organization.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('from').hasError('required')">
              {{ 'crMgt.correspondence.organization.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </fieldset>
      <div fxFlex fxLayoutAlign.xs="center">
        <mat-checkbox class="full-width-input" formControlName="hasCc">
          {{ 'crMgt.correspondence.cc' | translate }}
        </mat-checkbox>
      </div>
    </div>
  </div>  
</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    {{ 'crMgt.correspondeForm.close' | translate }}&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
  </button>
  <button
    class="mat-raised-button mat-primary"
    [disabled]="loading"
    (click)="save()"
  >
    <span>
      {{ 'crMgt.correspondeForm.save' | translate }}&nbsp;&nbsp;
      <i class="mdi mdi-18px mdi-content-save-outline"></i>
    </span>
  </button>
  <img
    *ngIf="loading"
    class="loading-img"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  />
</mat-dialog-actions>
