h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

span {
  font-family: titillium web, sans-serif;
}

.full-width-input {
  width: 80%;
}

mat-form-field,
mat-select,
mat-option,
mat-checkbox {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.ripple {
  position: absolute;
  right: 0px;
  padding: 5px;
}

.ripple:active {
  background-color: gray;
  opacity: 0.2;
  background-size: 100%;
  border-radius: 50%;
  transition: background 0.2s;
}
