h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-dialog {
  font-family: titillium web, sans-serif;
  min-width: 350px;
}

div {
  font-family: titillium web, sans-serif;
  padding: 0px 0px 10px 0px;
}

button {
  font-family: titillium web, sans-serif;
}

.danger {
  color: #c0392b;
}

.success {
  color: #196f3d;
}
