<mat-dialog-content>
  <div *ngFor="let oneMessage of message.content">
    <span style="line-height: 20pt;" [ngClass]="{
        danger: message.type === 'error',
        success: message.type === 'success'
      }">
      {{ oneMessage }}
    </span>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()" mat-dialog-close>
    No&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-close-circle-outline" style="color: #c0392b"></i>
  </button>
  <button class="mat-raised-button mat-primary" [mat-dialog-close]="true">
    Yes&nbsp;&nbsp;
    <i class="mdi mdi-18px mdi-checkbox-marked-circle-outline"></i>
  </button>
</mat-dialog-actions>