<h2 mat-dialog-title>
    <i class="mdi mdi-24px mdi-comment-multiple" style="color: #2471A3;"></i>
    <span>&nbsp;&nbsp;{{ 'crMgt.comments.title' | translate }}</span>
  </h2>

<mat-divider></mat-divider>

<mat-dialog-content>
    <div fxLayout="column">
        <div fxFlex>
            <div fxLayout>
				<div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px;">
                    <i class="mdi mdi-24px mdi-file-document-outline" style="margin: 10px; color: #4A235A;"></i>
				</div>			
				<h3 class="dash-title">
                    {{ correspondence.referenceNo }}
                </h3>
			</div>
        </div>
        <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'"> 
            <hr class="divider" [ngClass.xs]="'divider_xs'"> 
        </div>
		<div fxFlex *ngIf="canAdd">
			<button mat-raised-button  color="primary" class="add-comment-btn" (click)="addComment()">
                <i class="mdi mdi-24px mdi-comment-plus-outline"></i>
                &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
            </button>                
        </div>
        <div fxFlex *ngIf="loading" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
            <mat-spinner style="margin: auto" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
        </div>
        <div fxFlex fxLayoutAlign="center" *ngIf="loading == false && dataSource.data.length == 0"
            style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
            <mat-card class="no-data-card">
                <h1 style="text-align: center;">
                    {{ 'crMgt.noData' | translate }}
                </h1>
            </mat-card>
        </div>
        <div fxFlex *ngIf="dataSource.data.length > 0">            
            <table mat-table matSort
                    [dataSource]="dataSource" multiTemplateDataRows
                    class="mat-elevation-z8">
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'crMgt.comments.order' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let comment">{{ comment.order }}</td>
                </ng-container>
                <ng-container  matColumnDef="commentedBy">
                    <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header> 
                        {{ 'crMgt.comments.commentedBy' | translate }}
                    </th>
                    <td fxHide.xs mat-cell *matCellDef="let comment"> 
                        {{ comment.commentedBy.first_name }} {{ comment.commentedBy.last_name }}
                    </td>
                </ng-container>
                <ng-container  matColumnDef="content">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'crMgt.comments.content.label' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let comment"> {{ comment.content }} </td>
                </ng-container>
                <ng-container  matColumnDef="commentDate">
                    <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'crMgt.comments.commentDate' | translate }}
                    </th>                
                    <td fxHide.xs mat-cell *matCellDef="let comment">
                        {{ comment.commentDate | date:"dd-MM-yyyy" }}
                        <span class="calendar">
                            {{ 'crMgt.calendar-en' | translate }}
                        </span> <br />
                        {{ comment.commentDate | convertDate }}
                        <span class="calendar">
                            {{ 'crMgt.calendar-et' | translate }}
                        </span>
                    </td>
                </ng-container>
                <ng-container  matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef class="operations-header"> 
                        {{ 'crMgt.correspondence.actions' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let comment" (click)="$event.stopPropagation()" class="operations">
                        <button fxHide.xs *ngIf="canEdit"  mat-button  color="primary"
                                    matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                                    [disabled]="(comment.commentedBy.id != currentUser.id)"
                                    (click)="editComment(comment)">
                            <i class="mdi mdi-24px mdi-comment-edit-outline" 
                            [ngStyle]="{color: (comment.commentedBy.id == currentUser.id) ? '#2471a3' : '#BDC3C7'}"></i>
                        </button>                        							
                        <button fxHide.xs *ngIf="canDelete" mat-button  color="primary" 
                                    matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" 
                                    (click)="deleteComment(comment)">
                            <i class="mdi mdi-24px mdi-comment-remove-outline" style="color: #C0392B;"></i>
                        </button>

                        <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
                            <span>
                                <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
                            </span>
                        </button>
                        <mat-menu #moreOption="matMenu">
                            <button *ngIf="canEdit" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                                [disabled]="(comment.commentedBy.id != currentUser.id)" (click)="editComment(comment)">
                                <i class="mdi mdi-24px mdi-comment-edit-outline" 
                                [ngStyle]="{color: (comment.commentedBy.id == currentUser.id) ? '#2471a3' : '#BDC3C7'}"></i>
                            </button>
                            <button mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                                (click)="previewComment(comment)">
                                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471A3;"></i>
                            </button>
                            <button *ngIf="canDelete" mat-button color="primary" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                                (click)="deleteComment(comment)">
                                <i class="mdi mdi-24px mdi-comment-remove-outline" style="color: #C0392B;"></i>
                            </button>

                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let comment; columns: displayedColumns;"
                    class="comment-row">
                </tr>
            </table>
            <mat-paginator #paginator [style.display]="loading === false ? 'block' : 'none'" 
						[length]="resultsLength" [pageSize]="3" 
						[pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</mat-dialog-content>
