h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  width: 60%;
  margin-bottom: 10px;
}

.full-width-input {
  width: 100%;
}

mat-form-field,
mat-select,
mat-option {
  font-family: titillium web, sans-serif;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}

.roles-margin {
  font-family: titillium web, sans-serif;
  margin-left: 10px;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
  font-family: titillium web, sans-serif;
}

mat-radio-button {
  margin: 5px;
}
