<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-48px mdi-account-group"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h1 class="dash-title">Users</h1>
      </div>
    </div>
    <div fxFlex>
      <hr class="divider" />
    </div>
    <div fxFlex *ngIf="canAdd">
      <button
        mat-raised-button
        color="primary"
        class="add-user-btn"
        (click)="addUser()"
      >
        <i class="mdi mdi-24px mdi-account-plus-outline"></i
        >&nbsp;&nbsp;&nbsp;Add
      </button>
    </div>
    <div fxFlex>
      <i class="mdi mdi-24px mdi-filter-outline"></i>&nbsp;
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>

    <div fxFlex>
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
        </ng-container>

        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef class="operations-header">
            Actions
          </th>
          <td
            mat-cell
            *matCellDef="let user"
            (click)="$event.stopPropagation()"
            class="operations"
          >
            <button *ngIf="canEdit"
              mat-button
              color="primary"
              matTooltip="Edit"
              (click)="editUser(user)"
            >
              <i
                class="mdi mdi-24px mdi-account-edit-outline"
                style="color: #2471a3"
              ></i>
            </button>
            <button *ngIf="canAssignRole"
              mat-button
              color="primary"
              matTooltip="Roles"
              style="font-family: titillium web, sans-serif"
              (click)="defineUserRole(user)"
            >
              <i
                class="mdi mdi-24px mdi-account-switch-outline"
                style="color: #2471a3"
              ></i>
            </button>
            <button *ngIf="canAssignMenus"
              mat-button
              color="primary"
              matTooltip="Menus"
              style="font-family: titillium web, sans-serif"
              (click)="defineUserMenus(user)"
            >
              <i
                class="mdi mdi-24px mdi-format-list-checks"
                style="color: #2471a3"
              ></i>
            </button>
            <button *ngIf="canMenuActions"
              mat-button
              color="primary"
              matTooltip="Menu Actions"
              style="font-family: titillium web, sans-serif"
              (click)="defineUserMenuActions(user)"
            >
              <i
                class="mdi mdi-24px mdi-file-tree-outline"
                style="color: #2471a3"
              ></i>
            </button>
            <button *ngIf="canChangeStatus"
              mat-button
              color="primary"
              matTooltip="{{ user.active ? 'Deactivate' : 'Activate' }}"
              style="font-family: titillium web, sans-serif"
              (click)="defineUserStatus(user)"
            >
              <i
                class="mdi mdi-24px mdi-account-off-outline"
                *ngIf="user.active"
                style="color: #7fb3d5"
              ></i>
              <i
                class="mdi mdi-24px mdi-account-reactivate-outline"
                *ngIf="!user.active"
                style="color: #2471a3"
              ></i>
            </button>
            <button *ngIf="canAssignDepartments"
              mat-button
              color="primary"
              matTooltip="Department"
              style="font-family: titillium web, sans-serif"
              (click)="defineUserDepartments(user)"
            >
              <i
                class="mdi mdi-24px mdi-badge-account-horizontal-outline"
                style="color: #2471a3"
              ></i>
            </button>
            <button *ngIf="canDelete"
              mat-button
              color="primary"
              matTooltip="Delete"
              (click)="deleteUser(user)"
            >
              <i
                class="mdi mdi-24px mdi-account-remove-outline"
                style="color: #c0392b"
              ></i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedUserDetail">
          <td
            mat-cell
            *matCellDef="let user"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="user-detail"
              [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'"
            >
              <div class="user-diagram">
                <div class="user-position">{{ user.id }}</div>
                <div class="user-symbol">
                  {{ user.firstName.substring(0, 2) }}
                </div>
                <div class="user-name">{{ user.firstName }}</div>
                <div class="user-weight">
                  {{ user.active ? "Active" : "In Active" }}
                </div>
              </div>
              <div class="user-description">
                {{ user.description }}
                <span class="user-description-attribution"> -- Wikipedia </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let user; columns: displayedColumns"
          class="user-row"
          [class.user-expanded-row]="expandedUser === user"
          (click)="expandedUser = expandedUser === user ? null : user"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedUserDetail']"
          class="user-detail-row"
        ></tr>
      </table>
      <mat-paginator
        #paginator
        [style.display]="loading === false ? 'block' : 'none'"
        [length]="resultsLength"
        [pageSize]="3"
        [pageSizeOptions]="[3, 5, 10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
