.container {
  width: 99%;
  min-height: 74vh;
  padding: 10px;
  background-color: #ebedef;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web, sans-serif;
  color: #4a235a;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.add-organization-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: titillium web, sans-serif;
  font-size: 100%;
}

mat-header-cell {
  font-family: titillium web, sans-serif;
  font-size: 1em;
}

mat-cell {
  font-family: titillium web, sans-serif;
}
