<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px">
          <div style="margin-bottom: -20px">
            <i class="mdi mdi-24px mdi-arrow-bottom-right-thin-circle-outline" style="color: #e74c3c"></i>
          </div>

          <div style="margin-top: -20px">
            <i class="mdi mdi-48px mdi-tray-full" style="margin: 10px; color: #4a235a"></i>
          </div>                  
        </div>
        <h1 class="dash-title">
          {{ 'crMgt.manuscript' | translate }}
        </h1>
      </div>
    </div>    
    <div fxFlex [style.margin-bottom]="canAdd ? '0px' : '20px'">
      <hr class="divider" [ngClass.xs]="'divider_xs'" />
    </div>    
    <div fxFlex *ngIf="canAdd">
      <button mat-raised-button color="primary" class="add-correspondence-btn" (click)="addManuscript($event)">
        <i class="mdi mdi-24px mdi-tray-plus"></i>&nbsp;&nbsp;&nbsp;
        {{ 'crMgt.menuActions.add' | translate }}
      </button>
    </div>
    <div fxFlex>
      <div>
        <i class="mdi mdi-24px mdi-database-search-outline"></i>&nbsp;
      
        <mat-form-field>
          <input matInput placeholder="{{ 'crMgt.filter' | translate }}" #input>
        </mat-form-field>
      </div>
      
      <div class="spinner-container" *ngIf="manuscriptDataSource.loading$ | async">
      
        <mat-spinner></mat-spinner>
      
      </div>
      <div class="table-container">
        <table mat-table matSort [dataSource]="manuscriptDataSource" multiTemplateDataRows class="mat-elevation-z8 correspondence-table">
          <ng-container matColumnDef="referenceNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.manuscriptRefNo.label' | translate }}
            </th>
            <td mat-cell *matCellDef="let manuscript">
              {{ manuscript.referenceNoFull }}
            </td>
          </ng-container>

          <ng-container matColumnDef="receivedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.receivedDate' | translate }}
            </th>
            <td mat-cell *matCellDef="let manuscript">
              {{ manuscript.receivedDateEC }}
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th fxHide.xs mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'crMgt.correspondence.title.label' | translate }}
            </th>
            <td fxHide.xs mat-cell *matCellDef="let manuscript">
              {{ manuscript.title | truncateString }}
              <span *ngIf="manuscript.title.length > 40">&hellip;</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef class="operations-header">
              {{ 'crMgt.correspondence.actions' | translate }}
            </th>
            <td mat-cell *matCellDef="let manuscript" (click)="$event.stopPropagation()" class="operations">              
              <button fxHide.xs *ngIf="canEdit" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.edit' | translate }}" [disabled]="(manuscript.status != 'New')"
                (click)="editManuscript(manuscript)">
                <i class="mdi mdi-24px mdi-file-document-edit-outline"
                  [ngStyle]="{color: manuscript.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs mat-button color="primary" matTooltip="{{ 'crMgt.author.pageTitle' | translate }}"
                [disabled]="(manuscript.status != 'New')" (click)="addAuthors(manuscript)">
                <i class="mdi mdi-24px mdi-head-lightbulb-outline"
                  [ngStyle]="{color: manuscript.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canUpload" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.upload' | translate }}" [disabled]="(manuscript.status != 'New')"
                (click)="uploadDocument(manuscript)">
                <i class="mdi mdi-24px mdi-progress-upload"
                  [ngStyle]="{color: manuscript.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canRoute" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.route' | translate }}" [disabled]="(manuscript.status == 'New')"
                (click)="assignManuscript(manuscript)">
                <i class="mdi mdi-24px mdi-file-swap-outline"
                  [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canRoute" mat-button color="primary"
                matTooltip="{{ 'crMgt.manuscriptRouting.previewAssignment' | translate }}"
                [disabled]="(manuscript.status == 'New')"
                (click)="previewManuscriptAssignmentHistory(manuscript)">
                <i class="mdi mdi-18px mdi-magnify-plus-cursor"
                  [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canComment" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.comment' | translate }}" [disabled]="(manuscript.status == 'New')"
                (click)="commentManuscript(manuscript)">
                <i class="mdi mdi-24px mdi-comment-multiple-outline"
                  [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canPreview" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                (click)="previewManuscript(manuscript)">
                <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471a3"></i>
              </button>
              <button fxHide.xs *ngIf="canArchive" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.archive' | translate }}" [disabled]="(manuscript.status == 'New')"
                (click)="archiveManuscript(manuscript)">
                <i class="mdi mdi-24px mdi-archive-arrow-down-outline"
                  [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.xs *ngIf="canDelete" mat-button color="primary"
                matTooltip="{{ 'crMgt.menuActions.delete' | translate }}" [disabled]="(manuscript.status != 'New')"
                (click)="deleteManuscript(manuscript)">
                <i class="mdi mdi-24px mdi-file-remove-outline"
                  [ngStyle]="{color: manuscript.status == 'New' ? '#c0392b' : '#BDC3C7'}"></i>
              </button>
              <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="moreOption">
                <span>
                  <i class="mdi mdi-24px mdi-dots-vertical" style="color: #2471a3"></i>
                </span>
              </button>
              <mat-menu #moreOption="matMenu">                
                <button *ngIf="canEdit" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.edit' | translate }}" [disabled]="(manuscript.status != 'New')"
                  (click)="editManuscript(manuscript)">
                  <i class="mdi mdi-24px mdi-file-document-edit-outline"
                    [ngStyle]="{color: manuscript.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button mat-button color="primary" matTooltip="{{ 'crMgt.author.pageTitle' | translate }}"
                  [disabled]="(manuscript.status != 'New')" (click)="addAuthors(manuscript)">
                  <i class="mdi mdi-24px mdi-head-lightbulb-outline"
                    [ngStyle]="{color: manuscript.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canUpload" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.upload' | translate }}"
                  [disabled]="(manuscript.status != 'New')" (click)="uploadDocument(manuscript)">
                  <i class="mdi mdi-24px mdi-progress-upload"
                    [ngStyle]="{color: manuscript.status == 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canRoute" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.route' | translate }}" [disabled]="(manuscript.status == 'New')"
                  (click)="assignManuscript(manuscript)">
                  <i class="mdi mdi-24px mdi-file-swap-outline"
                    [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canRoute" mat-button color="primary"
                  matTooltip="{{ 'crMgt.manuscriptRouting.previewAssignment' | translate }}"
                  [disabled]="(manuscript.status == 'New')"
                  (click)="previewManuscriptAssignmentHistory(manuscript)">
                  <i class="mdi mdi-18px mdi-magnify-plus-cursor"
                    [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canComment" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.comment' | translate }}"
                  [disabled]="(manuscript.status == 'New')" (click)="commentManuscript(manuscript)">
                  <i class="mdi mdi-24px mdi-comment-multiple-outline"
                    [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canPreview" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.preview' | translate }}"
                  (click)="previewManuscript(manuscript)">
                  <i class="mdi mdi-24px mdi-magnify-plus-outline" style="color: #2471a3"></i>
                </button>
                <button *ngIf="canArchive" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.archive' | translate }}"
                  [disabled]="(manuscript.status == 'New')" (click)="archiveManuscript(manuscript)">
                  <i class="mdi mdi-24px mdi-archive-arrow-down-outline"
                    [ngStyle]="{color: manuscript.status != 'New' ? '#2471a3' : '#BDC3C7'}"></i>
                </button>
                <button *ngIf="canDelete" mat-button color="primary"
                  matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                  [disabled]="(manuscript.status != 'New')" (click)="deleteManuscript(manuscript)">
                  <i class="mdi mdi-24px mdi-file-remove-outline"
                    [ngStyle]="{color: manuscript.status == 'New' ? '#c0392b' : '#BDC3C7'}"></i>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedIncomingManuscriptDetail">
            <td mat-cell *matCellDef="let manuscript" [attr.colspan]="displayedColumns.length">
              <div fxLayout="column" class="correspondence-detail" [@detailExpand]="
                  manuscript == expandedIncomingManuscript
                    ? 'expanded'
                    : 'collapsed'
                ">
                <div fxFlex>
                  <div fxFlex fxLayout fxLayout.xs="column">
                    <div fxFlex="20" fxFlex.xs=50 fxLayoutAlign="start">
                      <div class="correspondence-diagram">
                        <div class="correspondence-position">
                          {{ manuscript.id }}
                        </div>
                        <div class="correspondence-symbol">
                          {{ manuscript.referenceNoFull.substring(0, 3) }}
                        </div>
                        <div class="correspondence-name">
                          {{ manuscript.referenceNoFull }}
                        </div>
                        <div class="correspondence-weight">
                          {{ manuscript.destination.code }}
                        </div>
                      </div>
                    </div>
                    <div fxFlex fxLayout="column" fxHide.xs class="correspondence-description">
                      <div fxFlex fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="none">
                          <fieldset style="display: inline-block; padding: 10px;">
                            <legend>
                              <span class="correspondence-description-attribution">
                                {{ 'crMgt.correspondence.receivedDate' | translate }}
                              </span>
                            </legend>
                            {{ manuscript.receivedDate | date:"dd-MM-yyyy" }}
                            <span class="calendar">
                              {{ 'crMgt.calendar-en' | translate }}
                            </span><br />
                            {{ manuscript.receivedDateEC }}
                            <span class="calendar">
                              {{ 'crMgt.calendar-et' | translate }}
                            </span>
                          </fieldset>
                        </div>
                      </div>
                      <div fxFlex
                        style="padding: 5px 0px 5px 0px; line-height: 200%;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.destination' | translate }}
                        </span>:-
                        <span class="source_dept_1" style="font-size: 0.7rem;" *ngIf="!loadingDeptTree">
                          {{ (returnDepartmentTree(manuscript.destination.id)).split(" / ")[0] }}
                        </span>&nbsp;
                        <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                        <span class="source_dept_1" style="font-size: 0.8rem;" *ngIf="!loadingDeptTree">
                          {{ (returnDepartmentTree(manuscript.destination.id)).split(" / ")[1] }}
                        </span>
                        <img *ngIf="loadingDeptTree"
                          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        &nbsp;
                        <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                        <span class="source_dept_2" style="font-size: 0.9rem;" *ngIf="!loadingDeptTree">
                          {{ (returnDepartmentTree(manuscript.destination.id)).split(" / ")[2] }}
                        </span>
                        <img *ngIf="loadingDeptTree"
                          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.title.label' | translate }}
                        </span>:- {{ manuscript.title }}
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.searchKeywords.label' | translate }}
                        </span>:- {{ manuscript.keyWord.join(', ') }}
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.createdBy' | translate }}
                        </span>:- {{ manuscript.keyInBy.first_name }} {{ manuscript.keyInBy.last_name }}
                      </div>
                      <div fxFlex style="padding: 5px 0px 5px 0px;">
                        <span class="correspondence-description-attribution">
                          {{ 'crMgt.correspondence.status' | translate }}
                        </span>:- {{ manuscript.status }}
                      </div>
                    </div>
                  </div>
                  <div fxFlex=35 fxHide.xs>
                    <div fxLayout="column">
                      <div fxFlex style="margin-bottom: 10px;">
                        <span style="font-size: large;">{{ 'crMgt.author.pageTitle' | translate }}</span>
                      </div>
                      <div fxFlex style="margin-bottom: 10px; margin-left: 10px;"
                        *ngFor="let author of manuscript.authors">
                        <i class="mdi mdi-18px mdi-head-lightbulb-outline"></i>
                        <span>&nbsp;&nbsp;{{ author.first_name }} {{ author.father_name }}</span>
                      </div>
                      <div fxFlex fxLayoutAlign="center" *ngIf="manuscript.authors.length == 0"
                        style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
                        <mat-card class="no-data-card">
                          <h1 style="text-align: center;">
                            {{ 'crMgt.noData' | translate }}
                          </h1>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                  <div fxFlex=15 fxFlex.xs=25 fxLayout="column" fxLayout.xs fxLayoutGap.xs="10px"
                    fxLayoutAlign="center center" fxLayoutAlign.xs="center start">
                    <div *ngIf="manuscript.status == 'New'" fxFlex fxLayoutAlign="center end"
                      fxLayoutAlign.xs="end">
                      <button *ngIf="canAdd" mat-raised-button fxHide.xs class="add-correspondence-btn accept-btn"
                        (click)="acceptManuscript(manuscript)">
                        <i class="mdi mdi-24px mdi-handshake" style="color: #28B463;"></i>&nbsp;&nbsp;&nbsp;
                        <span>{{ 'crMgt.menuActions.accept' | translate }}</span>
                      </button>
                      <button *ngIf="canAdd" mat-mini-fab style="background-color: #28B463;" fxHide.gt-xs
                        (click)="acceptManuscript(manuscript)">
                        <i class="mdi mdi-24px mdi-handshake" title="{{ 'crMgt.menuActions.accept' | translate }}"></i>
                      </button>
                    </div>
                    <div *ngIf="manuscript.status == 'New'" fxFlex fxLayoutAlign="center start"
                      fxLayoutAlign.xs="start">
                      <button *ngIf="canAdd" mat-stroked-button fxHide.xs class="add-correspondence-btn reject-btn"
                        (click)="rejectManuscript(manuscript)">
                        <i class="mdi mdi-24px mdi-cancel" style="color: #c0392b;"></i>&nbsp;&nbsp;&nbsp;
                        <span>{{ 'crMgt.menuActions.reject' | translate }}</span>
                      </button>
                      <button *ngIf="canAdd" mat-mini-fab style="background-color: #c0392b;" fxHide.gt-xs
                        (click)="rejectManuscript(manuscript)">
                        <i class="mdi mdi-24px mdi-cancel" title="{{ 'crMgt.menuActions.reject' | translate }}"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex fxHide.gt-xs>
                  <div fxLayout="column" class="correspondence-description">
                    <div fxFlex fxLayout="row" fxLayoutGap="20px">
                      <div fxFlex="none">
                        <fieldset style="display: inline-block; padding: 10px;">
                          <legend>
                            <span class="correspondence-description-attribution">
                              {{ 'crMgt.correspondence.receivedDate' | translate }}
                            </span>
                          </legend>
                          {{ manuscript.receivedDate | date:"dd-MM-yyyy" }}
                          <span class="calendar">
                            {{ 'crMgt.calendar-en' | translate }}
                          </span><br />
                          {{ manuscript.receivedDateEC }}
                          <span class="calendar">
                            {{ 'crMgt.calendar-et' | translate }}
                          </span>
                        </fieldset>
                      </div>
                    </div>
                    <div fxFlex
                      style="padding: 5px 0px 5px 0px; line-height: 200%;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.destination' | translate }}
                      </span>:-
                      <span class="source_dept_1" style="font-size: 0.7rem;" *ngIf="!loadingDeptTree">
                        {{ (returnDepartmentTree(manuscript.destination.id)).split(" / ")[0] }}
                      </span>&nbsp;
                      <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                      <span class="source_dept_1" style="font-size: 0.8rem;" *ngIf="!loadingDeptTree">
                        {{ (returnDepartmentTree(manuscript.destination.id)).split(" / ")[1] }}
                      </span>
                      <img *ngIf="loadingDeptTree"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      &nbsp;
                      <i class="mdi mdi-arrow-right-drop-circle-outline" style="opacity: 0.8;"></i>&nbsp;
                      <span class="source_dept_2" style="font-size: 0.9rem;" *ngIf="!loadingDeptTree">
                        {{ (returnDepartmentTree(manuscript.destination.id)).split(" / ")[2] }}
                      </span>
                      <img *ngIf="loadingDeptTree"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.title.label' | translate }}
                      </span>:- {{ manuscript.title }}
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.searchKeywords.label' | translate }}
                      </span>:- {{ manuscript.keyWord.join(', ') }}
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.createdBy' | translate }}
                      </span>:- {{ manuscript.keyInBy.first_name }} {{ manuscript.keyInBy.last_name }}
                    </div>
                    <div fxFlex style="padding: 5px 0px 5px 0px;">
                      <span class="correspondence-description-attribution">
                        {{ 'crMgt.correspondence.status' | translate }}
                      </span>:- {{ manuscript.status }}
                    </div>
                    <div fxFlex style="margin-top: 10px;">
                      <div fxLayout="column">
                        <div fxFlex style="margin-bottom: 10px;">
                          <span style="font-size: large;">{{ 'crMgt.author.pageTitle' | translate }}</span>
                        </div>
                        <div fxFlex style="margin-bottom: 10px; margin-left: 10px;"
                          *ngFor="let author of manuscript.authors">
                          <i class="mdi mdi-18px mdi-head-lightbulb-outline"></i>
                          <span>
                            {{ author.first_name }} {{ author.father_name }}
                          </span>
                        </div>
                        <div fxFlex fxLayoutAlign="center" *ngIf="manuscript.authors.length == 0"
                          style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
                          <mat-card class="no-data-card">
                            <h1 style="text-align: center;">
                              {{ 'crMgt.noData' | translate }}
                            </h1>
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let manuscript; columns: displayedColumns" class="correspondence-row"
            [class.correspondence-expanded-row]="
              expandedIncomingManuscript === manuscript
            " (click)="
              expandedIncomingManuscript =
                expandedIncomingManuscript === manuscript
                  ? null
                  : manuscript
            "></tr>
          <tr mat-row *matRowDef="
              let row;
              columns: ['expandedIncomingManuscriptDetail']
            " class="correspondence-detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4" *ngIf="!(manuscriptDataSource.loading$ | async)"
              style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
              <mat-card class="no-data-card" style="margin-left: auto; margin-right: auto;">
                <h1 style="text-align: center;">
                  {{ 'crMgt.noData' | translate }}
                </h1>
              </mat-card>
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator #paginator [length]="manuscriptDataSource.resultsLength$ | async" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>