mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.password-title {
	font-family: titillium web,sans-serif;
}

.password-content {
  padding: 50px 1rem;
}

.full-width-input {
  width: 100%;
}