<div class="password-content">
  <mat-card>
  	<mat-card-header>
			<mat-card-title><h1 class="password-title">Forgot Password</h1></mat-card-title>
	</mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width-input">
      	<mat-label style="font-family: titillium web,sans-serif;">Email</mat-label>
      	<input matInput placeholder="Email" formControlName="email" required style="font-family: titillium web,sans-serif;" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <mat-error *ngIf="form.get('email').hasError('required')">
            Username is required
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('pattern')">
          Invalid Email
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" style="font-family: titillium web,sans-serif;">Send</button>        
    </form>
  </mat-card-content>
  <mat-card-actions>
			<button mat-button (click)="login_form()" color="primary" style="font-family: titillium web,sans-serif;">Sign In</button>
	</mat-card-actions>
  </mat-card>
</div>

 