<div class="container">
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i class="mdi mdi-48px mdi-file-move"></i>
        </div>
        <h1 class="dash-title">Outgoing</h1>
      </div>
    </div>
    <div fxFlex>
      <hr class="divider" />
    </div>
    <div fxFlex>
      <button
        mat-raised-button
        color="primary"
        class="add-correspondence-btn"
        (click)="addCorrespondence()"
      >
        <i class="mdi mdi-24px mdi-file-plus-outline"></i>&nbsp;&nbsp;&nbsp;Add
      </button>
    </div>
    <div fxFlex>
      <i class="mdi mdi-24px mdi-filter-outline"></i>&nbsp;
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-tab-group (selectedTabChange)="outgoingTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="mdi mdi-18px mdi-arrow-top-right-thin-circle-outline"></i
            >&nbsp;
            <span class="class-mat-tab">Internal</span>
          </ng-template>
          <div>
            <table
              mat-table
              matSort
              [dataSource]="outgoingInternalDataSource"
              multiTemplateDataRows
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="referenceNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Reference No
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.referenceNo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="letterDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Letter Date
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.letterDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Destination
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.destination.description }}
                </td>
              </ng-container>

              <ng-container matColumnDef="sentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Sent Date
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.sentDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef class="operations-header">
                  Actions
                </th>
                <td
                  mat-cell
                  *matCellDef="let correspondence"
                  (click)="$event.stopPropagation()"
                  class="operations"
                >
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Edit"
                    (click)="editCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-file-document-edit-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Upload Document"
                    (click)="uploadDocument(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-progress-upload"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Comments"
                    (click)="commentCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-comment-multiple-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Preview"
                    (click)="previewCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-magnify-plus-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Route"
                    (click)="previewCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-file-swap-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Archive"
                    (click)="deleteCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-archive-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Delete"
                    (click)="deleteCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-file-remove-outline"
                      style="color: #c0392b"
                    ></i>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="expandedInternalCorrespondenceDetail">
                <td
                  mat-cell
                  *matCellDef="let correspondence"
                  [attr.colspan]="displayedColumns.length"
                >
                  <div
                    class="correspondence-detail"
                    [@detailExpand]="
                      correspondence == expandedInternalCorrespondence
                        ? 'expanded'
                        : 'collapsed'
                    "
                  >
                    <div class="correspondence-diagram">
                      <div class="correspondence-position">
                        {{ correspondence.id }}
                      </div>
                      <div class="correspondence-symbol">
                        {{ correspondence.referenceNo.substring(0, 2) }}
                      </div>
                      <div class="correspondence-name">
                        {{ correspondence.referenceNo }}
                      </div>
                      <div class="correspondence-weight">
                        {{ correspondence.destination.description }}
                      </div>
                    </div>
                    <div class="correspondence-description">
                      <div style="margin-bottom: 5px">
                        <span class="correspondence-description-attribution">
                          Subject </span
                        >-- {{ correspondence.subject }}
                      </div>
                      <div style="margin-bottom: 5px">
                        <span class="correspondence-description-attribution">
                          Date Sent </span
                        >-- {{ correspondence.sentDate }}
                      </div>
                      <div>
                        <span class="correspondence-description-attribution">
                          Search Keywords </span
                        >-- {{ correspondence.keyWord }}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let correspondence; columns: displayedColumns"
                class="correspondence-row"
                [class.correspondence-expanded-row]="
                  expandedInternalCorrespondence === correspondence
                "
                (click)="
                  expandedInternalCorrespondence =
                    expandedInternalCorrespondence === correspondence
                      ? null
                      : correspondence
                "
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: ['expandedInternalCorrespondenceDetail']
                "
                class="correspondence-detail-row"
              ></tr>
            </table>
            <mat-paginator
              #internalPaginator
              [style.display]="loading === false ? 'block' : 'none'"
              [length]="internalResultsLength"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 10]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="mdi mdi-18px mdi-arrow-top-left-thin-circle-outline"></i
            >&nbsp;
            <span class="class-mat-tab">External</span>
          </ng-template>
          <div>
            <table
              mat-table
              matSort
              [dataSource]="outgoingExternalDataSource"
              multiTemplateDataRows
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="referenceNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Reference No
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.referenceNo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="letterDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Letter Date
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.letterDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Destination
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.destination.description }}
                </td>
              </ng-container>

              <ng-container matColumnDef="sentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Sent Date
                </th>
                <td mat-cell *matCellDef="let correspondence">
                  {{ correspondence.sentDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef class="operations-header">
                  Actions
                </th>
                <td
                  mat-cell
                  *matCellDef="let correspondence"
                  (click)="$event.stopPropagation()"
                  class="operations"
                >
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Edit"
                    (click)="editCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-file-document-edit-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Upload Document"
                    (click)="uploadDocument(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-progress-upload"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Comments"
                    (click)="commentCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-comment-multiple-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Preview"
                    (click)="previewCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-magnify-plus-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Route"
                    (click)="previewCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-file-swap-outline"
                      style="color: #2471a3"
                    ></i>
                  </button>
                  <tr
                    mat-button
                    color="primary"
                    matTooltip="Archive"
                    (click)="deleteCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-archive-outline"
                      style="color: #2471a3"
                    ></i>
                  </tr>
                  <button
                    mat-button
                    color="primary"
                    matTooltip="Delete"
                    (click)="deleteCorrespondence(correspondence)"
                  >
                    <i
                      class="mdi mdi-24px mdi-file-remove-outline"
                      style="color: #c0392b"
                    ></i>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="expandedExternalCorrespondenceDetail">
                <td
                  mat-cell
                  *matCellDef="let correspondence"
                  [attr.colspan]="displayedColumns.length"
                >
                  <div
                    class="correspondence-detail"
                    [@detailExpand]="
                      correspondence == expandedExternalCorrespondence
                        ? 'expanded'
                        : 'collapsed'
                    "
                  >
                    <div class="correspondence-diagram">
                      <div class="correspondence-position">
                        {{ correspondence.id }}
                      </div>
                      <div class="correspondence-symbol">
                        {{ correspondence.referenceNo.substring(0, 2) }}
                      </div>
                      <div class="correspondence-name">
                        {{ correspondence.referenceNo }}
                      </div>
                      <div class="correspondence-weight">
                        {{ correspondence.destination.code }}
                      </div>
                    </div>
                    <div class="correspondence-description">
                      <div style="margin-bottom: 5px">
                        <span class="correspondence-description-attribution">
                          Subject </span
                        >-- {{ correspondence.subject }}
                      </div>
                      <div style="margin-bottom: 5px">
                        <span class="correspondence-description-attribution">
                          Date Sent </span
                        >-- {{ correspondence.sentDate }}
                      </div>
                      <div>
                        <span class="correspondence-description-attribution">
                          Search Keywords </span
                        >-- {{ correspondence.keyWord }}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let correspondence; columns: displayedColumns"
                class="correspondence-row"
                [class.correspondence-expanded-row]="
                  expandedExternalCorrespondence === correspondence
                "
                (click)="
                  expandedExternalCorrespondence =
                    expandedExternalCorrespondence === correspondence
                      ? null
                      : correspondence
                "
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: ['expandedExternalCorrespondenceDetail']
                "
                class="correspondence-detail-row"
              ></tr>
            </table>
            <mat-paginator
              #externalPaginator
              [style.display]="loading === false ? 'block' : 'none'"
              [length]="externalResultsLength"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 10]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
