h2 {
  font-family: titillium web, sans-serif;
  font-size: 120%;
}

.full-width-input {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-form-field {
  font-family: titillium web, sans-serif;
}

mat-error {
  font-family: titillium web, sans-serif;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
  font-family: titillium web, sans-serif;
}

mat-radio-button {
  margin: 5px;
}

ul {
  font-family: titillium web, sans-serif;
}

li {
  list-style: none;
}

button {
  font-family: titillium web, sans-serif;
}

.loading-img {
  margin-left: -40px;
}
