/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@mdi/font/css/materialdesignicons.css";

.mat-tooltip {
  font-family: titillium web, sans-serif !important;
}

.mat-paginator {
  font-family: titillium web, sans-serif !important;
}

.doc-previewer-dialog-container .mat-dialog-container {
  width: 65vw;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.doc-previewer-dialog-container .mat-dialog-content {
  height: 50%;
  max-height: 90% !important;
  overflow: auto;
}

.img-previewer-dialog-container .mat-dialog-container {
  max-width: 65vw;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
  padding: 5px;
}

.img-previewer-dialog-container .mat-dialog-content {
  height: 50%;
  max-height: 90% !important;
  overflow: auto;
}

.doc-comment-dialog-container .mat-dialog-container {
  width: 90vw;
  min-height: 62vh;
}

.doc-comment-dialog-container .mat-dialog-content {
  background-color: #f7f9f9;
  height: 52vh;
  max-height: 100% !important;
  overflow-y: auto;
}

.assessor-dialog-container .mat-dialog-container {
  width: 550px;
}

@media only screen and (max-width: 599px) {
  .assessor-dialog-container .mat-dialog-container {
    width: 350px;
  }
}

.no-data-card {
  font-family: titillium web, sans-serif;
  width: 160px;
}

:lang(am) .no-data-card {
  font-family: Ethiopia Jiret;
}

:root {
  --blue_bold: #3498db;
  --blue_light: #5dade2;
  --green-bold: #27ae60;
  --green-light: #52be80;
  --red-bold: #e74c3c;
  --red-light: #ec7063;
  --purple-bold: #8e44ad;
  --purple-light: #a569bd;
  --dark-red-bold: #c0392b;
  --dark-red-light: #cd6155;
}
