<h2 mat-dialog-title>
  <i class="mdi mdi-24px mdi-progress-upload" style="color: #2471a3"></i>
  <span>&nbsp;&nbsp;
    {{ 'crMgt.menuActions.upload' | translate }}
  </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex>
      <div fxLayout>
        <div
          style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px"
        >
          <i
            class="mdi mdi-24px mdi-file-document-outline"
            style="margin: 10px; color: #4a235a"
          ></i>
        </div>
        <h3 class="dash-title">
          {{ correspondence.referenceNo }}
        </h3>
      </div>
    </div>
    <div fxFlex [style.margin-bottom]="canAddUpload ? '0px' : '20px'">
      <hr class="divider" [ngClass.xs]="'divider_xs'" />
    </div>
    <div fxFlex *ngIf="canAddUpload">
      <button
        mat-raised-button
        [matMenuTriggerFor]="menu"
        color="primary"
        class="add-image-btn"        
      >
        <i class="mdi mdi-24px mdi-image-plus"></i>
        &nbsp;&nbsp;&nbsp;{{ 'crMgt.menuActions.add' | translate }}
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item (click)="uploadImage('Main')" class="add-upload-btn">
          <span>{{ 'crMgt.mainImages' | translate }}</span>
        </button>
        <button mat-menu-item (click)="uploadImage('Attachment')" class="add-upload-btn">
          <span>{{ 'crMgt.attachmentImage' | translate }}</span>
        </button>        
      </mat-menu>
    </div>
    <div fxFlex fxLayoutAlign="center" *ngIf="main_images.length == 0 && attachment_images.length == 0"
      style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
      <mat-card class="no-data-card">
        <h1 style="text-align: center;">
          {{ 'crMgt.noData' | translate }}
        </h1>
      </mat-card>
    </div>
    <div fxFlex *ngIf="main_images.length > 0 || attachment_images.length > 0">
      <mat-card style="overflow-x: auto">
        <div fxLayout fxLayoutAlign="start">
          <div fxFlex fxLayout fxLayout.xs="column" fxLayoutGap="20px">
            <div
              fxFlex
              fxLayoutAlign.xs="center"
              *ngFor="let image of main_images"
              style="position: relative;"
            >
              <div
                *ngIf="canEditUpload"
                class="image-option-icon edit-icon"
                [ngClass.xs]="'edit-icon-xs'"
                (click)="editUploadedImage(image)"
              >
                <i
                  class="mdi mdi-18px mdi-image-edit-outline"
                  matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"
                ></i>
              </div>
              <div
                *ngIf="canDeleteUpload"
                class="image-option-icon delete-icon"
                [ngClass.xs]="'delete-icon-xs'"
              >
                <i
                  class="mdi mdi-18px mdi-image-remove"
                  matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"
                ></i>
              </div>
              <img
                class="thumb-preview"                               
                [src]="sanitize(image.variant)"
                width="150"
                height="180"
                style="border: 4px double #2471a3; padding: 3px; object-fit: cover"
                (click)="previewUploadedImage(image)" 
              />
            </div>
            <div fxFlex fxLayoutAlign.xs="center" *ngFor="let att_image of attachment_images" style="position: relative;">
              <div *ngIf="canEditUpload" class="image-option-icon edit-icon" [ngClass.xs]="'edit-icon-xs'" (click)="editUploadedImage(att_image)">
                <i class="mdi mdi-18px mdi-image-edit-outline" matTooltip="{{ 'crMgt.menuActions.edit' | translate }}"></i>
              </div>
              <div *ngIf="canDeleteUpload" class="image-option-icon delete-icon" [ngClass.xs]="'delete-icon-xs'">
                <i class="mdi mdi-18px mdi-image-remove" matTooltip="{{ 'crMgt.menuActions.delete' | translate }}"></i>
              </div>
              <img class="thumb-preview" [src]="sanitize(att_image.variant)" width="150" height="180"
                style="border: 4px double #A93226; padding: 3px; object-fit: cover" (click)="previewUploadedImage(att_image)" />
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
