.container {
	width: 98%;
	min-height: 75vh;
	margin: 10px;
	background-color: #EBEDEF;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}


.my-profile-title-1{
	margin: auto;
	height: 130px;
	background-color: rgba(4, 137, 248, 0.4);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
}

.my-profile-title-2 {
	width: 50%;
	margin: auto;
	padding-top: 5px;
}

h2 {
	width: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	font-family: titillium web;
	color: rgba(20, 90, 50, 1);
}

h4 {
	width: 168px;
	margin: auto;
	font-family: titillium web,sans-serif;
	color: rgba(30, 132, 73, 1); 
	font-weight: bold;
}

.my-profile-details {
	position: fixed;
	margin: auto;
	width: 96.8%;
	min-height: 380px;
	background-color: rgba(4, 137, 248, 0.2);
}

mat-card {
	margin: auto;
	margin-top: -20px;
	width: 500px;
	border-radius: 2%;
}

.my-profile-icon {
	border: 1.5px solid #6E2C00;
	width: 150px;
	height: 150px; 
	border-radius: 50%; 	
	padding-top: 10px;
}

.contact-detail {
	padding-top: 15px;
}

.contact-detail-field {
	font-weight: bold;
	font-family:titillium web,sans-serif;
}

.contact-detail-field-value {
	margin-left: 10px;
	font-family:titillium web,sans-serif;
}
