<div class="container">
	<div fxLayout="column">
		<div fxFlex style="border-top-left-radius: 10%; border-top-right-radius: 10%;">
			<div class="my-profile-title-1">
				<div class="my-profile-title-2">
					<h2>My Profile</h2>
					<h4>Here are your details!</h4>
				</div>
			</div>
		</div>
		<div fxFlex>
			<div class="my-profile-details">
				<mat-card>				  
				  	<mat-card-content>
				  		<div fxLayout="row">
				  			<div fxFlex>
				  				<div style="padding-left: 10px; margin-left: 10px;" class="my-profile-icon" >
				  					<!-- <span><i class="material-icons">phone_in_talk</i></span> -->
				  					<img src="../../../assets/icons/account_circle.png" width="120px" height="120px" style="margin-left: 10px; margin-top: 10px;" />
				  				</div>
				  			</div>
				  			<div fxFlex>
				  				<div fxLayout="column" *ngIf="currentUser">
				  					<div fxFlex class="contact-detail">
				  						<span class="contact-detail-field">First Name: </span>
				  						<span class="contact-detail-field-value">{{currentUser.firstName}}</span>
				  					</div>
				  					<div fxFlex class="contact-detail">
				  						<span class="contact-detail-field">Last Name: </span>
				  						<span class="contact-detail-field-value">{{currentUser.lastName}}</span>
				  					</div>
				  					<div fxFlex class="contact-detail">
				  						<span class="contact-detail-field">Email: </span>
				  						<span class="contact-detail-field-value">{{currentUser.userName}}</span>
				  					</div>
				  					<div fxFlex class="contact-detail">
				  						<span class="contact-detail-field">Status: </span>
				  						<span class="contact-detail-field-value">{{currentUser.active? 'Active': 'In Active'}}</span>
				  					</div>
				  					<div fxFlex class="contact-detail">
				  					</div>
				  					<div fxFlex class="contact-detail">
				  					</div>				  		
				  					<div fxFlex class="contact-detail">
				  						<div fxLayout="row">
				  							<div fxFlex=40%>
				  								<button mat-button (click)="editUser()" color="primary" style="font-family: titillium web,sans-serif;">
													<i class="mdi mdi-24px mdi-account-edit" style="color: #2471A3;"></i>&nbsp;&nbsp;
													Edit
												</button>
				  								
				  							</div>
				  							<div fxFlex>
				  								<button mat-button (click)="changePassword()" color="primary" style="font-family: titillium web,sans-serif;">
													<i class="mdi mdi-24px mdi-form-textbox-password" style="color: #2471A3;"></i>&nbsp;&nbsp;													  
													Change Password
												</button>
				  							</div>
				  						</div>				  					
				  					</div>
				  					<div fxFlex class="contact-detail">
				  					</div>
				  				</div>
				  			</div>
				  		</div>			
				  	</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>