<!-- <mat-card>
	<mat-card-header>
		<mat-card-title>
			<div>
			    <h5 class="dash-title">Dashboards</h5>
			    <h2 style="font-family: 'Comfortaa';">Overview</h2>
			</div>

			<hr class="divider">

			<div class="div-canvas">
				<div>
			  		<canvas baseChart width=200 height=200
			              [data]="usersChartData"
			              [labels]="usersChartLabels"
			              [chartType]="usersChartType"
			              [options]="usersChartOptions"
						  [legend]="false"
			              (chartHover)="usersChartHovered($event)"
			              (chartClick)="usersChartClicked($event)"></canvas>
			    </div>
			    <div class="div-canvas-title" style="width: 40px;">
			    	<strong class="canvas-title">Users</strong>
			    </div>
			    <div style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
			    	<h5 style="color: #0F95E6;">Active vs Inactive</h5>
			    </div>
			</div>
			<div class="div-canvas">
				<div>
			  		<canvas baseChart width=200 height=200
			              [data]="officesChartData"
			              [labels]="officesChartLabels"
			              [chartType]="officesChartType"
			              [options]="officesChartOptions"
						  [legend]="false"
			              (chartHover)="officesChartHovered($event)"
			              (chartClick)="officesChartClicked($event)"></canvas>
			    </div>
			    <div class="div-canvas-title" style="width: 50px;">
			    	<strong class="canvas-title">Offices</strong>
			    </div>
			    <div style="width: 190px; margin-left: auto; margin-right: auto; text-align: center;">
			    	<h5 style="color: #0F95E6;">Academic vs Administrative</h5>
			    </div>
			</div>

			<div class="div-canvas" style="margin-right: 30px;">
				<div>
			  		<canvas baseChart width=200 height=200
			              [data]="documentsChartData"
			              [labels]="documentsChartLabels"
			              [chartType]="documentsChartType"
			              [colors]="documentsChartColors"
			              [options]="documentsChartOptions"
						  [legend]="false"
			              (chartHover)="documentsChartHovered($event)"
			              (chartClick)="documentsChartClicked($event)"></canvas>
			    </div>
			    <div class="div-canvas-title" style="width: 75px;">
			    	<strong class="canvas-title">Documents</strong>
			    </div>
			    <div style="width: 150px; margin-left: auto; margin-right: auto; text-align: center;">
			    	<h5 style="color: #0F95E6;">Incoming vs Outgoing</h5>
			    </div>
			</div>
		</mat-card-title>
	</mat-card-header>
</mat-card> -->

<div class="container" fxLayout="column">
	<div fxFlex>
		<div fxLayout fxLayoutGap="10px">
			<div style="padding-top: 5px;">
				<i class="mdi mdi-48px mdi-view-dashboard" style="margin: 10px; color: #4A235A;"></i>
			</div>			
			<h1 class="dash-title">Dashboard</h1>
		</div>
		<span>			
			<h2 style="font-family: titillium web,sans-serif;;">Overview</h2>
		</span>
		
	</div>
	<div fxFlex>
		<hr class="divider">
	</div>
	<div fxFlex>		
		<div fxLayout fxLayout.xs="column">
			<div class="card">
				<div class="card-icon">
					<img src="../../../assets/icons/people.png" />
				</div>
				<div class="card-title">
					<h3>Users</h3>
				</div>
				<div class="card-sub-title">
					<h5>Active / Inactive</h5>
				</div>
				<div class="card-line">
					<hr class="card-divider">
				</div>
				<div class="card-content">
					<div class="card-canvas">
				  		<canvas baseChart width=200 height=200
				              [data]="usersChartData"
				              [labels]="usersChartLabels"
				              [chartType]="usersChartType"
				              [colors]="usersChartColors"
				              [options]="usersChartOptions"
							  [legend]="false"
				              (chartHover)="usersChartHovered($event)"
				              (chartClick)="usersChartClicked($event)"></canvas>					   
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-icon">
					<img src="../../../assets/icons/folder_open.png" />
				</div>
				<div class="card-title">
					<h3>Documents</h3>
				</div>
				<div class="card-sub-title">
					<h5>Incoming / Outgoing / Memo</h5>
				</div>
				<div class="card-line">
					<hr class="card-divider">
				</div>
				<div class="card-content">
					<div class="card-canvas">
				  		<canvas baseChart width=200 height=200
				              [data]="documentsChartData"
				              [labels]="documentsChartLabels"
				              [chartType]="documentsChartType"
				              [colors]="documentsChartColors"
				              [options]="documentsChartOptions"
							  [legend]="false"
				              (chartHover)="documentsChartHovered($event)"
				              (chartClick)="documentsChartClicked($event)"></canvas>					   
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-icon">
					<img src="../../../assets/icons/save_alt.png" />
				</div>
				<div class="card-title">
					<h3>Document Origins</h3>
				</div>
				<div class="card-sub-title">
					<h5>Internal / External</h5>
				</div>
				<div class="card-line">
					<hr class="card-divider">
				</div>
				<div class="card-content">
					<div class="card-canvas">
				  		<canvas baseChart width=200 height=200
				              [data]="documentOriginsChartData"
				              [labels]="documentOriginsChartLabels"
				              [chartType]="documentOriginsChartType"
				              [colors]="documentOriginsChartColors"
				              [options]="documentOriginsChartOptions"
							  [legend]="false"
				              (chartHover)="documentOriginsChartHovered($event)"
				              (chartClick)="documentOriginsChartClicked($event)"></canvas>					   
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-icon">
					<img src="../../../assets/icons/home.png" />
				</div>
				<div class="card-title">
					<h3>Offices</h3>
				</div>
				<div class="card-sub-title">
					<h5>Academic / Administrative</h5>
				</div>
				<div class="card-line">
					<hr class="card-divider">
				</div>
				<div class="card-content">
					<div class="card-canvas">
				  		<canvas baseChart width=200 height=200
				              [data]="officesChartData"
				              [labels]="officesChartLabels"
				              [chartType]="officesChartType"
				              [colors]="officesChartColors"
				              [options]="officesChartOptions"
							  [legend]="false"
				              (chartHover)="officesChartHovered($event)"
				              (chartClick)="officesChartClicked($event)"></canvas>					   
					</div>
				</div>
			</div>
		</div>
	</div>
	<div fxFlex>

	</div>
</div>