.container {
  width: 100%;
  min-height: 75vh;
  padding: 10px;
  background-color: #EBEDEF;
}

.dash-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 180%;
  font-family: titillium web,sans-serif;
  color: #4A235A;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.divider {
  width: 20%;
  float: left;
}

.card {
  width: 250px;
  height: 300px;
  margin: 20px;
  border: 1px solid #5DADE2;
  border-radius: 5%;
  background-color: white;
}

.card-icon {
  width: 50px;
  height: 50px;
  box-shadow: 3px 3px #aaaaaa;
  border-radius: 30%;
  background-color: #F5B041;
  margin-top: -15px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 5px;
  float: left;
}

.card-title{
  float:right;
  margin-right: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: titillium web,sans-serif;
}

.card-sub-title {
  clear: right;
  float: right;
  margin-right: 10px;
}

h5 {  
  margin-top: 0px; 
  margin-bottom: 5px; 
  font-weight: normal;
  font-family: titillium web,sans-serif; 
  color: rgba(0, 0, 0, 0.54);
}

.card-line {
  clear: right;
  float: right;
    width: 40%; 
  color: #F5B041;
}

.card-divider {
  border: 2px solid #AED6F1;
}

.card-content {
  float: left;
  margin: 5px;
}

.card-canvas {
  display: block; 
  margin-left: 20px;
  padding-right: auto;
  margin-top: 5px; 
  margin-bottom: 5px;
}

.mat-icon {
    margin: 10px;
    transform: scale(2);
}